/*
    So you like the style of impress.js demo?
    Or maybe you are just curious how it was done?

    You couldn't find a better place to find out!

    Welcome to the stylesheet impress.js demo presentation.

    Please remember that it is not meant to be a part of impress.js and is
    not required by impress.js.
    I expect that anyone creating a presentation for impress.js would create
    their own set of styles.

    But feel free to read through it and learn how to get the most of what
    impress.js provides.

    And let me be your guide.

    Shall we begin?
*/
/*
    We start with a good ol' reset.
    That's the one by Eric Meyer http://meyerweb.com/eric/tools/css/reset/

    You can probably argue if it is needed here, or not, but for sure it
    doesn't do any harm and gives us a fresh start.
*/
/* line 43, ../../scss/impress.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 54, ../../scss/impress.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 57, ../../scss/impress.scss */
body {
  line-height: 1;
}

/* line 60, ../../scss/impress.scss */
ol, ul {
  list-style: none;
}

/* line 63, ../../scss/impress.scss */
blockquote, q {
  quotes: none;
}

/* line 67, ../../scss/impress.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 72, ../../scss/impress.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
    Now here is when interesting things start to appear.

    We set up <body> styles with default font and nice gradient in the background.
    And yes, there is a lot of repetition there because of -prefixes but we don't
    want to leave anybody behind.
*/
/* line 84, ../../scss/impress.scss */
body {
  /*
  background: rgb(215, 215, 215);
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(240, 240, 240)), to(rgb(190, 190, 190)));
  background: -webkit-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
  background:    -moz-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
  background:     -ms-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
  background:      -o-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
  background:         radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
  */
}

/*********************************
* Namespace #impress styles
*
**********************************/
/* line 103, ../../scss/impress.scss */
#impress {
  /*
      Now let's bring some text styles back ...
  */
  /*
      ... and give links a nice look.
  */
  /*
      Because the main point behind the impress.js demo is to demo impress.js
      we display a fallback message for users with browsers that don't support
      all the features required by it.
  
      All of the content will be still fully accessible for them, but I want
      them to know that they are missing something - that's what the demo is
      about, isn't it?
  
      And then we hide the message, when support is detected in the browser.
  */
  /*
      Now let's style the presentation steps.
  
      We start with basics to make sure it displays correctly in everywhere ...
  */
  /*
      ... and we enhance the styles for impress.js.
  
      Basically we remove the margin and make inactive steps a little bit transparent.
  */
  /*
      These 'slide' step styles were heavily inspired by HTML5 Slides:
      http://html5slides.googlecode.com/svn/trunk/styles.css
  
      ;)
  
      They cover everything what you see on first three steps of the demo.
  */
  /*
      And now we start to style each step separately.
  
      I agree that this may be not the most efficient, object-oriented and
      scalable way of styling, but most of steps have quite a custom look
      and typography tricks here and there, so they had to be styled separately.
  
      First is the title step with a big <h1> (no room for padding) and some
      3D positioning along Z axis.
  */
  /*
      Second step is nothing special, just a text with a link, so it doesn't need
      any special styling.
  
      Let's move to 'big thoughts' with centered text and custom font sizes.
  */
  /*
      'Tiny ideas' just need some tiny styling.
  */
  /*
      This step has some animated text ...
  */
  /*
      ... so we define display to `inline-block` to enable transforms and
      transition duration to 0.5s ...
  */
  /*
      ... and we want 'positioning` word to move up a bit when the step gets
      `present` class ...
  */
  /*
      ... 'rotating' to rotate a quarter of a second later ...
  */
  /*
      ... and 'scaling' to scale down after another quarter of a second.
  */
  /*
      The 'imagination' step is again some boring font-sizing.
  */
  /*
      There is nothing really special about 'use the source, Luke' step, too,
      except maybe of the Yoda background.
  
      As you can see below I've 'hard-coded' it in data URL.
      That's not the best way to serve images, but because that's just this one
      I decided it will be OK to have it this way.
  
      Just make sure you don't blindly copy this approach.
  */
  /*
      And the "it's in 3D" step again brings some 3D typography - just for fun.
  
      Because we want to position <span> elements in 3D we set transform-style to
      `preserve-3d` on the paragraph.
      It is not needed by webkit browsers, but it is in Firefox. It's hard to say
      which behaviour is correct as 3D transforms spec is not very clear about it.
  */
  /*
      Below we position each word separately along Z axis and we want it to transition
      to default position in 0.5s when the step gets `present` class.
  
      Quite a simple idea, but lot's of styles and prefixes.
  */
  /*
      The last step is an overview.
      There is no content in it, so we make sure it's not visible because we want
      to be able to click on other steps.
  
  */
  /*
      We also make other steps visible and give them a pointer cursor using the
      `impress-on-` class.
  */
  /*
      Now, when we have all the steps styled let's give users a hint how to navigate
      around the presentation.
  
      The best way to do this would be to use JavaScript, show a delayed hint for a
      first time users, then hide it and store a status in cookie or localStorage...
  
      But I wanted to have some CSS fun and avoid additional scripting...
  
      Let me explain it first, so maybe the transition magic will be more readable
      when you read the code.
  
      First of all I wanted the hint to appear only when user is idle for a while.
      You can't detect the 'idle' state in CSS, but I delayed a appearing of the
      hint by 5s using transition-delay.
  
      You also can't detect in CSS if the user is a first-time visitor, so I had to
      make an assumption that I'll only show the hint on the first step. And when
      the step is changed hide the hint, because I can assume that user already
      knows how to navigate.
  
      To summarize it - hint is shown when the user is on the first step for longer
      than 5 seconds.
  
      The other problem I had was caused by the fact that I wanted the hint to fade
      in and out. It can be easily achieved by transitioning the opacity property.
      But that also meant that the hint was always on the screen, even if totally
      transparent. It covered part of the screen and you couldn't correctly clicked
      through it.
      Unfortunately you cannot transition between display `block` and `none` in pure
      CSS, so I needed a way to not only fade out the hint but also move it out of
      the screen.
  
      I solved this problem by positioning the hint below the bottom of the screen
      with CSS transform and moving it up to show it. But I also didn't want this move
      to be visible. I wanted the hint only to fade in and out visually, so I delayed
      the fade in transition, so it starts when the hint is already in its correct
      position on the screen.
  
      I know, it sounds complicated ... maybe it would be easier with the code?
  */
  /*
      Now we 'enable' the hint when presentation is initialized ...
  */
  /*
      ... and we will show it when the first step (with id 'bored') is active.
  */
  /*
      And as the last thing there is a workaround for quite strange bug.
      It happens a lot in Chrome. I don't remember if I've seen it in Firefox.
  
      Sometimes the element positioned in 3D (especially when it's moved back
      along Z axis) is not clickable, because it falls 'behind' the <body>
      element.
  
      To prevent this, I decided to make <body> non clickable by setting
      pointer-events property to `none` value.
      Value if this property is inherited, so to make everything else clickable
      I bring it back on the #impress element.
  
      If you want to know more about `pointer-events` here are some docs:
      https://developer.mozilla.org/en/CSS/pointer-events
  
      There is one very important thing to notice about this workaround - it makes
      everything 'unclickable' except what's in #impress element.
  
      So use it wisely ... or don't use at all.
  */
  /*
      There is one funny thing I just realized.
  
      Thanks to this workaround above everything except #impress element is invisible
      for click events. That means that the hint element is also not clickable.
      So basically all of this transforms and delayed transitions trickery was probably
      not needed at all...
  
      But it was fun to learn about it, wasn't it?
  */
  /*
      That's all I have for you in this file.
      Thanks for reading. I hope you enjoyed it at least as much as I enjoyed writing it
      for you.
  */
  /* Our styles
   */
}
/* line 108, ../../scss/impress.scss */
#impress b, #impress strong {
  font-weight: bold;
}
/* line 109, ../../scss/impress.scss */
#impress i, #impress em {
  font-style: italic;
}
/* line 114, ../../scss/impress.scss */
#impress a {
  text-decoration: none;
  padding: 0 0.1em;
  background: rgba(255, 255, 255, 0.5);
  text-shadow: -1px -1px 2px rgba(100, 100, 100, 0.9);
  border-radius: 0.2em;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
/* line 129, ../../scss/impress.scss */
#impress a:hover,
#impress a:focus {
  background: white;
  text-shadow: -1px -1px 2px rgba(100, 100, 100, 0.5);
}
/* line 146, ../../scss/impress.scss */
#impress .fallback-message {
  line-height: 1.3;
  width: 780px;
  padding: 10px 10px 0;
  margin: 20px auto;
  border: 1px solid #E4C652;
  border-radius: 10px;
  background: #EEDC94;
}
/* line 158, ../../scss/impress.scss */
#impress .fallback-message p {
  margin-bottom: 10px;
}
/* line 162, ../../scss/impress.scss */
#impress .impress-supported .fallback-message {
  display: none;
}
/* line 172, ../../scss/impress.scss */
#impress .step {
  position: relative;
  width: 900px;
  padding: 40px;
  margin: 20px auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'PT Serif', georgia, serif;
  font-size: 48px;
  line-height: 1.5;
}
/* line 194, ../../scss/impress.scss */
#impress .impress-enabled .step {
  margin: 0;
  opacity: 0.3;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}
/* line 205, ../../scss/impress.scss */
#impress .impress-enabled .step.active {
  opacity: 1;
}
/* line 215, ../../scss/impress.scss */
#impress .slide {
  display: block;
  width: 900px;
  height: 700px;
  padding: 40px 60px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  color: #666666;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -1px;
}
/* line 236, ../../scss/impress.scss */
#impress .slide q {
  display: block;
  font-size: 50px;
  line-height: 72px;
  margin-top: 100px;
}
/* line 244, ../../scss/impress.scss */
#impress .slide q strong {
  white-space: nowrap;
}
/* line 259, ../../scss/impress.scss */
#impress #title {
  padding: 0;
}
/* line 263, ../../scss/impress.scss */
#impress #title .try {
  font-size: 64px;
  position: absolute;
  top: -0.5em;
  left: 1.5em;
  -webkit-transform: translateZ(20px);
  -moz-transform: translateZ(20px);
  -ms-transform: translateZ(20px);
  -o-transform: translateZ(20px);
  transform: translateZ(20px);
}
/* line 276, ../../scss/impress.scss */
#impress #title h1 {
  font-size: 190px;
  -webkit-transform: translateZ(50px);
  -moz-transform: translateZ(50px);
  -ms-transform: translateZ(50px);
  -o-transform: translateZ(50px);
  transform: translateZ(50px);
}
/* line 286, ../../scss/impress.scss */
#impress #title .footnote {
  font-size: 32px;
}
/* line 296, ../../scss/impress.scss */
#impress #big {
  width: 600px;
  text-align: center;
  font-size: 60px;
  line-height: 1;
}
/* line 303, ../../scss/impress.scss */
#impress #big b {
  display: block;
  font-size: 250px;
  line-height: 250px;
}
/* line 309, ../../scss/impress.scss */
#impress #big .thoughts {
  font-size: 90px;
  line-height: 150px;
}
/* line 317, ../../scss/impress.scss */
#impress #tiny {
  width: 500px;
  text-align: center;
}
/* line 325, ../../scss/impress.scss */
#impress #ing {
  width: 500px;
}
/* line 331, ../../scss/impress.scss */
#impress #ing b {
  display: inline-block;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
/* line 344, ../../scss/impress.scss */
#impress #ing.present .positioning {
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  transform: translateY(-10px);
}
/* line 355, ../../scss/impress.scss */
#impress #ing.present .rotating {
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  transform: rotate(-10deg);
  -webkit-transition-delay: 0.25s;
  -moz-transition-delay: 0.25s;
  -ms-transition-delay: 0.25s;
  -o-transition-delay: 0.25s;
  transition-delay: 0.25s;
}
/* line 372, ../../scss/impress.scss */
#impress #ing.present .scaling {
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -o-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  -ms-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
/* line 390, ../../scss/impress.scss */
#impress #imagination {
  width: 600px;
}
/* line 394, ../../scss/impress.scss */
#impress #imagination .imagination {
  font-size: 78px;
}
/* line 417, ../../scss/impress.scss */
#impress #its-in-3d p {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  /* Y U need this Firefox?! */
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
/* line 432, ../../scss/impress.scss */
#impress #its-in-3d span,
#impress #its-in-3d b {
  display: inline-block;
  -webkit-transform: translateZ(40px);
  -moz-transform: translateZ(40px);
  -ms-transform: translateZ(40px);
  -o-transform: translateZ(40px);
  transform: translateZ(40px);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
/* line 447, ../../scss/impress.scss */
#impress #its-in-3d .have {
  -webkit-transform: translateZ(-40px);
  -moz-transform: translateZ(-40px);
  -ms-transform: translateZ(-40px);
  -o-transform: translateZ(-40px);
  transform: translateZ(-40px);
}
/* line 455, ../../scss/impress.scss */
#impress #its-in-3d .you {
  -webkit-transform: translateZ(20px);
  -moz-transform: translateZ(20px);
  -ms-transform: translateZ(20px);
  -o-transform: translateZ(20px);
  transform: translateZ(20px);
}
/* line 463, ../../scss/impress.scss */
#impress #its-in-3d .noticed {
  -webkit-transform: translateZ(-40px);
  -moz-transform: translateZ(-40px);
  -ms-transform: translateZ(-40px);
  -o-transform: translateZ(-40px);
  transform: translateZ(-40px);
}
/* line 471, ../../scss/impress.scss */
#impress #its-in-3d .its {
  -webkit-transform: translateZ(60px);
  -moz-transform: translateZ(60px);
  -ms-transform: translateZ(60px);
  -o-transform: translateZ(60px);
  transform: translateZ(60px);
}
/* line 479, ../../scss/impress.scss */
#impress #its-in-3d .in {
  -webkit-transform: translateZ(-10px);
  -moz-transform: translateZ(-10px);
  -ms-transform: translateZ(-10px);
  -o-transform: translateZ(-10px);
  transform: translateZ(-10px);
}
/* line 487, ../../scss/impress.scss */
#impress #its-in-3d .footnote {
  font-size: 32px;
  -webkit-transform: translateZ(-10px);
  -moz-transform: translateZ(-10px);
  -ms-transform: translateZ(-10px);
  -o-transform: translateZ(-10px);
  transform: translateZ(-10px);
}
/* line 498, ../../scss/impress.scss */
#impress #its-in-3d.present span,
#impress #its-in-3d.present b {
  -webkit-transform: translateZ(0px);
  -moz-transform: translateZ(0px);
  -ms-transform: translateZ(0px);
  -o-transform: translateZ(0px);
  transform: translateZ(0px);
}
/* line 512, ../../scss/impress.scss */
#impress #overview {
  display: none;
}
/* line 518, ../../scss/impress.scss */
#impress .impress-on-overview .step {
  opacity: 1;
  cursor: pointer;
}
/* line 566, ../../scss/impress.scss */
#impress .hint {
  /*
      We hide the hint until presentation is started and from browsers not supporting
      impress.js, as they will have a linear scrollable view ...
  */
  display: none;
  /*
      ... and give it some fixed position and nice styles.
  */
  position: fixed;
  left: 0;
  right: 0;
  bottom: 200px;
  background: rgba(0, 0, 0, 0.5);
  color: #EEE;
  text-align: center;
  font-size: 50px;
  padding: 20px;
  z-index: 100;
  /*
      By default we don't want the hint to be visible, so we make it transparent ...
  */
  opacity: 0;
  /*
      ... and position it below the bottom of the screen (relative to it's fixed position)
  */
  -webkit-transform: translateY(400px);
  -moz-transform: translateY(400px);
  -ms-transform: translateY(400px);
  -o-transform: translateY(400px);
  transform: translateY(400px);
    /*
        Now let's imagine that the hint is visible and we want to fade it out and move out
        of the screen.

        So we define the transition on the opacity property with 1s duration and another
        transition on transform property delayed by 1s so it will happen after the fade out
        on opacity finished.

        This way user will not see the hint moving down.
    */
  -webkit-transition: opacity 1s, -webkit-transform 0.5s 1s;
  -moz-transition: opacity 1s,    -moz-transform 0.5s 1s;
  -ms-transition: opacity 1s,     -ms-transform 0.5s 1s;
  -o-transition: opacity 1s,      -o-transform 0.5s 1s;
  transition: opacity 1s,         transform 0.5s 1s;
}
/* line 624, ../../scss/impress.scss */
#impress .impress-enabled .hint {
  display: block;
}
/* line 629, ../../scss/impress.scss */
#impress .impress-on-bored .hint {
  /*
      We remove the transparency and position the hint in its default fixed
      position.
  */
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
    /*
        Now for fade in transition we have the oposite situation from the one
        above.

        First after 4.5s delay we animate the transform property to move the hint
        into its correct position and after that we fade it in with opacity
        transition.
    */
  -webkit-transition: opacity 1s 5s, -webkit-transform 0.5s 4.5s;
  -moz-transition: opacity 1s 5s,    -moz-transform 0.5s 4.5s;
  -ms-transition: opacity 1s 5s,     -ms-transform 0.5s 4.5s;
  -o-transition: opacity 1s 5s,      -o-transform 0.5s 4.5s;
  transition: opacity 1s 5s,         transform 0.5s 4.5s;
}
/* line 678, ../../scss/impress.scss */
#impress .impress-enabled {
  pointer-events: none;
}
/* line 679, ../../scss/impress.scss */
#impress .impress-enabled #impress {
  pointer-events: auto;
}
/* line 701, ../../scss/impress.scss */
#impress h1.logo {
  font-size: 100px;
}
