/*
 *
 *
 * Base theme SCSS for Compass, containing pertinent
 * site variables for the segetes application 
 *
 */
/*
 * Aweb Portfolio Color palette 
 *
 */
/*
 * Fonts  
 *
 */
@import url(/bower_components/bootstrap/dist/css/bootstrap.css);
@font-face {
  font-family: 'Glyphicons';
  src: url("/bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.eot");
  src: url("/bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("/bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.woff") format("woff"), url("/bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("/bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}

/*
 * Util Mixins 
 *
 */
/*
 * Custom global styles
 */
/* line 5, ../../scss/_global.scss */
html, body, input, p, span, label {
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  font-weight: 300;
}

/* line 9, ../../scss/_global.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 24px;
  font-weight: bold;
}

/* line 14, ../../scss/_global.scss */
a {
  color: #222222;
  text-decoration: none;
}
/* line 17, ../../scss/_global.scss */
a:hover {
  color: #222222;
  text-decoration: none;
}

/* line 23, ../../scss/_global.scss */
li {
  list-style: none;
}

/* line 27, ../../scss/_global.scss */
.one-third {
  width: 33%;
}

/* line 31, ../../scss/_global.scss */
.two-thirds {
  width: 66%;
}

/* line 35, ../../scss/_global.scss */
.one-half {
  width: 50%;
}

/* line 39, ../../scss/_global.scss */
.full-width {
  width: 100%;
}

/* line 42, ../../scss/_global.scss */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

/* line 47, ../../scss/_global.scss */
::selection {
  background: #dddddd;
}

/* line 50, ../../scss/_global.scss */
::-moz-selection {
  background: #dddddd;
}

/*
 * Global structure styles
 */
/* line 57, ../../scss/_global.scss */
.grid {
  width: 100%;
  clear: both;
  margin: 0 auto;
}

/* line 62, ../../scss/_global.scss */
.grid.inner {
  max-width: 1200px;
}

/* line 65, ../../scss/_global.scss */
.fixed {
  position: fixed;
}

/* line 68, ../../scss/_global.scss */
.social-wrap {
  padding: 5px;
}
/* line 70, ../../scss/_global.scss */
.social-wrap span {
  padding: 10px;
}

/* line 74, ../../scss/_global.scss */
.content.primary {
  min-height: 600px;
  text-align: center;
  margin: 100px auto;
  position: relative;
}

/*
 * Styles for navigation and header
 */
/* line 85, ../../scss/_global.scss */
header {
  width: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  color: rgba(0, 0, 0, 0.8);
  background: rgba(255, 255, 255, 0.9);
  -webkit-transform: translateZ(0);
  border-bottom: 1px solid #f0f0f0;
}
/* line 94, ../../scss/_global.scss */
header .grid.inner {
  position: relative;
}
/* line 98, ../../scss/_global.scss */
header a {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}
/* line 101, ../../scss/_global.scss */
header a:hover {
  color: rgba(0, 0, 0, 0.8);
}
/* line 105, ../../scss/_global.scss */
header a:visited {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}
/* line 111, ../../scss/_global.scss */
header .side-menu {
  cursor: pointer;
}
/* line 113, ../../scss/_global.scss */
header .side-menu .side-menu-head {
  float: left;
  display: block;
  color: rgba(0, 0, 0, 0.8);
  padding: 7px 38px 5px 20px;
}
/* line 119, ../../scss/_global.scss */
header .side-menu .side-menu-head:hover .fa {
  background: rgba(0, 0, 0, 0.6);
  color: white;
}
/* line 124, ../../scss/_global.scss */
header .side-menu .side-menu-head .fa.fa-bars {
  display: inline-block;
  padding: 10px;
  margin: 5px;
  font-size: 22px;
}
/* line 130, ../../scss/_global.scss */
header .side-menu .side-menu-head span.site-title {
  display: inline-block;
  margin-top: 1px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 30px;
  font-weight: bold;
}
/* line 140, ../../scss/_global.scss */
header .social-wrap {
  float: right;
  margin-right: 20px;
  padding: 0;
}
/* line 144, ../../scss/_global.scss */
header .social-wrap a {
  display: inline-block;
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
}
/* line 151, ../../scss/_global.scss */
header .social-wrap a.login span, header .social-wrap a.translation-link span {
  font-size: 14px;
  font-weight: bold;
  padding: 22px;
  text-decoration: none;
}
/* line 158, ../../scss/_global.scss */
header .social-wrap span {
  padding: 20px;
  display: block;
}
/* line 161, ../../scss/_global.scss */
header .social-wrap span:hover {
  background: #f0f0f0;
}
/* line 165, ../../scss/_global.scss */
header .social-wrap span.fa {
  font-size: 22px;
  padding-top: 22px;
}
/* line 168, ../../scss/_global.scss */
header .social-wrap span.fa:hover {
  color: #3c948b;
}

/* line 176, ../../scss/_global.scss */
.side-menu-panel {
  position: fixed;
  margin: 0;
  padding: 0;
  padding-top: 80px;
  left: -200px;
  top: 0px;
  background: #333;
  color: white;
  height: 100%;
  display: block;
  z-index: 99;
  width: 200px;
  font-size: 18px;
  -webkit-transition: left 100ms ease-out 0;
  -moz-transition: left 100ms ease-out 0;
  -o-transition: left 100ms ease-out 0;
  transition: left 100ms ease-out 0;
  -webkit-transform: translateZ(0);
}
/* line 192, ../../scss/_global.scss */
.side-menu-panel ul {
  padding: 0;
}
/* line 195, ../../scss/_global.scss */
.side-menu-panel li {
  display: block;
}
/* line 198, ../../scss/_global.scss */
.side-menu-panel a {
  display: block;
  padding: 10px 5px 10px 30px;
  width: 100%;
  color: white;
}
/* line 204, ../../scss/_global.scss */
.side-menu-panel a:hover {
  text-decoration: none;
  background: #444;
}
/* line 209, ../../scss/_global.scss */
.side-menu-panel ul ul a {
  padding: 7px 5px 7px 50px;
  font-size: 16px;
}
/* line 213, ../../scss/_global.scss */
.side-menu-panel .fa {
  margin: 0 10px 0 0;
}

/* line 217, ../../scss/_global.scss */
.side-menu-panel.shown {
  left: 0;
}

/* line 220, ../../scss/_global.scss */
.headroom {
  transition: transform 00ms linear;
}

/* line 223, ../../scss/_global.scss */
.headroom--pinned {
  transition: transform 200ms linear;
  transform: translateY(0%) translateZ(0);
}

/* line 227, ../../scss/_global.scss */
.headroom--unpinned {
  transform: translateY(-100%) translateZ(0);
}

/* line 230, ../../scss/_global.scss */
.header-hidden.headroom--pinned {
  position: absolute;
  top: 0;
  transition: transform 200ms linear;
  transform: translateY(0%) translateZ(0);
}

/* line 236, ../../scss/_global.scss */
.header-hidden.headroom--unpinned {
  position: absolute;
  top: 0;
  transform: translateY(0%) translateZ(0);
}

/*
 * Footer 
 */
/* line 245, ../../scss/_global.scss */
footer {
  clear: both;
  background-color: #1e1e1e;
  color: white;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  position: relative;
}
/* line 256, ../../scss/_global.scss */
footer a {
  color: white;
}
/* line 258, ../../scss/_global.scss */
footer a:hover {
  color: white;
}
/* line 264, ../../scss/_global.scss */
footer .footer-text {
  margin: 10px auto;
  display: inline-block;
}
/* line 268, ../../scss/_global.scss */
footer .footer-text .site-title {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 40px;
  font-weight: bold;
  margin: 20px 0 0px 0px;
  padding: 0;
}
/* line 274, ../../scss/_global.scss */
footer .footer-text .footer-text-column-1, footer .footer-text .footer-text-column-2 {
  margin-top: 20px;
}
/* line 279, ../../scss/_global.scss */
footer .footer-text .footer-text-column-1 p {
  color: #aaaaaa;
}
/* line 282, ../../scss/_global.scss */
footer .footer-text .footer-text-column-1 a {
  color: white;
}
/* line 288, ../../scss/_global.scss */
footer .footer-text .footer-text-column-1 nav.footer ul {
  padding: 0;
  margin: 0 0 0 0;
}
/* line 291, ../../scss/_global.scss */
footer .footer-text .footer-text-column-1 nav.footer ul li {
  display: inline-block;
}
/* line 293, ../../scss/_global.scss */
footer .footer-text .footer-text-column-1 nav.footer ul li a {
  display: block;
  margin: 5px;
  padding: 20px;
  font-size: 22px;
}
/* line 298, ../../scss/_global.scss */
footer .footer-text .footer-text-column-1 nav.footer ul li a:hover {
  color: #dddddd;
}
/* line 307, ../../scss/_global.scss */
footer .footer-text .footer-text-column-2 .social-wrap {
  margin: 10px 0;
  padding: 0;
}
/* line 310, ../../scss/_global.scss */
footer .footer-text .footer-text-column-2 .social-wrap span {
  color: #aaaaaa;
  font-size: 24px;
  padding: 10px;
}
/* line 314, ../../scss/_global.scss */
footer .footer-text .footer-text-column-2 .social-wrap span:hover {
  color: #3c948b;
}
/* line 320, ../../scss/_global.scss */
footer .footer-text .copyright {
  clear: both;
  display: block;
  color: #aaaaaa;
  font-size: 14px;
  margin-bottom: 10px;
}
/* line 326, ../../scss/_global.scss */
footer .footer-text .copyright a {
  color: white;
}
/* line 328, ../../scss/_global.scss */
footer .footer-text .copyright a:hover {
  text-decoration: none;
}

/*
 * Styles for Dropdowns
 */
/* line 341, ../../scss/_global.scss */
.dropdown {
  position: relative;
}
/* line 344, ../../scss/_global.scss */
.dropdown .dropdown-head {
  cursor: pointer;
}
/* line 346, ../../scss/_global.scss */
.dropdown .dropdown-head label, .dropdown .dropdown-head .dropdown-arrow {
  cursor: pointer;
}
/* line 351, ../../scss/_global.scss */
.dropdown .dropdown-panel {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 357, ../../scss/_global.scss */
.dropdown .dropdown-panel.lowered {
  display: block !important;
}

/* line 361, ../../scss/_global.scss */
::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

/* line 364, ../../scss/_global.scss */
:-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

/* line 367, ../../scss/_global.scss */
::-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

/* line 370, ../../scss/_global.scss */
:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

/* line 376, ../../scss/_global.scss */
.modal-login {
  position: fixed;
  top: -1100px;
  left: 0;
  width: 100%;
  height: 1100px;
  overflow: hidden;
  z-index: 1040;
  background: rgba(255, 255, 255, 0.85);
  -webkit-transition: top 300ms ease-out 0;
  -moz-transition: top 300ms ease-out 0;
  -o-transition: top 300ms ease-out 0;
  transition: top 300ms ease-out 0;
  -webkit-transform: translateZ(0);
}
/* line 387, ../../scss/_global.scss */
.modal-login .exit {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
/* line 392, ../../scss/_global.scss */
.modal-login .exit span.fa {
  font-size: 30px;
  color: rgba(0, 0, 0, 0.6);
}
/* line 397, ../../scss/_global.scss */
.modal-login.modal-lowered {
  top: 0;
}

/* line 401, ../../scss/_global.scss */
.modal-inner {
  width: 50%;
  min-width: 30px;
  margin: 60px auto 0;
  text-align: center;
}
/* line 406, ../../scss/_global.scss */
.modal-inner .modal-title {
  font-size: 28px;
  margin: 25px auto;
}
/* line 411, ../../scss/_global.scss */
.modal-inner .modal-subtitle {
  font-size: 22px;
}

/* line 415, ../../scss/_global.scss */
.login-options {
  margin: 20px auto;
}
/* line 417, ../../scss/_global.scss */
.login-options .login-option {
  background: #323232;
  margin: 20px auto;
  padding: 15px 20px;
  display: block;
  width: 60%;
  text-align: center;
  cursor: pointer;
}
/* line 425, ../../scss/_global.scss */
.login-options .login-option:hover {
  background: #3c948b;
}
/* line 428, ../../scss/_global.scss */
.login-options .login-option span.fa {
  display: inline-block;
  font-size: 30px;
  color: white;
  vertical-align: middle;
  float: left;
}
/* line 436, ../../scss/_global.scss */
.login-options .login-option .login-option-text {
  font-size: 18px;
  display: inline-block;
  color: white;
  vertical-align: middle;
}

/* line 444, ../../scss/_global.scss */
.login-alternative {
  padding: 5px;
  display: block;
}
/* line 447, ../../scss/_global.scss */
.login-alternative .login-alternative-title {
  font-size: 18px;
  margin: 10px;
  display: block;
}
/* line 452, ../../scss/_global.scss */
.login-alternative input {
  width: 60%;
}
/* line 456, ../../scss/_global.scss */
.login-alternative input[type=text], .login-alternative input[type=password], .login-alternative input[type=email] {
  padding: 8px;
  font-size: 18px;
  margin: 5px 0;
  border: 3px solid #323232;
}
/* line 461, ../../scss/_global.scss */
.login-alternative input[type=text]:focus, .login-alternative input[type=password]:focus, .login-alternative input[type=email]:focus {
  border: 3px solid #3c948b;
  outline: none;
}
/* line 466, ../../scss/_global.scss */
.login-alternative input[type=submit] {
  background: #323232;
  border: none;
  outline: none;
  padding: 10px;
  color: white;
  margin: 10px;
}
/* line 473, ../../scss/_global.scss */
.login-alternative input[type=submit]:hover {
  background: #3c948b;
}

/* line 478, ../../scss/_global.scss */
#loading_modal {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background: #fafafa;
}
/* line 486, ../../scss/_global.scss */
#loading_modal .loading-modal-inner {
  display: block;
  width: 50%;
  min-width: 100px;
  margin: 0 auto;
  text-align: center;
  padding-top: 150px;
}
/* line 493, ../../scss/_global.scss */
#loading_modal .loading-modal-inner img {
  margin: 0 auto;
}
/* line 496, ../../scss/_global.scss */
#loading_modal .loading-modal-inner span {
  display: inline-block;
  font-size: 64px;
}

/* line 503, ../../scss/_global.scss */
.create-account a {
  border-bottom: 1px solid #82c0ba;
  box-shadow: inset 0 -4px 0 #82c0ba;
}

/* line 509, ../../scss/_global.scss */
.headline-image {
  margin-top: -100px;
  width: 100%;
  height: 500px;
  max-width: 1400px;
  overflow: hidden;
  background: url("/img/vat_verg_f18_cropped.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}
/* line 520, ../../scss/_global.scss */
.headline-image img {
  width: 100%;
}

/* line 524, ../../scss/_global.scss */
.text-index .headline-image {
  height: 00px;
  background: url("/img/vv_text_1400w.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

/* line 532, ../../scss/_global.scss */
.header-block .headline-image {
  height: 550px;
  background: url("/img/eclogues_headline.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* line 540, ../../scss/_global.scss */
#filler_modal {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(250, 250, 250, 0.9);
  -webkit-transform: translateZ(0);
  z-index: 99999;
}
/* line 550, ../../scss/_global.scss */
#filler_modal .modal-inner {
  display: block;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  padding-top: 100px;
}
/* line 556, ../../scss/_global.scss */
#filler_modal .modal-inner h1 {
  margin: 0 auto;
}
/* line 559, ../../scss/_global.scss */
#filler_modal .modal-inner p {
  font-size: 24px;
  width: 90%;
  margin: 10px auto;
}
/* line 563, ../../scss/_global.scss */
#filler_modal .modal-inner p a {
  text-decoration: none;
  border-bottom: 1px solid #82C0BA;
  box-shadow: inset 0 -4px 0 #82C0BA;
}
/* line 567, ../../scss/_global.scss */
#filler_modal .modal-inner p a:hover {
  text-decoration: none;
  border-bottom: none;
  box-shadow: none;
}
/* line 575, ../../scss/_global.scss */
#filler_modal .modal-inner p.smaller {
  font-size: 20px;
  line-height: 33px;
  margin: 30px auto;
  width: 60%;
}
/* line 581, ../../scss/_global.scss */
#filler_modal .modal-inner img {
  margin: 0 auto;
}
/* line 584, ../../scss/_global.scss */
#filler_modal .modal-inner span {
  display: inline-block;
  font-size: 64px;
}
/* line 588, ../../scss/_global.scss */
#filler_modal .modal-inner .social {
  margin: 40px 0;
  display: block;
}
/* line 591, ../../scss/_global.scss */
#filler_modal .modal-inner .social a {
  display: inline-block;
  padding: 20px;
  margin: 10px 20px;
  color: rgba(0, 0, 0, 0.8);
}
/* line 596, ../../scss/_global.scss */
#filler_modal .modal-inner .social a:hover {
  color: #3c948b;
}
/* line 599, ../../scss/_global.scss */
#filler_modal .modal-inner .social a:visited {
  color: rgba(0, 0, 0, 0.8);
}
/* line 604, ../../scss/_global.scss */
#filler_modal .modal-inner .close-link {
  cursor: pointer;
  background: #3c948b;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 15px;
}

/* line 1, ../../scss/_archive.scss */
.archive-content {
  text-align: left;
  width: 90%;
  margin: 50px auto;
}
/* line 5, ../../scss/_archive.scss */
.archive-content h1 {
  color: #222222;
}

/* line 10, ../../scss/_archive.scss */
.subnav {
  margin-top: 10px;
}
/* line 12, ../../scss/_archive.scss */
.subnav .subnav-link {
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  background: rgba(0, 0, 0, 0.8);
  color: #f0f0f0;
  margin: 5px 15px;
}
/* line 20, ../../scss/_archive.scss */
.subnav .subnav-link:hover {
  background: #222222;
}
/* line 23, ../../scss/_archive.scss */
.subnav .subnav-link.selected {
  background: #126b61;
}

/* line 28, ../../scss/_archive.scss */
.archive .content-wrap .subnav a {
  border-bottom: none;
  box-shadow: none;
}

/* line 32, ../../scss/_archive.scss */
.get-more {
  cursor: pointer;
  display: block;
  background: rgba(0, 0, 0, 0.8);
  color: #f0f0f0;
  width: 200px;
  text-align: center;
  margin: 20px auto;
}
/* line 40, ../../scss/_archive.scss */
.get-more:hover {
  background: #126b61;
}
/* line 43, ../../scss/_archive.scss */
.get-more span.more {
  display: inline-block;
  padding: 20px 30px;
  font-size: 24px;
}
/* line 48, ../../scss/_archive.scss */
.get-more .loading {
  font-size: 30px;
  padding: 15px 30px;
}

/* line 54, ../../scss/_archive.scss */
.tease-item {
  display: inline-block;
  width: 29.33%;
  height: 252px;
  margin: 20px 2%;
  border: 1px solid #dddddd;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 0 0 5px #dddddd;
  -moz-box-shadow: 0 0 5px #dddddd;
  box-shadow: 0 0 5px #dddddd;
  -webkit-transition: all 300ms ease-out 0;
  -moz-transition: all 300ms ease-out 0;
  -o-transition: all 300ms ease-out 0;
  transition: all 300ms ease-out 0;
}
/* line 66, ../../scss/_archive.scss */
.tease-item:hover {
  -webkit-box-shadow: 0 0 10px #aaaaaa;
  -moz-box-shadow: 0 0 10px #aaaaaa;
  box-shadow: 0 0 10px #aaaaaa;
}
/* line 68, ../../scss/_archive.scss */
.tease-item:hover .item-image-wrap {
  opacity: 1.0;
}
/* line 73, ../../scss/_archive.scss */
.tease-item .item-image-wrap {
  width: 100%;
  height: 250px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
  -webkit-transition: opacity 200ms linear 0;
  -moz-transition: opacity 200ms linear 0;
  -o-transition: opacity 200ms linear 0;
  transition: opacity 200ms linear 0;
}
/* line 82, ../../scss/_archive.scss */
.tease-item .item-image-wrap img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 90, ../../scss/_archive.scss */
.tease-item .item-title {
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  color: rgba(0, 0, 0, 0.8);
}

/* line 101, ../../scss/_archive.scss */
.archive .no-results, .single .no-results, .profile .no-results {
  text-align: center;
  margin: 100px auto;
  border-top: none;
  display: block;
}
/* line 107, ../../scss/_archive.scss */
.archive .no-results span, .single .no-results span, .profile .no-results span {
  font-style: italic;
  font-size: 22px;
  color: #aaaaaa;
}

/* line 1, ../../scss/_list.scss */
.authors {
  text-align: center;
  margin-bottom: 100px;
}

/* line 5, ../../scss/_list.scss */
.author {
  display: block;
  text-align: center;
}
/* line 8, ../../scss/_list.scss */
.author a {
  display: inline-block;
  color: #222222;
  padding: 5px;
}
/* line 12, ../../scss/_list.scss */
.author a:hover {
  color: #222222;
}
/* line 16, ../../scss/_list.scss */
.author h2.author-title {
  font-size: 38px;
  margin: 20px auto 40px;
  cursor: pointer;
  text-align: center;
}

/* line 23, ../../scss/_list.scss */
.author-text {
  display: inline-block;
  width: 100%;
  height: 310px;
  margin-bottom: 50px;
  max-width: 1100px;
  text-align: left;
}
/* line 41, ../../scss/_list.scss */
.author-text a {
  color: rgba(0, 0, 0, 0.8);
}
/* line 43, ../../scss/_list.scss */
.author-text a:hover {
  color: rgba(0, 0, 0, 0.8);
}
/* line 48, ../../scss/_list.scss */
.author-text .text-title-link {
  display: block;
}
/* line 52, ../../scss/_list.scss */
.author-text h3.text-title {
  font-size: 32px;
  cursor: pointer;
  margin: 10px 0;
  color: white;
}

/* line 65, ../../scss/_list.scss */
.subworks {
  display: inline-block;
  width: 60%;
  height: 100%;
  vertical-align: top;
  padding: 30px 50px;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 76, ../../scss/_list.scss */
.subworks .subwork-image-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-linear-gradient(175deg, rgba(18, 107, 97, 0.95), rgba(18, 107, 97, 0.97));
  background-image: -moz-linear-gradient(175deg, rgba(18, 107, 97, 0.95), rgba(18, 107, 97, 0.97));
  background-image: -o-linear-gradient(175deg, rgba(18, 107, 97, 0.95), rgba(18, 107, 97, 0.97));
  background-image: linear-gradient(175deg, rgba(18, 107, 97, 0.95), rgba(18, 107, 97, 0.97));
}
/* line 90, ../../scss/_list.scss */
.subworks a, .subworks h3 {
  position: relative;
}
/* line 93, ../../scss/_list.scss */
.subworks .subwork {
  position: relative;
  display: inline-block;
}
/* line 97, ../../scss/_list.scss */
.subworks .subwork a {
  display: block;
  padding: 15px 20px;
  font-size: 20px;
  background: white;
  color: rgba(0, 0, 0, 0.8);
  margin: 10px;
  text-decoration: none;
  font-family: 'Merriweather', serif;
  font-size: 18px;
}
/* line 106, ../../scss/_list.scss */
.subworks .subwork a:hover {
  background: #dddddd;
}
/* line 112, ../../scss/_list.scss */
.subworks.Aeneid {
  background-image: url("/img/vat_verg_f18_cropped.jpg");
}
/* line 115, ../../scss/_list.scss */
.subworks.Georgics {
  background-image: url("/img/georgics_shepherds_2_cropped.jpg");
}
/* line 118, ../../scss/_list.scss */
.subworks.Eclogues {
  background-image: url("/img/eclogues_shepherds_cropped.jpg");
}

/* line 123, ../../scss/_list.scss */
.meta-elements {
  display: inline-block;
  width: 40%;
  height: 100%;
  padding: 30px 20px;
  vertical-align: top;
  background: #002D28;
  text-align: center;
}
/* line 132, ../../scss/_list.scss */
.meta-elements .meta-element {
  display: inline-block;
  width: 33%;
  padding: 30px 0px 0px;
  color: white;
  text-align: center;
}
/* line 138, ../../scss/_list.scss */
.meta-elements .meta-element span {
  font-size: 18px;
}
/* line 141, ../../scss/_list.scss */
.meta-elements .meta-element .lines-meta-count {
  cursor: default;
}
/* line 144, ../../scss/_list.scss */
.meta-elements .meta-element a {
  color: white;
  width: 100%;
  height: 100%;
  display: block;
}
/* line 149, ../../scss/_list.scss */
.meta-elements .meta-element a:hover {
  color: #aaaaaa;
}
/* line 151, ../../scss/_list.scss */
.meta-elements .meta-element a:hover span {
  color: #aaaaaa;
}
/* line 156, ../../scss/_list.scss */
.meta-elements .meta-element span.num {
  font-family: 'Merriweather', serif;
  font-size: 26px;
  display: block;
  color: white;
}
/* line 161, ../../scss/_list.scss */
.meta-elements .meta-element span.meta-label {
  color: #dddddd;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
}

/* line 170, ../../scss/_list.scss */
.list-line {
  text-align: left;
  width: 80%;
  background: #fefefe;
  padding: 0 20px;
  border-top: 1px solid #f0f0f0;
  display: inline-block;
}
/* line 178, ../../scss/_list.scss */
.list-line:last-child {
  border-bottom: 1px solid #f0f0f0;
}
/* line 181, ../../scss/_list.scss */
.list-line:hover {
  background: #f0f0f0;
}
/* line 183, ../../scss/_list.scss */
.list-line:hover a {
  color: rgba(0, 0, 0, 0.8);
}
/* line 186, ../../scss/_list.scss */
.list-line:hover span.line-text {
  color: #3c948b;
}
/* line 191, ../../scss/_list.scss */
.list-line a {
  display: block;
  color: rgba(0, 0, 0, 0.6);
  font-size: 20px;
  border-bottom: none;
  box-shadow: none;
}
/* line 198, ../../scss/_list.scss */
.list-line span.line-item {
  display: inline-block;
  font-size: 18px;
  padding: 30px 15px;
  vertical-align: top;
}
/* line 204, ../../scss/_list.scss */
.list-line span.line-work {
  width: 18%;
}
/* line 207, ../../scss/_list.scss */
.list-line span.line-subwork {
  width: 7.5%;
}
/* line 210, ../../scss/_list.scss */
.list-line span.line-number {
  width: 7.5%;
}
/* line 213, ../../scss/_list.scss */
.list-line span.line-text {
  width: 65%;
}

/* line 219, ../../scss/_list.scss */
.text-index.content.primary {
  margin: 0;
  padding-top: 150px;
}
/* line 223, ../../scss/_list.scss */
.text-index.content.primary .authors {
  padding: 40px 0 0;
}
/* line 226, ../../scss/_list.scss */
.text-index.content.primary .author-title {
  padding: 20px 0;
}
/* line 229, ../../scss/_list.scss */
.text-index.content.primary .linked-texts {
  margin-top: 50px;
}
/* line 231, ../../scss/_list.scss */
.text-index.content.primary .linked-texts .author-title {
  font-size: 30px;
}
/* line 235, ../../scss/_list.scss */
.text-index.content.primary .subtitle.app-title {
  padding-top: 50px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  font-size: 36px;
}

/* line 3, ../../scss/_single.scss */
.archive .single-image-wrap, .article .single-image-wrap, .blog .single-image-wrap, .page .single-image-wrap {
  max-height: 500px;
  overflow: hidden;
  position: relative;
  max-width: 1000px;
  width: 60%;
  margin: 40px auto;
}
/* line 11, ../../scss/_single.scss */
.archive .single-image-wrap.media-image-wrap, .article .single-image-wrap.media-image-wrap, .blog .single-image-wrap.media-image-wrap, .page .single-image-wrap.media-image-wrap {
  max-height: none;
}
/* line 15, ../../scss/_single.scss */
.archive .single-image-wrap a.image-source, .article .single-image-wrap a.image-source, .blog .single-image-wrap a.image-source, .page .single-image-wrap a.image-source {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: rgba(255, 255, 255, 0.5);
  padding: 5px;
  border-bottom: none;
  box-shadow: none;
  color: rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}
/* line 27, ../../scss/_single.scss */
.archive .single-image-wrap a.image-source:hover, .article .single-image-wrap a.image-source:hover, .blog .single-image-wrap a.image-source:hover, .page .single-image-wrap a.image-source:hover {
  background: rgba(255, 255, 255, 0.7);
}
/* line 31, ../../scss/_single.scss */
.archive .single-image-wrap img, .article .single-image-wrap img, .blog .single-image-wrap img, .page .single-image-wrap img {
  width: 100%;
}
/* line 35, ../../scss/_single.scss */
.archive .lemma-font p.citation, .article .lemma-font p.citation, .blog .lemma-font p.citation, .page .lemma-font p.citation {
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  font-weight: 300;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
}
/* line 41, ../../scss/_single.scss */
.archive .lemma-font p.citation a, .article .lemma-font p.citation a, .blog .lemma-font p.citation a, .page .lemma-font p.citation a {
  color: rgba(0, 0, 0, 0.6);
}
/* line 47, ../../scss/_single.scss */
.archive .lemma-font .list-line a, .article .lemma-font .list-line a, .blog .lemma-font .list-line a, .page .lemma-font .list-line a {
  border-bottom: none;
  box-shadow: none;
}
/* line 53, ../../scss/_single.scss */
.archive .single-wrap a.back-to-entities, .article .single-wrap a.back-to-entities, .blog .single-wrap a.back-to-entities, .page .single-wrap a.back-to-entities {
  border-bottom: none;
  box-shadow: none;
  display: none;
}

/* line 61, ../../scss/_single.scss */
.single-wrap {
  padding-bottom: 30px;
}
/* line 63, ../../scss/_single.scss */
.single-wrap h1 {
  padding: 40px 0 20px;
}
/* line 67, ../../scss/_single.scss */
.single-wrap .subtitle {
  text-transform: uppercase;
  color: #aaaaaa;
  font-size: 26px;
}

/* line 74, ../../scss/_single.scss */
.single-lines {
  padding: 20px 0;
}
/* line 76, ../../scss/_single.scss */
.single-lines h2 {
  padding: 20px 0 30px;
  font-size: 32px;
}

/* line 81, ../../scss/_single.scss */
.single .no-results {
  margin: 20px auto;
}

/* line 1, ../../scss/_text.scss */
.text {
  color: rgba(0, 0, 0, 0.8);
}

/* line 4, ../../scss/_text.scss */
.title {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 42px;
  font-weight: bold;
  margin: 25px auto;
  display: inline-block;
  width: 100%;
  cursor: default;
}

/* line 11, ../../scss/_text.scss */
.subtitle {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 32px;
  font-weight: bold;
  margin: 10px auto 0;
  display: inline-block;
  width: 100%;
  cursor: default;
  color: rgba(0, 0, 0, 0.6);
}

/* line 19, ../../scss/_text.scss */
.lines {
  margin: 50px 0;
}

/* line 22, ../../scss/_text.scss */
.line {
  width: 66%;
  display: inline-block;
  text-align: left;
  -webkit-transition: width 300ms ease-out 0;
  -moz-transition: width 300ms ease-out 0;
  -o-transition: width 300ms ease-out 0;
  transition: width 300ms ease-out 0;
}
/* line 28, ../../scss/_text.scss */
.line .line-number {
  cursor: default;
  display: inline-block;
  text-align: left;
  vertical-align: top;
  width: 45px;
  overflow: hidden;
}
/* line 40, ../../scss/_text.scss */
.line .lemma:hover .meta-toggle .fa {
  display: block;
}
/* line 45, ../../scss/_text.scss */
.line .lemma p.text-content, .line .lemma p.text-content span {
  cursor: default;
  display: inline-block;
  vertical-align: top;
  font-family: 'Merriweather', serif;
  font-size: 22px;
  -webkit-transition: color 200ms linear 0ms;
  -moz-transition: color 200ms linear 0ms;
  -o-transition: color 200ms linear 0ms;
  transition: color 200ms linear 0ms;
}
/* line 52, ../../scss/_text.scss */
.line .lemma .syllable-long {
  position: relative;
}
/* line 54, ../../scss/_text.scss */
.line .lemma .syllable-long:before {
  opacity: 0;
  position: absolute;
  left: 50%;
  margin-left: -5px;
  top: -5px;
  content: "\00af";
  -webkit-transition: opacity 200ms linear 0ms;
  -moz-transition: opacity 200ms linear 0ms;
  -o-transition: opacity 200ms linear 0ms;
  transition: opacity 200ms linear 0ms;
}
/* line 64, ../../scss/_text.scss */
.line .lemma .syllable-short {
  position: relative;
}
/* line 66, ../../scss/_text.scss */
.line .lemma .syllable-short:before {
  opacity: 0;
  position: absolute;
  left: 50%;
  margin-left: -5px;
  top: -10px;
  content: "\02C7";
  -webkit-transition: opacity 200ms linear 0ms;
  -moz-transition: opacity 200ms linear 0ms;
  -o-transition: opacity 200ms linear 0ms;
  transition: opacity 200ms linear 0ms;
}
/* line 77, ../../scss/_text.scss */
.line .lemma.lemma-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 3% 5px;
  background: rgba(255, 255, 255, 0.95);
  z-index: 99;
}
/* line 86, ../../scss/_text.scss */
.line .lemma.lemma-fixed .meta-toggle {
  right: 15px;
  top: 15px;
}
/* line 93, ../../scss/_text.scss */
.line .meta-tabs {
  width: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  -webkit-transition: all 100ms ease-out 300ms;
  -moz-transition: all 100ms ease-out 300ms;
  -o-transition: all 100ms ease-out 300ms;
  transition: all 100ms ease-out 300ms;
}
/* line 101, ../../scss/_text.scss */
.line .meta-tabs .meta-tab {
  display: inline-block;
  vertical-align: top;
  padding: 5px 6px;
  cursor: pointer;
  margin: 0 1px;
  font-size: 15px;
}
/* line 109, ../../scss/_text.scss */
.line .meta-tabs .meta-tab.selected {
  background: rgba(0, 0, 0, 0.8);
  color: white;
}
/* line 114, ../../scss/_text.scss */
.line .meta-tabs .meta-tab span.fa-bookmark {
  font-size: 17px;
  padding: 4px 5px 0px 0px;
}
/* line 120, ../../scss/_text.scss */
.line .meta-toggle {
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
  -webkit-transition: width 300ms ease-out 0ms;
  -moz-transition: width 300ms ease-out 0ms;
  -o-transition: width 300ms ease-out 0ms;
  transition: width 300ms ease-out 0ms;
}
/* line 125, ../../scss/_text.scss */
.line .meta-toggle span.fa {
  display: none;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  padding: 3px 5px;
  -webkit-transition: transform 300ms ease-out 300ms;
  -moz-transition: transform 300ms ease-out 300ms;
  -o-transition: transform 300ms ease-out 300ms;
  transition: transform 300ms ease-out 300ms;
}
/* line 132, ../../scss/_text.scss */
.line .meta-toggle span.fa:hover {
  color: rgba(0, 0, 0, 0.5);
}

/* line 138, ../../scss/_text.scss */
.line.extended {
  width: 100%;
  position: relative;
}

/* line 143, ../../scss/_text.scss */
.line.with-meta .lemma {
  border-bottom: 1px solid rgba(235, 235, 235, 0.9);
}
/* line 145, ../../scss/_text.scss */
.line.with-meta .lemma p {
  color: black;
}
/* line 149, ../../scss/_text.scss */
.line.with-meta .meta-tabs {
  width: auto;
  height: auto;
  float: right;
  margin-right: 35px;
  opacity: 1;
}
/* line 156, ../../scss/_text.scss */
.line.with-meta .meta-toggle {
  position: absolute;
  right: 0;
  top: 3px;
}
/* line 160, ../../scss/_text.scss */
.line.with-meta .meta-toggle span.fa {
  display: block;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  color: rgba(0, 0, 0, 0.7);
}
/* line 166, ../../scss/_text.scss */
.line.with-meta .meta {
  height: auto;
  padding-bottom: 50px;
  opacity: 1;
}
/* line 171, ../../scss/_text.scss */
.line.with-meta .line-number span.ng-hide {
  display: block !important;
}

/* line 176, ../../scss/_text.scss */
.line.show-scansion p.text-content {
  color: #aaaaaa;
}
/* line 179, ../../scss/_text.scss */
.line.show-scansion .syllable-long {
  color: rgba(0, 0, 0, 0.8);
}
/* line 181, ../../scss/_text.scss */
.line.show-scansion .syllable-long:before {
  opacity: 1;
}
/* line 186, ../../scss/_text.scss */
.line.show-scansion .syllable-short {
  color: #aaaaaa;
  position: relative;
}
/* line 189, ../../scss/_text.scss */
.line.show-scansion .syllable-short:before {
  opacity: 1;
}

/* line 194, ../../scss/_text.scss */
.meta {
  text-align: center;
  height: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: opacity 100ms ease-out 300ms;
  -moz-transition: opacity 100ms ease-out 300ms;
  -o-transition: opacity 100ms ease-out 300ms;
  transition: opacity 100ms ease-out 300ms;
}

/* line 201, ../../scss/_text.scss */
.meta-section {
  text-align: left;
  height: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: opacity 300ms ease-out 0ms;
  -moz-transition: opacity 300ms ease-out 0ms;
  -o-transition: opacity 300ms ease-out 0ms;
  transition: opacity 300ms ease-out 0ms;
}
/* line 207, ../../scss/_text.scss */
.meta-section .meta-section-title {
  margin: 33px 0 7px 0.33%;
}
/* line 210, ../../scss/_text.scss */
.meta-section .meta-item {
  display: inline-block;
  vertical-align: top;
  width: 29%;
  max-height: 200px;
  overflow: hidden;
  min-width: 200px;
  position: relative;
  margin: 20px 2% 20px 2%;
  padding: 10px 2px 15px;
  border-top: 1px solid rgba(235, 235, 235, 0.9);
  -webkit-box-shadow: inset 0px 0px 50px white;
  -moz-box-shadow: inset 0px 0px 50px white;
  box-shadow: inset 0px 0px 50px white;
}
/* line 228, ../../scss/_text.scss */
.meta-section .meta-item.view-more {
  max-height: none;
}
/* line 231, ../../scss/_text.scss */
.meta-section .meta-item.view-more .show-more-toggle .fa.fa-minus {
  display: block;
}
/* line 234, ../../scss/_text.scss */
.meta-section .meta-item.view-more .show-more-toggle .fa.fa-plus {
  display: none;
}
/* line 241, ../../scss/_text.scss */
.meta-section.meta-selected {
  height: auto;
  opacity: 1;
}

/* line 247, ../../scss/_text.scss */
.definitions .meta-item {
  padding-bottom: 30px;
}
/* line 250, ../../scss/_text.scss */
.definitions h4.word {
  font-size: 20px;
  display: inline-block;
}
/* line 254, ../../scss/_text.scss */
.definitions a.to-perseus {
  text-decoration: underline;
  display: inline-block;
  padding: 2px 15px;
  font-size: 12px;
}
/* line 259, ../../scss/_text.scss */
.definitions a.to-perseus:hover {
  text-decoration: none;
}
/* line 263, ../../scss/_text.scss */
.definitions .root {
  font-size: 17px;
  font-weight: bold;
}
/* line 268, ../../scss/_text.scss */
.definitions .def {
  display: block;
  width: 100%;
  font-size: 16px;
  margin: 6px 0 6px 0px;
}
/* line 274, ../../scss/_text.scss */
.definitions .form {
  display: block;
  width: 100%;
  font-size: 14px;
  margin: 4px 0 4px 10px;
}

/* line 282, ../../scss/_text.scss */
.commentary .meta-item {
  padding-bottom: 30px;
  padding-right: 20px;
  padding-left: 10px;
}
/* line 287, ../../scss/_text.scss */
.commentary .comment-ref, .commentary .comment-source {
  font-weight: bold;
}
/* line 290, ../../scss/_text.scss */
.commentary .comment-text {
  font-size: 16px;
  padding: 0 0px;
  line-height: 26px;
}
/* line 295, ../../scss/_text.scss */
.commentary .comment-source {
  font-size: 14px;
  margin: 5px 0;
  display: block;
}
/* line 300, ../../scss/_text.scss */
.commentary .quote {
  display: block;
  padding: 10px;
}
/* line 304, ../../scss/_text.scss */
.commentary .in-comment-line {
  display: block;
  padding: 2px 0;
  line-height: 24px;
}

/* line 312, ../../scss/_text.scss */
.articles .article a {
  display: block;
  text-decoration: none !important;
  text-align: left;
}
/* line 317, ../../scss/_text.scss */
.articles .article a:hover span {
  color: black;
}
/* line 323, ../../scss/_text.scss */
.articles .article a:visited {
  color: #666;
}
/* line 330, ../../scss/_text.scss */
.articles .article span {
  font-size: 16px;
  display: block;
}
/* line 334, ../../scss/_text.scss */
.articles .article .author {
  font-weight: bold;
  text-align: left;
}

/* line 340, ../../scss/_text.scss */
.related-passages {
  cursor: default;
}
/* line 342, ../../scss/_text.scss */
.related-passages .author {
  display: inline-block;
  margin-right: 10px;
  font-size: 20px;
}
/* line 347, ../../scss/_text.scss */
.related-passages .work {
  display: inline-block;
  font-size: 20px;
}
/* line 351, ../../scss/_text.scss */
.related-passages .passage-ref a {
  border-bottom: 1px solid #82c0ba;
  box-shadow: inset 0 -4px 0 #82c0ba;
}
/* line 355, ../../scss/_text.scss */
.related-passages .passage-ref a:hover {
  border-bottom: none;
  box-shadow: none;
}
/* line 360, ../../scss/_text.scss */
.related-passages .passage-ref span {
  font-size: 20px;
}
/* line 363, ../../scss/_text.scss */
.related-passages .passage-lemma {
  margin: 5px 0;
}
/* line 365, ../../scss/_text.scss */
.related-passages .passage-lemma span {
  font-size: 18px;
}
/* line 369, ../../scss/_text.scss */
.related-passages .similarity-index {
  font-weight: bold;
}

/* line 373, ../../scss/_text.scss */
.meta-section.media {
  margin-top: 0;
}

/* line 377, ../../scss/_text.scss */
.show-more-toggle {
  position: absolute;
  bottom: 0;
  right: 0px;
  width: 100%;
  height: 40px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), #ffffff);
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0), #ffffff);
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0), #ffffff);
  background-image: linear-gradient(rgba(255, 255, 255, 0), #ffffff);
}
/* line 385, ../../scss/_text.scss */
.show-more-toggle .fa.fa-plus {
  display: block;
}
/* line 388, ../../scss/_text.scss */
.show-more-toggle .fa.fa-minus {
  display: none;
}
/* line 392, ../../scss/_text.scss */
.show-more-toggle span {
  position: absolute;
  bottom: 0px;
  right: 50px;
  padding: 7px 10px;
  font-size: 12px;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
/* line 401, ../../scss/_text.scss */
.show-more-toggle span:hover {
  background: rgba(0, 0, 0, 0.8);
}

/* line 407, ../../scss/_text.scss */
.text-browser-tool {
  position: fixed;
  z-index: 99;
  bottom: 20px;
  right: 50px;
  border: 1px solid #dddddd;
  background: white;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
/* line 416, ../../scss/_text.scss */
.text-browser-tool span, .text-browser-tool input {
  font-family: 'Merriweather', serif;
  font-size: 24px;
}
/* line 420, ../../scss/_text.scss */
.text-browser-tool .tool-browser {
  display: inline-block;
  cursor: pointer;
  position: relative;
}
/* line 425, ../../scss/_text.scss */
.text-browser-tool .tool-browser .selected-item {
  display: block;
  font-size: 22px;
  padding: 10px 16px;
}
/* line 429, ../../scss/_text.scss */
.text-browser-tool .tool-browser .selected-item:hover {
  background: whitesmoke;
}
/* line 434, ../../scss/_text.scss */
.text-browser-tool .work-browser {
  border-right: 1px solid #f0f0f0;
  width: 140px;
}
/* line 437, ../../scss/_text.scss */
.text-browser-tool .work-browser .selected-item {
  padding-right: 20px;
}
/* line 442, ../../scss/_text.scss */
.text-browser-tool .subwork-browser {
  width: 80px;
  border-right: 1px solid #f0f0f0;
}
/* line 446, ../../scss/_text.scss */
.text-browser-tool .line-browser {
  border-right: 1px solid #f0f0f0;
}
/* line 448, ../../scss/_text.scss */
.text-browser-tool .line-browser input {
  width: 80px;
  padding: 5px 5px 5px 10px;
  border: none;
  outline: none;
  font-size: 27px;
}
/* line 455, ../../scss/_text.scss */
.text-browser-tool .line-browser input:focus {
  outline: none;
}
/* line 460, ../../scss/_text.scss */
.text-browser-tool .translation-tool {
  background: rgba(0, 0, 0, 0.6);
  margin: 0;
  padding: 16px 15px;
  vertical-align: top;
}
/* line 465, ../../scss/_text.scss */
.text-browser-tool .translation-tool:hover {
  background: rgba(0, 0, 0, 0.6);
}
/* line 468, ../../scss/_text.scss */
.text-browser-tool .translation-tool.translation-active {
  background: rgba(0, 0, 0, 0.8);
}
/* line 471, ../../scss/_text.scss */
.text-browser-tool .translation-tool span {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  font-weight: 800;
  color: #fff;
}

/* line 480, ../../scss/_text.scss */
.tool-panel {
  overflow: hidden;
  height: auto;
  position: absolute;
  bottom: 52px;
  border-top: 1px solid #f0f0f0;
  border-left: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0;
  width: 100%;
  z-index: 100;
}
/* line 490, ../../scss/_text.scss */
.tool-panel .work-option, .tool-panel .subwork-option {
  cursor: pointer;
  display: block;
  background: #fff;
  text-align: left;
  border-top: 1px solid #f0f0f0;
}
/* line 496, ../../scss/_text.scss */
.tool-panel .work-option:hover, .tool-panel .subwork-option:hover {
  background: #3c948b;
  color: white;
}
/* line 501, ../../scss/_text.scss */
.tool-panel .work-option {
  padding: 15px 25px 15px 20px;
  font-size: 18px;
}
/* line 505, ../../scss/_text.scss */
.tool-panel .subwork-option {
  padding: 10px 17px 10px 12px;
  font-size: 14px;
}
/* line 509, ../../scss/_text.scss */
.tool-panel i.close-modal {
  display: none;
  top: 20px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.6);
}
/* line 516, ../../scss/_text.scss */
.tool-panel i.close-modal:hover {
  color: rgba(0, 0, 0, 0.8);
}

/* line 521, ../../scss/_text.scss */
.no-results {
  display: inline-block;
  vertical-align: top;
  width: 29%;
  max-height: 310px;
  overflow: hidden;
  position: relative;
  margin: 20px 2% 20px 2%;
  padding: 10px 2px 15px;
  border-top: 1px solid rgba(235, 235, 235, 0.9);
}

/* line 536, ../../scss/_text.scss */
.no-lines {
  display: block;
  width: 100%;
  text-align: center;
}
/* line 540, ../../scss/_text.scss */
.no-lines em {
  font-family: 'Merriweather', serif;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.6);
  margin: 50px 0;
  display: inline-block;
}

/* line 547, ../../scss/_text.scss */
.pre-line {
  cursor: default;
}
/* line 549, ../../scss/_text.scss */
.pre-line span, .pre-line h3 {
  cursor: default;
}

/* line 553, ../../scss/_text.scss */
.meta-item.upload {
  display: block;
  border-top: none;
  cursor: pointer;
}
/* line 558, ../../scss/_text.scss */
.meta-item.upload:hover span {
  color: rgba(0, 0, 0, 0.8);
}
/* line 563, ../../scss/_text.scss */
.meta-item.upload h4, .meta-item.upload span {
  display: inline-block;
  font-size: 18px;
  vertical-align: top;
  color: rgba(0, 0, 0, 0.6);
}
/* line 569, ../../scss/_text.scss */
.meta-item.upload span.fa {
  padding: 0px 10px 10px;
  font-size: 18px;
}

/* line 574, ../../scss/_text.scss */
.text-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  z-index: 10001;
  background: rgba(255, 255, 255, 0.95);
}
/* line 584, ../../scss/_text.scss */
.text-modal .upload-modal-inner {
  padding: 40px 0 0px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
/* line 591, ../../scss/_text.scss */
.text-modal h3.modal-title {
  font-size: 28px;
  margin: 0 auto;
  text-align: center;
}
/* line 597, ../../scss/_text.scss */
.text-modal label.subheading {
  display: block;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 24px;
  font-weight: bold;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
  margin: 10px 0 10px;
}
/* line 605, ../../scss/_text.scss */
.text-modal .help-text {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
  display: block;
  margin: 0 auto;
  vertical-align: top;
  width: 40%;
  padding: 2px 20px 2px 5px;
}
/* line 615, ../../scss/_text.scss */
.text-modal span.instructions {
  text-align: center;
  font-size: 16px;
  width: 60%;
  margin: 30px auto;
  display: block;
  color: rgba(0, 0, 0, 0.6);
}
/* line 624, ../../scss/_text.scss */
.text-modal input.upload-link, .text-modal textarea {
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  margin: 20px 0;
  width: 60%;
  text-align: left;
  font-size: 16px;
}
/* line 633, ../../scss/_text.scss */
.text-modal textarea {
  height: 200px;
}
/* line 637, ../../scss/_text.scss */
.text-modal label.media-type-label {
  font-size: 16px;
  cursor: pointer;
  padding: 5px;
  margin-right: 15px;
}
/* line 644, ../../scss/_text.scss */
.text-modal input.media-type {
  padding: 5px;
}
/* line 648, ../../scss/_text.scss */
.text-modal input.submit {
  color: white;
  background: rgba(0, 0, 0, 0.8);
  outline: none;
  border: none;
  padding: 10px 13%;
  margin: 30px auto;
  clear: both;
  display: block;
}
/* line 657, ../../scss/_text.scss */
.text-modal input.submit:hover {
  background: #222222;
}
/* line 662, ../../scss/_text.scss */
.text-modal span.modal-close {
  position: absolute;
  cursor: pointer;
  top: 20px;
  right: 40px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 26px;
}

/* line 671, ../../scss/_text.scss */
#success_modal {
  text-align: center;
}
/* line 673, ../../scss/_text.scss */
#success_modal h3.modal-title {
  font-size: 28px;
  margin: 50px auto;
  text-align: center;
}
/* line 678, ../../scss/_text.scss */
#success_modal p {
  text-align: center;
}

/* line 682, ../../scss/_text.scss */
.remove-note {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.6);
}
/* line 689, ../../scss/_text.scss */
.remove-note:hover {
  color: rgba(0, 0, 0, 0.8);
}

/* line 694, ../../scss/_text.scss */
.not-bookmarked span {
  color: #aaaaaa;
}

/* line 699, ../../scss/_text.scss */
.bookmarked span {
  color: #3c948b;
}

/* line 703, ../../scss/_text.scss */
.my_notes .note {
  min-height: 100px;
}

/* line 706, ../../scss/_text.scss */
.my_notes .comment-text {
  cursor: pointer;
}
/* line 708, ../../scss/_text.scss */
.my_notes .comment-text:hover {
  color: #000;
}

/* line 713, ../../scss/_text.scss */
#translation_panel {
  position: fixed;
  background: rgba(245, 245, 245, 0.96);
  bottom: 0;
  left: 0;
  padding: 10px;
  width: 100%;
  height: 240px;
  text-align: left;
  border-top: 1px solid #dddddd;
  z-index: 999;
  display: none;
}
/* line 726, ../../scss/_text.scss */
#translation_panel .translation-panel-inner {
  position: relative;
  width: 90%;
  margin: 0 auto;
  padding: 0;
}
/* line 732, ../../scss/_text.scss */
#translation_panel p {
  display: block;
  font-family: 'Merriweather', serif;
  font-size: 18px;
  font-weight: 100;
  line-height: 30px;
  margin: 0px auto 2px;
}
/* line 739, ../../scss/_text.scss */
#translation_panel .translation-body {
  padding: 0px 100px 0px 20px;
  display: inline-block;
  width: 79.7%;
  float: right;
  margin: 15px 4% 15px auto;
  vertical-align: top;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 190px;
  /* Track */
  /* Handle */
}
/* line 750, ../../scss/_text.scss */
#translation_panel .translation-body::-webkit-scrollbar {
  width: 8px;
}
/* line 754, ../../scss/_text.scss */
#translation_panel .translation-body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
/* line 761, ../../scss/_text.scss */
#translation_panel .translation-body::-webkit-scrollbar-thumb {
  background: #aaaaaa;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
/* line 767, ../../scss/_text.scss */
#translation_panel .translation-body::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 0, 0, 0.4);
}
/* line 771, ../../scss/_text.scss */
#translation_panel .translation-options {
  position: absolute;
  left: 0;
  top: 20px;
}
/* line 776, ../../scss/_text.scss */
#translation_panel .translation-options .option {
  padding: 7px 12px;
  margin: 5px;
  cursor: pointer;
  display: inline-block;
  clear: both;
  float: left;
  background: #f0f0f0;
  border: 1px solid #dddddd;
}
/* line 786, ../../scss/_text.scss */
#translation_panel .translation-options .option span {
  font-size: 16px;
  display: block;
}
/* line 791, ../../scss/_text.scss */
#translation_panel .translation-options .option:hover {
  background: #444;
  border: 1px solid #444;
  color: white;
}
/* line 796, ../../scss/_text.scss */
#translation_panel .translation-options .option.selected-translation {
  background: rgba(0, 0, 0, 0.8);
  border: 1px solid #444;
  color: white;
}
/* line 804, ../../scss/_text.scss */
#translation_panel .close-translation {
  position: absolute;
  right: 30px;
  top: 20px;
  color: #aaaaaa;
  cursor: pointer;
}
/* line 810, ../../scss/_text.scss */
#translation_panel .close-translation:hover {
  color: rgba(0, 0, 0, 0.6);
}
/* line 813, ../../scss/_text.scss */
#translation_panel .close-translation span {
  font-size: 30px;
}

/* line 2, ../../scss/_page.scss */
.page .content-wrap, .article .content-wrap, .blog .content-wrap, .archive .content-wrap {
  width: 100%;
  text-align: center;
  min-height: 700px;
  margin: 70px 0 200px;
  overflow-x: hidden;
}
/* line 8, ../../scss/_page.scss */
.page .content-wrap .subtitle, .article .content-wrap .subtitle, .blog .content-wrap .subtitle, .archive .content-wrap .subtitle {
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.8);
}
/* line 12, ../../scss/_page.scss */
.page .content-wrap p, .article .content-wrap p, .blog .content-wrap p, .archive .content-wrap p {
  width: 64%;
  margin: 10px auto;
  text-align: left;
  line-height: 35px;
  font-size: 20px;
}
/* line 19, ../../scss/_page.scss */
.page .content-wrap a, .article .content-wrap a, .blog .content-wrap a, .archive .content-wrap a {
  text-decoration: none;
  border-bottom: 1px solid #82c0ba;
  box-shadow: inset 0 -4px 0 #82c0ba;
}
/* line 23, ../../scss/_page.scss */
.page .content-wrap a:hover, .article .content-wrap a:hover, .blog .content-wrap a:hover, .archive .content-wrap a:hover {
  text-decoration: none;
  border-bottom: none;
  box-shadow: none;
}
/* line 30, ../../scss/_page.scss */
.page .lemma-font p, .article .lemma-font p, .blog .lemma-font p, .archive .lemma-font p {
  font-family: 'Merriweather', serif;
  font-size: 24px;
  font-size: 20px;
  margin: 25px auto;
}

/* line 37, ../../scss/_page.scss */
section.content-section {
  margin: 40px auto 80px;
  display: block;
}

/* line 41, ../../scss/_page.scss */
.single-geo {
  width: 60%;
  margin: 40px auto;
  display: block;
}
/* line 45, ../../scss/_page.scss */
.single-geo h2 {
  font-size: 32px;
  margin: 10px auto 30px;
}
/* line 49, ../../scss/_page.scss */
.single-geo #map {
  width: 100%;
  height: 300px;
  margin: 0 auto;
}

/* line 57, ../../scss/_page.scss */
.about-page .content-wrap {
  margin-top: 40px;
}
/* line 60, ../../scss/_page.scss */
.about-page h1.title {
  margin: 20px 0;
}

/* line 65, ../../scss/_page.scss */
.fourohfour-centered {
  text-align: center;
}

/* line 68, ../../scss/_page.scss */
.search .no-results, .profile .no-results {
  margin: 10px auto 50px;
}

/* line 72, ../../scss/_page.scss */
.search-lines, .search-items {
  margin: 20px auto 50px;
  min-height: 200px;
}

/* line 76, ../../scss/_page.scss */
.search input.query-box {
  padding: 20px;
  margin: 20px auto;
  border: none;
  font-family: 'Merriweather', serif;
  font-size: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  font-size: 32px;
  width: 70%;
}
/* line 84, ../../scss/_page.scss */
.search input.query-box:focus {
  outline: none;
}

/* line 88, ../../scss/_page.scss */
.search .get-more {
  margin-bottom: 100px;
}

/*
 * User profile styles
 */
/* line 95, ../../scss/_page.scss */
.profile span.desc {
  width: 90%;
  margin: 10px auto 40px;
  color: rgba(0, 0, 0, 0.6);
  display: block;
}

/* line 1, ../../scss/_pagination.scss */
.pagination {
  clear: both;
  width: 50%;
  margin: 0 auto;
}
/* line 5, ../../scss/_pagination.scss */
.pagination a {
  background: rgba(0, 0, 0, 0.6);
  text-decoration: none;
}
/* line 8, ../../scss/_pagination.scss */
.pagination a:hover {
  background: rgba(0, 0, 0, 0.8);
}
/* line 12, ../../scss/_pagination.scss */
.pagination .seq-page {
  display: inline-block;
  vertical-align: top;
}
/* line 15, ../../scss/_pagination.scss */
.pagination .seq-page a {
  font-family: 'Merriweather', serif;
  font-size: 24px;
  color: white;
  display: block;
  vertical-align: top;
  font-size: 20px;
  text-transform: uppercase;
  padding: 30px;
}
/* line 26, ../../scss/_pagination.scss */
.pagination .seq-page span.fa {
  font-size: 12px;
  padding: 8px 15px;
  vertical-align: top;
}
/* line 32, ../../scss/_pagination.scss */
.pagination .prev-page {
  float: left;
}
/* line 34, ../../scss/_pagination.scss */
.pagination .prev-page a {
  text-align: right;
}
/* line 38, ../../scss/_pagination.scss */
.pagination .next-page {
  float: right;
}
/* line 40, ../../scss/_pagination.scss */
.pagination .next-page a {
  text-align: left;
}

/* line 2, ../../scss/_user.scss */
.user-profile-tease a {
  width: 100%;
  padding: 20px;
}
/* line 6, ../../scss/_user.scss */
.user-profile-tease .user-image-wrap {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  overflow: hidden;
  vertical-align: top;
  width: 40px;
  height: 40px;
  display: inline-block;
}
/* line 13, ../../scss/_user.scss */
.user-profile-tease .user-image-wrap img {
  width: 40px;
}
/* line 17, ../../scss/_user.scss */
.user-profile-tease h3 {
  vertical-align: top;
  display: inline-block;
  font-size: 20px;
  padding: 10px 0 10px 10px;
  margin: 0;
}

/* line 1, ../../scss/_index.scss */
.block {
  margin: 0px auto;
  padding: 60px 0;
}
/* line 4, ../../scss/_index.scss */
.block p.desc {
  font-family: 'Merriweather', serif;
  font-size: 24px;
  font-size: 22px;
  line-height: 37px;
  width: 60%;
  margin: 0px auto;
  padding: 20px 0;
}
/* line 11, ../../scss/_index.scss */
.block p.desc a {
  text-decoration: none;
  border-bottom: 1px solid #82c0ba;
  box-shadow: inset 0 -4px 0 #82c0ba;
}
/* line 15, ../../scss/_index.scss */
.block p.desc a:hover {
  border-bottom: none;
  box-shadow: none;
}

/* line 22, ../../scss/_index.scss */
h2.block-title {
  font-size: 42px;
  margin: 30px auto;
}

/* line 26, ../../scss/_index.scss */
.little-line {
  display: block;
  clear: both;
  width: 100px;
  height: 2px;
  background: rgba(0, 0, 0, 0.6);
  margin: 20px auto;
}

/* line 35, ../../scss/_index.scss */
.index header.headroom--top {
  background: transparent;
  border-bottom: none;
}
/* line 38, ../../scss/_index.scss */
.index header.headroom--top a {
  color: white;
}
/* line 40, ../../scss/_index.scss */
.index header.headroom--top a span:hover {
  background: none;
}
/* line 45, ../../scss/_index.scss */
.index header.headroom--top span.fa {
  color: white;
}
/* line 48, ../../scss/_index.scss */
.index header.headroom--top span.site-title {
  display: none;
}

/* line 53, ../../scss/_index.scss */
.header-block {
  position: relative;
  padding: 0;
}
/* line 56, ../../scss/_index.scss */
.header-block .headline-image-screen {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: -webkit-linear-gradient(175deg, rgba(18, 107, 97, 0.7), rgba(18, 107, 97, 0.8));
  background-image: -moz-linear-gradient(175deg, rgba(18, 107, 97, 0.7), rgba(18, 107, 97, 0.8));
  background-image: -o-linear-gradient(175deg, rgba(18, 107, 97, 0.7), rgba(18, 107, 97, 0.8));
  background-image: linear-gradient(175deg, rgba(18, 107, 97, 0.7), rgba(18, 107, 97, 0.8));
}
/* line 63, ../../scss/_index.scss */
.header-block h1.primary-title {
  position: relative;
  top: 180px;
  color: white;
  display: inline-block;
  font-size: 60px;
  margin: 10px auto;
}
/* line 71, ../../scss/_index.scss */
.header-block h5.secondary-text {
  position: relative;
  top: 180px;
  margin: 10px auto 40px;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: #eee;
  width: 60%;
  line-height: 35px;
}
/* line 79, ../../scss/_index.scss */
.header-block h5.secondary-text a {
  padding: 0;
  color: white;
  border-bottom: 1px solid white;
  text-decoration: none;
}
/* line 84, ../../scss/_index.scss */
.header-block h5.secondary-text a:hover {
  border-bottom: 1px solid #3c948b;
  text-decoration: none;
}
/* line 90, ../../scss/_index.scss */
.header-block a.header-link {
  position: relative;
  top: 180px;
  display: inline-block;
  padding: 15px 25px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 25px 15px;
}
/* line 100, ../../scss/_index.scss */
.header-block a.header-link.learn-more {
  border: 1px solid white;
  color: white;
  background: transparent;
}
/* line 104, ../../scss/_index.scss */
.header-block a.header-link.learn-more:hover {
  color: rgba(0, 0, 0, 0.6);
  background: white;
}
/* line 109, ../../scss/_index.scss */
.header-block a.header-link.read-vergil {
  border: 1px solid #3c948b;
  color: white;
  background: #3c948b;
}
/* line 113, ../../scss/_index.scss */
.header-block a.header-link.read-vergil:hover {
  border: 1px solid #444;
  color: white;
  background: #444;
}

/* line 126, ../../scss/_index.scss */
.beliefs-block .image-wrap {
  width: 70%;
  margin: 0 auto;
}
/* line 129, ../../scss/_index.scss */
.beliefs-block .image-wrap img {
  width: 100%;
}
/* line 133, ../../scss/_index.scss */
.beliefs-block .cross-device-images {
  margin: 30px auto;
  width: 80%;
  position: relative;
  height: 420px;
}
/* line 139, ../../scss/_index.scss */
.beliefs-block .cross-device-images .image-wrap {
  position: absolute;
  overflow: hidden;
  border: 1px solid black;
  bottom: 0;
}
/* line 146, ../../scss/_index.scss */
.beliefs-block .cross-device-images .laptop {
  left: 0px;
  width: 780px;
  height: 420px;
}
/* line 151, ../../scss/_index.scss */
.beliefs-block .cross-device-images .tablet {
  bottom: 5px;
  left: 55%;
  width: 300px;
  height: 360px;
}
/* line 157, ../../scss/_index.scss */
.beliefs-block .cross-device-images .phone {
  bottom: 10px;
  left: 78%;
  width: 192px;
  height: 300px;
}

/* line 167, ../../scss/_index.scss */
.about-block {
  background: #f1f1f1;
}
/* line 169, ../../scss/_index.scss */
.about-block p.desc {
  color: #222;
}

/* line 174, ../../scss/_index.scss */
.features-block {
  width: 100%;
  padding: 0;
}
/* line 177, ../../scss/_index.scss */
.features-block .feature {
  text-align: left;
  width: 33.333%;
  height: 240px;
  display: inline-block;
  vertical-align: top;
  color: white;
  position: relative;
  background: url("/img/entity_achilles-small.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  -webkit-transition: background-size 100ms ease-out 0;
  -moz-transition: background-size 100ms ease-out 0;
  -o-transition: background-size 100ms ease-out 0;
  transition: background-size 100ms ease-out 0;
}
/* line 194, ../../scss/_index.scss */
.features-block .feature:hover {
  background-size: 105% auto !important;
}
/* line 197, ../../scss/_index.scss */
.features-block .feature:hover div.feature-image-screen {
  opacity: .95;
}
/* line 203, ../../scss/_index.scss */
.features-block .feature div.feature-image-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: -webkit-linear-gradient(160deg, #3c948b, #329c91);
  background-image: -moz-linear-gradient(160deg, #3c948b, #329c91);
  background-image: -o-linear-gradient(160deg, #3c948b, #329c91);
  background-image: linear-gradient(160deg, #3c948b, #329c91);
  opacity: .95;
  background-image: -webkit-linear-gradient(160deg, #3c948b, #126b61);
  background-image: -moz-linear-gradient(160deg, #3c948b, #126b61);
  background-image: -o-linear-gradient(160deg, #3c948b, #126b61);
  background-image: linear-gradient(160deg, #3c948b, #126b61);
  -webkit-transition: opacity 100ms ease-out 0;
  -moz-transition: opacity 100ms ease-out 0;
  -o-transition: opacity 100ms ease-out 0;
  transition: opacity 100ms ease-out 0;
}
/* line 214, ../../scss/_index.scss */
.features-block .feature span, .features-block .feature h3 {
  position: relative;
  cursor: default;
}
/* line 219, ../../scss/_index.scss */
.features-block .feature .feature-inner {
  position: relative;
  padding: 30px 45px;
}
/* line 224, ../../scss/_index.scss */
.features-block .feature .feature-line {
  position: relative;
  display: block;
  clear: both;
  width: 150px;
  height: 1px;
  background: white;
  margin: 14px 0;
}
/* line 235, ../../scss/_index.scss */
.features-block .feature.f2 {
  background: url("/img/entity_cato-small.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
/* line 241, ../../scss/_index.scss */
.features-block .feature.f3 {
  background: url("/img/entity_aeneas-small.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
/* line 247, ../../scss/_index.scss */
.features-block .feature.f4 {
  background: url("/img/entity_elysium-small.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
/* line 253, ../../scss/_index.scss */
.features-block .feature.f5 {
  background: url("/img/entity_eryx-small.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
/* line 259, ../../scss/_index.scss */
.features-block .feature.f6 {
  background: url("/img/entity_geryon-small.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
/* line 265, ../../scss/_index.scss */
.features-block .feature.f7 {
  background: url("/img/entity_iris-small.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
/* line 271, ../../scss/_index.scss */
.features-block .feature.f8 {
  background: url("/img/entity_mezentius-small.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
/* line 277, ../../scss/_index.scss */
.features-block .feature.f9 {
  background: url("/img/entity_romulus-small.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

/* line 287, ../../scss/_index.scss */
.demo-block {
  padding-bottom: 0;
  background: #fff;
}
/* line 290, ../../scss/_index.scss */
.demo-block .demo-lines {
  background: white;
  margin-bottom: 0;
}
/* line 293, ../../scss/_index.scss */
.demo-block .demo-lines > .line {
  padding: 120px 40px;
  border-right: 5px solid rgba(0, 0, 0, 0.6);
  border-left: 5px solid rgba(0, 0, 0, 0.6);
  border-top: 5px solid rgba(0, 0, 0, 0.6);
}
/* line 298, ../../scss/_index.scss */
.demo-block .demo-lines > .line.extended .meta-toggle span.fa {
  position: relative;
  top: 120px;
  right: 40px;
}

/* line 308, ../../scss/_index.scss */
.get-started-block {
  border-top: 2px solid rgba(0, 0, 0, 0.8);
  background: #f1f1f1;
}

/* line 313, ../../scss/_index.scss */
.texts-block {
  padding: 0;
  background: #f1f1f1;
}
/* line 317, ../../scss/_index.scss */
.texts-block .author-text {
  margin-bottom: 0px;
  border-bottom: 1px solid #3c948b;
  max-width: 1400px;
}

/* line 327, ../../scss/_index.scss */
.start-building-item {
  width: 33%;
  margin: 10px 3%;
  padding: 10px;
  display: inline-block;
  vertical-align: top;
  color: #222222;
  text-decoration: none;
}
/* line 335, ../../scss/_index.scss */
.start-building-item span {
  display: block;
  padding: 10px;
}
/* line 339, ../../scss/_index.scss */
.start-building-item span.fa {
  font-size: 80px;
}
/* line 344, ../../scss/_index.scss */
.start-building-item:hover span.fa {
  color: #3c948b;
}
/* line 349, ../../scss/_index.scss */
.start-building-item:visited, .start-building-item:focus {
  color: #222222;
  text-decoration: none;
}

@media (max-width: 1400px) {
  /* line 2, ../../scss/_responsive.scss */
  .meta-section .meta-item, .meta-section .no-results {
    width: 45%;
  }

  /* line 5, ../../scss/_responsive.scss */
  .index .line.with-meta .meta-tabs {
    float: none;
    margin: 0 30px 10px 40px;
    vertical-align: middle;
  }

  /* line 10, ../../scss/_responsive.scss */
  .line.with-meta .meta-tabs {
    float: none;
    margin: 0 30px 10px 40px;
    vertical-align: middle;
  }
}
@media (max-width: 1350px) {
  /* line 17, ../../scss/_responsive.scss */
  .lines {
    width: 97%;
    margin: 50px auto;
  }
}
@media (max-width: 1200px) {
  /* line 24, ../../scss/_responsive.scss */
  body.index {
    overflow-x: hidden;
  }

  /* line 27, ../../scss/_responsive.scss */
  .subworks {
    width: 100%;
    float: none;
    clear: both;
    padding: 20px 10px 40px;
  }

  /* line 33, ../../scss/_responsive.scss */
  .meta-elements {
    width: 100%;
    height: auto;
    float: none;
    clear: both;
    padding: 10px 0 50px;
  }

  /* line 40, ../../scss/_responsive.scss */
  .author-text {
    height: auto;
    margin-bottom: 0;
  }

  /* line 44, ../../scss/_responsive.scss */
  .author-text .meta-elements, .author-text .subworks {
    width: 100%;
    float: none;
    clear: both;
  }

  /* line 49, ../../scss/_responsive.scss */
  .text-modal input.upload-link, .text-modal textarea {
    width: 80%;
  }

  /* line 52, ../../scss/_responsive.scss */
  .text-modal .help-text {
    width: 80%;
  }
}
@media (max-width: 1100px) {
  /* line 58, ../../scss/_responsive.scss */
  .text-browser-tool {
    bottom: -1px;
    right: 10px;
  }

  /* line 62, ../../scss/_responsive.scss */
  .line {
    width: 100%;
  }

  /* line 65, ../../scss/_responsive.scss */
  .line .line-number {
    vertical-align: top;
    width: 25px;
  }
  /* line 68, ../../scss/_responsive.scss */
  .line .line-number span {
    font-size: 10px;
  }

  /* line 72, ../../scss/_responsive.scss */
  .line.with-meta .meta-tabs, .index .line.with-meta .meta-tabs {
    margin: 0 30px 10px 25px;
  }
}
@media (max-width: 1000px) {
  /* line 80, ../../scss/_responsive.scss */
  .line .meta-toggle span.fa {
    font-size: 32px;
    padding: 0;
  }

  /* line 85, ../../scss/_responsive.scss */
  .line.with-meta .meta-toggle {
    top: 0;
  }

  /* line 88, ../../scss/_responsive.scss */
  .pagination {
    width: 100%;
  }

  /* line 91, ../../scss/_responsive.scss */
  .features-block .feature {
    width: 50%;
  }

  /* line 94, ../../scss/_responsive.scss */
  .start-building-item {
    width: 40%;
  }

  /* line 97, ../../scss/_responsive.scss */
  .archive .single-image-wrap, .article .single-image-wrap, .blog .single-image-wrap, .page .single-image-wrap, .single-geo {
    width: 90%;
  }

  /* line 100, ../../scss/_responsive.scss */
  #translation_panel .translation-body {
    padding: 0 10px;
    height: 110px;
  }
  /* line 103, ../../scss/_responsive.scss */
  #translation_panel .translation-body p {
    margin: 0;
    font-size: 14px;
    line-height: 24px;
  }

  /* line 109, ../../scss/_responsive.scss */
  #translation_panel .translation-panel-inner {
    width: 95%;
  }

  /* line 112, ../../scss/_responsive.scss */
  #translation_panel {
    height: 160px;
  }

  /* line 115, ../../scss/_responsive.scss */
  #translation_panel .close-translation {
    right: 5px;
  }

  /* line 118, ../../scss/_responsive.scss */
  #translation_panel .translation-options {
    top: 10px;
  }
}
@media (max-width: 900px) {
  /* line 125, ../../scss/_responsive.scss */
  .archive .content-wrap p, .article .content-wrap p, .blog .content-wrap p, .page .content-wrap p {
    width: 93%;
    font-size: 18px;
  }

  /* line 130, ../../scss/_responsive.scss */
  .list-line {
    width: 98%;
  }

  /* line 133, ../../scss/_responsive.scss */
  .list-line span.line-item {
    font-size: 14px;
  }

  /* line 136, ../../scss/_responsive.scss */
  .block p.desc {
    width: 90%;
  }
}
@media (max-width: 800px) {
  /* line 142, ../../scss/_responsive.scss */
  .text-browser-tool {
    position: relative;
    margin: 50px auto;
    border: none;
    z-index: 999;
    top: -120px;
    display: block;
    width: 62%;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  /* line 153, ../../scss/_responsive.scss */
  .text-browser-tool .tool-browser {
    background: #dddddd;
    vertical-align: middle;
  }
  /* line 156, ../../scss/_responsive.scss */
  .text-browser-tool .tool-browser .selected-item:hover {
    background: #ccc;
  }
  /* line 160, ../../scss/_responsive.scss */
  .text-browser-tool .tool-browser.translation-tool {
    background: rgba(0, 0, 0, 0.6);
    padding: 16px 15px 15px;
  }
  /* line 165, ../../scss/_responsive.scss */
  .text-browser-tool .tool-browser input {
    background: #dddddd;
    padding: 6px 6px 7px 10px;
    vertical-align: middle;
  }
  /* line 169, ../../scss/_responsive.scss */
  .text-browser-tool .tool-browser input:focus {
    background: #ccc;
  }

  /* line 174, ../../scss/_responsive.scss */
  .tool-panel {
    position: fixed;
    background: rgba(255, 255, 255, 0.85);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    padding: 80px 10px;
    margin: 0 auto;
    z-index: 1;
    text-align: center;
  }
  /* line 188, ../../scss/_responsive.scss */
  .tool-panel .work-option {
    display: block;
    font-size: 26px;
    margin: 0 auto;
    border: none;
    background: none;
    text-align: center;
    width: 100%;
  }
  /* line 197, ../../scss/_responsive.scss */
  .tool-panel .subwork-option {
    font-size: 22px;
    display: inline-block;
    background: rgba(0, 0, 0, 0.6);
    margin: 10px;
    text-align: center;
    padding: 20px;
    border: none;
    color: white;
  }
  /* line 208, ../../scss/_responsive.scss */
  .tool-panel i.close-modal {
    position: fixed;
    display: block;
    z-index: 999;
  }

  /* line 214, ../../scss/_responsive.scss */
  #translation_panel {
    z-index: 1000;
  }

  /* line 217, ../../scss/_responsive.scss */
  .text-modal input.upload-link, .text-modal textarea {
    width: 90%;
  }

  /* line 220, ../../scss/_responsive.scss */
  .text-modal span.instructions {
    width: 90%;
  }

  /* line 223, ../../scss/_responsive.scss */
  .text-modal .help-text {
    width: 90%;
  }

  /* line 226, ../../scss/_responsive.scss */
  .text-modal span.modal-close {
    right: 10px;
  }
}
@media (max-width: 750px) {
  /* line 232, ../../scss/_responsive.scss */
  header .side-menu .side-menu-head {
    padding: 7px 38px 5px 0px;
  }

  /* line 235, ../../scss/_responsive.scss */
  header .social-wrap {
    margin-right: 0;
  }

  /* line 238, ../../scss/_responsive.scss */
  .title {
    font-size: 30px;
  }

  /* line 241, ../../scss/_responsive.scss */
  .subtitle {
    font-size: 24px;
  }

  /* line 244, ../../scss/_responsive.scss */
  .lines {
    margin: 20px auto 50px;
  }

  /* line 247, ../../scss/_responsive.scss */
  .line {
    position: relative;
  }

  /* line 250, ../../scss/_responsive.scss */
  .line .lemma p.text-content, .line .lemma p.text-content span {
    font-size: 18px;
    line-height: 30px;
    margin: 0;
  }

  /* line 255, ../../scss/_responsive.scss */
  .line .meta-tabs .meta-tab {
    font-size: 14px;
    margin: 5px;
    padding: 5px 10px;
  }

  /* line 260, ../../scss/_responsive.scss */
  .line.with-meta .meta-tabs, .index .line.with-meta .meta-tabs {
    margin: 0 0px 10px 0px;
  }

  /* line 263, ../../scss/_responsive.scss */
  .meta-section .meta-section-title {
    font-size: 20px;
  }

  /* line 266, ../../scss/_responsive.scss */
  .line .line-number {
    display: none;
    line-height: 10px;
  }

  /* line 270, ../../scss/_responsive.scss */
  .line.with-meta .line-number {
    display: block;
    width: auto;
    margin-right: 5px;
    vertical-align: bottom;
  }
  /* line 275, ../../scss/_responsive.scss */
  .line.with-meta .line-number span {
    font-size: 10px;
    height: 10px;
  }

  /* line 280, ../../scss/_responsive.scss */
  .line .meta-toggle {
    position: absolute;
    width: 100%;
    height: 47px;
    display: block;
    top: 0px;
    left: -20px;
    cursor: pointer;
  }

  /* line 289, ../../scss/_responsive.scss */
  .line.has-speaker .meta-toggle {
    top: 45px;
  }

  /* line 293, ../../scss/_responsive.scss */
  .line.with-meta .meta-toggle span.fa {
    display: none;
  }

  /* line 300, ../../scss/_responsive.scss */
  .line .lemma:hover .meta-toggle span.fa {
    display: none;
  }

  /* line 305, ../../scss/_responsive.scss */
  .archive-content {
    text-align: center;
  }

  /* line 308, ../../scss/_responsive.scss */
  .tease-item {
    width: 47%;
    margin: 10px 1%;
  }

  /* line 313, ../../scss/_responsive.scss */
  .modal-inner .login-options .login-option {
    width: 90%;
  }

  /* line 316, ../../scss/_responsive.scss */
  .modal-inner {
    width: 90%;
  }

  /* line 319, ../../scss/_responsive.scss */
  .modal-inner .login-alternative input {
    width: 90%;
  }

  /* line 323, ../../scss/_responsive.scss */
  .header-block h1.primary-title, .header-block h5.secondary-text, .header-block a.header-link {
    top: 50px;
  }

  /* line 326, ../../scss/_responsive.scss */
  .demo-block .demo-lines > .line {
    padding: 50px 20px;
  }
  /* line 328, ../../scss/_responsive.scss */
  .demo-block .demo-lines > .line .meta-toggle {
    height: 90px;
  }

  /* line 332, ../../scss/_responsive.scss */
  .meta-elements .meta-element span.num {
    font-size: 22px;
  }

  /* line 335, ../../scss/_responsive.scss */
  .meta-elements .meta-element span.meta-label {
    font-size: 12px;
  }

  /* line 339, ../../scss/_responsive.scss */
  .meta-section .meta-item, .meta-section .no-results {
    width: 95%;
  }

  /* line 342, ../../scss/_responsive.scss */
  .single-wrap h1 {
    padding: 10px;
  }

  /* line 345, ../../scss/_responsive.scss */
  .archive .single-image-wrap.media-image-wrap, .article .single-image-wrap.media-image-wrap, .blog .single-image-wrap.media-image-wrap, .page .single-image-wrap.media-image-wrap, .single-geo {
    width: 90%;
    margin: 10px auto;
  }
}
@media (max-width: 700px) {
  /* line 353, ../../scss/_responsive.scss */
  .content.primary {
    margin-bottom: 30px;
  }

  /* line 356, ../../scss/_responsive.scss */
  .features-block .feature {
    width: 100%;
  }

  /* line 359, ../../scss/_responsive.scss */
  .block p.desc {
    font-size: 18px;
  }

  /* line 362, ../../scss/_responsive.scss */
  h2.block-title {
    font-size: 30px;
  }

  /* line 365, ../../scss/_responsive.scss */
  .start-building-item {
    width: 60%;
  }

  /* line 369, ../../scss/_responsive.scss */
  .text-browser-tool {
    top: 0px;
    right: auto;
    margin: 10px 0;
    width: 100%;
  }
}
@media (max-width: 600px) {
  /* line 379, ../../scss/_responsive.scss */
  .tease-item {
    width: 100%;
    margin: 10px 0%;
  }

  /* line 384, ../../scss/_responsive.scss */
  .header-block h5.secondary-text {
    font-size: 20px;
    width: 90%;
  }

  /* line 388, ../../scss/_responsive.scss */
  .meta-item.upload h4, .meta-item.upload span {
    font-size: 16px;
  }

  /* line 392, ../../scss/_responsive.scss */
  .text-modal input.media-type {
    float: left;
    clear: both;
    padding: 10px;
    margin-top: 10px;
  }

  /* line 398, ../../scss/_responsive.scss */
  .text-modal label.media-type-label {
    width: 80%;
    text-align: left;
    float: left;
    padding: 5px 20px;
  }

  /* line 406, ../../scss/_responsive.scss */
  #translation_panel .translation-options .option span {
    font-size: 12px;
  }
}
@media (max-width: 500px) {
  /* line 414, ../../scss/_responsive.scss */
  header .social-wrap {
    display: none;
  }

  /* line 417, ../../scss/_responsive.scss */
  .pagination .seq-page {
    width: 100%;
    border-bottom: 1px solid #aaaaaa;
  }
  /* line 420, ../../scss/_responsive.scss */
  .pagination .seq-page a {
    text-align: center;
    padding: 10px;
  }
  /* line 424, ../../scss/_responsive.scss */
  .pagination .seq-page:first-child {
    border-top: 1px solid #aaaaaa;
  }

  /* line 428, ../../scss/_responsive.scss */
  .get-more {
    width: 100%;
  }

  /* line 431, ../../scss/_responsive.scss */
  .archive .content-wrap p, .article .content-wrap p, .blog .content-wrap p, .page .content-wrap p {
    font-size: 16px;
  }

  /* line 440, ../../scss/_responsive.scss */
  .line .meta-tabs .meta-tab {
    display: inline-block;
    padding: 7px;
    margin: 5px 2px 5px 0px;
    font-size: 12px;
  }

  /* line 446, ../../scss/_responsive.scss */
  .list-line span.line-text {
    display: block;
    margin-top: 0;
    padding-top: 0;
    width: 100%;
  }

  /* line 452, ../../scss/_responsive.scss */
  .meta-section .meta-section-title {
    font-size: 18px;
    margin: 15px 0;
  }

  /* line 456, ../../scss/_responsive.scss */
  .meta-section .meta-item {
    margin: 5px 0;
    width: 100%;
  }

  /* line 460, ../../scss/_responsive.scss */
  .start-building-item {
    width: 80%;
  }

  /* line 463, ../../scss/_responsive.scss */
  .text-modal input.submit {
    width: 90%;
  }

  /* line 466, ../../scss/_responsive.scss */
  .text-modal textarea {
    height: 100px;
  }

  /* line 470, ../../scss/_responsive.scss */
  #translation_panel {
    height: 100px;
    padding: 2px 0;
  }

  /* line 475, ../../scss/_responsive.scss */
  #translation_panel .translation-options {
    top: 0;
    left: 0;
  }
  /* line 478, ../../scss/_responsive.scss */
  #translation_panel .translation-options .option {
    display: inline-block;
    font-size: 12px;
    padding: 2px 5px;
  }

  /* line 484, ../../scss/_responsive.scss */
  #translation_panel .translation-body {
    width: 100%;
    margin: 40px auto 0;
    float: none;
    padding: 0 0 0 1%;
    height: 50px;
  }

  /* line 491, ../../scss/_responsive.scss */
  #translation_panel .close-translation {
    top: 10px;
    right: 10px;
  }
  /* line 494, ../../scss/_responsive.scss */
  #translation_panel .close-translation span.fa {
    font-size: 23px;
  }

  /* line 499, ../../scss/_responsive.scss */
  .translation-tool {
    width: 100%;
  }

  /* line 502, ../../scss/_responsive.scss */
  .tool-browser.work-browser {
    width: 55%;
  }

  /* line 505, ../../scss/_responsive.scss */
  .text-browser-tool .line-browser {
    width: 22%;
  }

  /* line 508, ../../scss/_responsive.scss */
  .text-browser-tool .subwork-browser {
    width: 23%;
  }
}
/*********************************
* Namespace #impress styles
*
**********************************/
/* line 5, ../../scss/_impress.scss */
#impress {
  /*
      presentation steps.
  
  */
  /* Our styles
   */
}
/* line 7, ../../scss/_impress.scss */
#impress .fallback-message {
  line-height: 1.3;
  width: 90%;
  padding: 10px 10px 0;
  margin: 20px auto;
}
/* line 15, ../../scss/_impress.scss */
#impress .fallback-message p {
  margin-bottom: 10px;
}
/* line 19, ../../scss/_impress.scss */
#impress .impress-supported .fallback-message {
  display: none;
}
/* line 28, ../../scss/_impress.scss */
#impress .step {
  position: relative;
  width: 1000px;
  padding: 40px;
  margin: 20px auto;
}
/* line 34, ../../scss/_impress.scss */
#impress .step p {
  font-family: 'Merriweather', serif;
  font-size: 40px;
  margin: 0px auto;
  padding: 10px 20px 60px;
  line-height: 65px;
  width: 90%;
}
/* line 40, ../../scss/_impress.scss */
#impress .step p.smaller {
  font-size: 32px;
  line-height: 55px;
}
/* line 43, ../../scss/_impress.scss */
#impress .step p.smaller.subset {
  font-size: 28px;
  line-height: 50px;
}
/* line 48, ../../scss/_impress.scss */
#impress .step p a {
  border-bottom: 1px solid #82c0ba;
  box-shadow: inset 0 -4px 0 #82c0ba;
}
/* line 51, ../../scss/_impress.scss */
#impress .step p a:focus {
  text-decoration: none;
}
/* line 58, ../../scss/_impress.scss */
#impress .step.active h2, #impress .step.active p, #impress .step.active a {
  color: #000;
}
/* line 61, ../../scss/_impress.scss */
#impress .step.active img {
  opacity: 1;
}
/* line 67, ../../scss/_impress.scss */
#impress .step.past h2, #impress .step.past p, #impress .step.past a, #impress .step.past .morph {
  color: rgba(0, 0, 0, 0.8);
}
/* line 70, ../../scss/_impress.scss */
#impress .step.past img {
  opacity: .9;
}
/* line 75, ../../scss/_impress.scss */
#impress .step.future h2, #impress .step.future p, #impress .step.future a, #impress .step.future .morph {
  color: #dddddd;
}
/* line 78, ../../scss/_impress.scss */
#impress .step.future img {
  opacity: .05;
}
/* line 82, ../../scss/_impress.scss */
#impress .step .caption {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.6);
  display: block;
  text-align: center;
  position: absolute;
  margin: 0 auto;
  bottom: -10px;
  right: 50px;
}
/* line 93, ../../scss/_impress.scss */
#impress .step .quote-caption {
  font-size: 30px;
  margin-left: 100px;
}
/* line 97, ../../scss/_impress.scss */
#impress .step .graph-caption {
  font-size: 30px;
  position: absolute;
  top: 100px;
  z-index: 100000;
  left: -150px;
  width: 150px;
}
/* line 106, ../../scss/_impress.scss */
#impress p, #impress h2 {
  -webkit-transition: all 200ms ease-out 0;
  -moz-transition: all 200ms ease-out 0;
  -o-transition: all 200ms ease-out 0;
  transition: all 200ms ease-out 0;
}
/* line 109, ../../scss/_impress.scss */
#impress .morph {
  color: rgba(0, 0, 0, 0.6);
}
/* line 113, ../../scss/_impress.scss */
#impress .impress-enabled .step {
  margin: 0;
  opacity: 0.3;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}
/* line 124, ../../scss/_impress.scss */
#impress .impress-enabled .step.active {
  opacity: 1;
}
/* line 126, ../../scss/_impress.scss */
#impress .slide {
  position: relative;
  display: block;
  width: 1000px;
  height: 600px;
  padding: 40px 60px;
}
/* line 135, ../../scss/_impress.scss */
#impress #overview, #impress #go_back_up {
  display: none;
}
/* line 141, ../../scss/_impress.scss */
#impress h1.logo {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  margin-top: 120px;
}
/* line 147, ../../scss/_impress.scss */
#impress h2 {
  font-family: 'Merriweather', serif;
  font-size: 60px;
}
/* line 150, ../../scss/_impress.scss */
#impress .cornfield {
  position: absolute;
  top: 100px;
  left: 350px;
  width: 600px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
}
/* line 157, ../../scss/_impress.scss */
#impress .lod-cloud {
  position: absolute;
  top: -10px;
}
/* line 161, ../../scss/_impress.scss */
#impress .branches-head {
  text-align: center;
}
/* line 164, ../../scss/_impress.scss */
#impress .two-branches {
  display: inline-block;
  font-size: 30px;
  margin: 100px 40px 0;
  width: 350px;
  text-align: center;
  vertical-align: top;
}
/* line 172, ../../scss/_impress.scss */
#impress .framework-logo {
  width: 200px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.8);
  margin: 10px;
}
/* line 178, ../../scss/_impress.scss */
#impress .screenshot {
  width: 1000px;
  border: 1px solid #aaaaaa;
}
/* line 183, ../../scss/_impress.scss */
#impress #links a {
  display: inline-block;
  margin-right: 100px;
  margin-bottom: 20px;
}
/* line 187, ../../scss/_impress.scss */
#impress #links a:focus {
  text-decoration: none;
}

/* line 195, ../../scss/_impress.scss */
.blue {
  color: #3c948b !important;
}

/* line 198, ../../scss/_impress.scss */
.presentation-contact {
  top: 0px;
  padding: 10px;
  right: 0px;
  background: rgba(255, 255, 255, 0.7);
  z-index: 999999;
}
/* line 204, ../../scss/_impress.scss */
.presentation-contact a {
  display: inline-block;
  padding: 5px 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.8);
}
/* line 210, ../../scss/_impress.scss */
.presentation-contact a.logo {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: bold;
}
/* line 213, ../../scss/_impress.scss */
.presentation-contact a:focus {
  text-decoration: none;
}
/* line 218, ../../scss/_impress.scss */
.presentation-contact .border-left {
  border-left: 1px solid #aaaaaa;
}
