extends base

block page_content

	div.ng-page(data-ng-controller="PageController as page")
		article.page

			div.grid.inner

				div.content-wrap

					h1.title Entity 
					h2.subtitle Subtitle 
					
					div.article-content 
						p Liber et alma Ceres, vestro si munere tellus chaoniam pingui glandem
							| mutavit aristra poculaque inventis acheloia miscuit uvis, et vos
							| o agrestum praesentia numina fauni, ferte simul faunique pedem 
							| dryadesque puella munera vestra cano.  Tuque o cui prima frementem
							| fudit equum magno tellus percussa tridenti, neptune.	
						p et alma Ceres, vestro si munere tellus chaoniam pingui glandem
							| mutavit aristra poculaque inventis acheloia miscuit uvis, et vos
							| o agrestum praesentia numina fauni, ferte simul faunique pedem 
							| dryadesque puella munera vestra cano.  Tuque o cui prima frementem
							| fudit equum magno tellus percussa tridenti, neptune.	

						p Liber et alma Ceres, vestro si munere tellus chaoniam pingui glandem
							| mutavit aristra poculaque inventis acheloia miscuit uvis, et vos
							| o agrestum praesentia numina fauni, ferte simul faunique pedem 
							| dryadesque puella munera vestra cano.  Tuque o cui prima frementem
							| fudit equum magno tellus percussa tridenti, neptune.	
