extends ../base

block page_content

	div.ng-page(data-ng-controller="SingleController as single" data-ng-init="init()")
		article.single.page.entity-page

			div.grid.inner

				div.content-wrap
					div.single-wrap.entity-wrap(ng-repeat="entity in entities")
						a.back-to-entities(href="/entities") Entities

						h1.title {{ entity.en_name | capitalize }} 
						h2.subtitle {{ entity.l_names.join(", ") }}
						
						div.article-content.lemma-font

							div.single-image-wrap.entity-image-wrap 
								a.image-source(href="{{entity.link}}" target="_blank") Image via Wikimedia.org
								img(ng-hide="!entity.thumbnail.length" ng-src="{{entity.thumbnail | thumb_large}}")
							p(ng-hide="!entity.desc.length") “{{ entity.desc }} . . .”
							p(ng-hide="!entity.desc.length").citation Information retrieved from Wikipedia.org.  Continue reading about <a href="{{entity.link}}" target="_blank">{{ entity.en_name | capitalize}}</a> there.

							div.single-geo.geo(ng-show="item.geo")
								h2 Location 
								div.map-wrap
									div#map

							div.single-lines.entity-lines
								h2 Lines
								div.list-line(ng-repeat="line in entity.lines" data-id="{{line._id}}")
									a(href="/{{line.work}}/{{line.subwork.n}}/{{line.line.n}}")
										span.line-item.line-work {{line.work | capitalize}}
										span.line-item.line-subwork {{line.subwork.n | roman_numeral}}
										span.line-item.line-number {{line.line.n}}
										span.line-item.line-text {{line.line.text}}
								div.no-results(ng-show="!entity.lines.length"): span No lines.
								
	script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDDne8gL9SMnCVSOFOD3HfMmqGWvululI")
