extends base

block page_content

	div.content.primary.ng-page(data-ng-controller="PageController as page")
		article.page.page-404
			div.grid.inner

				div.content-wrap

					h1.title Well, there's not a page here 
					
					div.article-content.lemma-font 
						span.fourohfour-centered Should there be a page here?  Let us know at <a href="mailto:contact@segetes.io">contact@segetes.io</a>
