extends base

block page_content

	div.ng-archive(data-ng-controller="ArchiveController as archive" data-model="#{ model }")

		div.grid.inner

			div.content-wrap

				h1.title #{ title } 

				div#subnav.subnav 
					a.subnav-link(ng-repeat="nav in subnav" data-n="{{nav.slug}}" ng-click="filter( $event )") {{nav.title}}
				
				div#items.archive-content 

					include partials/tease_item

					div.get-more(ng-click="more( $event )" ng-hide="no_more_items || !items.length")
						span.more More
						div.loading.hidden
							span.fa.fa-circle-o-notch.fa-fw.fa-spin

					div.no-results(ng-show="!items.length")
						span No results.
