doctype
html.no-js(ng-app="sg")
  head(prefix="og: http://ogp.me/ns#")
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title #{page_title} 
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')
    link(rel='stylesheet', href='/css/styles.css')
    link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", rel="stylesheet")
    link(href="/img/favicon.ico" rel="shortcut icon" type="image/x-icon")
    link(href="/img/favicon.ico" rel="icon" type="image/x-icon")
    //script(src='javascripts/vendor/modernizr-2.7.1.min.j
    style
      | @import url('http://fonts.googleapis.com/css?family=PT+Serif|Droid+Serif|Merriweather:400,300|Roboto+Condensed:400,700,300|Open+Sans:400,300,600|');
    script
      | (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      | (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      | m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      | })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      | ga('create', 'UA-36250260-4', 'auto');
      | ga('send', 'pageview');
    meta(property="og:title" content="Segetes, The Works of Vergil")
    meta(property="og:locale" content="en_US")
    meta(property="og:site_name" content="Segetes, The Works of Vergil")
    meta(property="og:description" content="Segetes, A radically simple, developer-friendly framework for creating and curating networked texts and media.")
    meta(property="og:image" content="http://segetes.io/img/segetes_home.jpg")

  body(class="#{ page_class }" ng-cloak)

    include partials/header

    // Primary grid
    div.grid.primary

        block page_content
    

    include partials/footer
    include partials/login_modal
    include partials/loading_modal
    include partials/filler_modal



  // javascripts
  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
  //script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js')
  //script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.js")
  script window.jQuery || document.write('<script src="javascripts/vendor/jquery-1.11.0.min.js"><\/script>')

  script(src="/js/angular.js")
  script(src="/js/angular-route.js")
  script(src="/js/angular-resource.js")
  script(src="/js/angular-sanitize.js")
  script(src='/js/app.js')
  script(type="text/javascript" src="/js/headroom.min.js")
  script(type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/headroom/0.6.0/angular.headroom.min.js")

