extends base

block page_content

	div.content.primary.text.index(data-ng-controller="IndexController as index")
			div.content-wrap

				div.block.header-block
					div.headline-image
						div.headline-image-screen
							div.grid.inner
								h1.primary-title segetes
								h5.secondary-text A radically simple, developer-friendly framework for creating and curating <a href="http://en.wikipedia.org/wiki/Networked_book" target="_blank">networked texts</a> and media 

								a.header-link.learn-more(href="/#beliefs") Learn More
								a.header-link.read-vergil(href="/#texts") Read Vergil


				div#beliefs.block.beliefs-block
					div.grid.inner
						h2.block-title.left Our Manifesto 
						div.little-line
						p.desc.info-desc We believe reading on a screen should be as simple and beautiful of an experience as reading on a page. Interacting with metadata should be as intuitive as interacting with the text itself, no matter what device you use.
						div.image-wrap
							img(src="/img/segetes-responsive.png")

				div#about.block.about-block
					div.grid.inner

						p.desc.about-desc Segetes is a simple, elegant framework that enables you to build web applications for publishing texts and aggregating, discovering, and extracting metadata.  Applications built with Segetes have the ability to share seamlessly between each other and can create <a href="http://p2pfoundation.net/Decentralized_Network" target="_blank">decentralized networks</a>.

				div#features.block.features-block
					div.feature.f1
						div.feature-image-screen
						div.feature-inner
							h3.feature-title Related Passages
							div.feature-line
							span.feature-desc Built in text reuse algorithms to map connections between your texts and others

					div.feature.f2
						div.feature-image-screen
						div.feature-inner
							h3.feature-title Media 
							div.feature-line
							span.feature-desc Support for associating audio, video, and images with your text and inviting the community to upload their own  

					div.feature.f3
						div.feature-image-screen
						div.feature-inner
							h3.feature-title Export 
							div.feature-line
							span.feature-desc Archive your data and share it with your choice of several different NEH-recognised data formats

					div.feature.f4
						div.feature-image-screen
						div.feature-inner
							h3.feature-title Share 
							div.feature-line
							span.feature-desc Send all or select items of your data seamlessly between other sites using the Segetes framework and powerful API

					div.feature.f5
						div.feature-image-screen
						div.feature-inner
							h3.feature-title Criticism 
							div.feature-line
							span.feature-desc Import citations using APIs from major academic search engines to put your work in context 

					div.feature.f6
						div.feature-image-screen
						div.feature-inner
							h3.feature-title Entities 
							div.feature-line
							span.feature-desc Extract and recognise named entities from your text and create an index of passages where they appear 

					div.feature.f7
						div.feature-image-screen
						div.feature-inner
							h3.feature-title Scansion 
							div.feature-line
							span.feature-desc If you're text is poetry, include metrical data for each line 

					div.feature.f8
						div.feature-image-screen
						div.feature-inner
							h3.feature-title Definitions 
							div.feature-line
							span.feature-desc Use a dictionary to display definitions of words in your passages 

					div.feature.f9
						div.feature-image-screen
						div.feature-inner
							h3.feature-title Commentary 
							div.feature-line
							span.feature-desc Include public-domain commentary for your text or create and edit your own  


				div#demo.block.demo-block
					div.grid.inner
						h2.block-title.left Hover, Select, Expand 
						div.little-line
						p.desc.demo-desc Simply <strong>hover</strong> over the text and <strong>click</strong> the plus to expand critical data related to the target passage to enrich engagement and understanding 

						div#demo-lines.lines.demo-lines
							div.line(ng-repeat="line in lines" data-n="{{line.line.n}}")
								div.pre-line(ng-show="line.speaker.length")
									h3.speaker {{line.speaker}} 

								div.lemma
									div.line-number
										span(ng-show="line.line.n % 5 === 0") {{line.line.n}}
									p.text-content(ng-bind-html="line.line.html | unsafe")
									div.meta-tabs
										span.meta-tab(data-type="scansion" ng-click="toggle_scansion($event)") Scansion
										span.meta-tab(data-type="definitions" ng-click="toggle_meta_section($event)" ng-hide="!line.definitions.length") Definitions
										span.meta-tab.selected(data-type="commentary" ng-click="toggle_meta_section($event)" ) Commentary
										span.meta-tab(data-type="articles" ng-click="toggle_meta_section($event)" ng-hide="!line.articles.length") Criticism 
										span.meta-tab(data-type="related-passages" ng-click="toggle_meta_section($event)" ng-hide="!line.related_passages.length") Related Passages
										span.meta-tab(data-type="entities" ng-click="toggle_meta_section($event)" ng-hide="!line.entities.length") Entities
										span.meta-tab(data-type="media" ng-click="toggle_meta_section($event)" ) Media 
									div.meta-toggle(ng-click="toggle_meta($event)" )
										span.fa.fa-plus-circle

								div.meta
									div.meta-section.definitions
										h3.meta-section-title Definitions
										div.meta-item.definition(ng-repeat="word in line.definitions")
											div.show-more-toggle(ng-click="show_more($event)")
												span.fa.fa-plus
												span.fa.fa-minus

											div.definition-title.meta-item-title
												h4.word {{word.word}}
												a.to-perseus(href="http://www.perseus.tufts.edu/hopper/morph?l={{word.word}}&la=la" target="_blank") Perseus

											div.meaning(ng-repeat="def in word.defs")
												span.root {{def.orth.join(", ")}}
												span.def {{def.senses.join(", ")}}
												div.forms(ng-repeat="infl in def.infls")
													div.form(ng-switch="infl.pos")
														span.form(ng-switch-when="noun")
															span(ng-hide="!infl.ending.length") -{{infl.ending}}: 
															| {{infl.pos}} {{infl.form.declension}} {{infl.form.gender}} {{infl.form.number}}
														span.form(ng-switch-when="pronoun") 
															span(ng-hide="!infl.ending.length") -{{infl.ending}}: 
															| {{infl.pos}} {{infl.form.declension}} {{infl.form.gender}} {{infl.form.number}}
														span.form(ng-switch-when="adjective") 
															span(ng-hide="!infl.ending.length") -{{infl.ending}}: 
															| {{infl.pos}} {{infl.form.declension}} {{infl.form.gender}} {{infl.form.number}}
														span.form(ng-switch-when="verb") 
															span(ng-hide="!infl.ending.length") -{{infl.ending}}: 
															| {{infl.pos}} {{infl.form.person}} {{infl.form.number}} {{infl.form.tense}} {{infl.form.voice}} {{infl.form.mood}}
														span.form(ng-switch-when="participle") 
															span(ng-hide="!infl.ending.length") -{{infl.ending}}: 
															| {{infl.pos}} {{infl.form.declension}} {{infl.form.gender}} {{infl.form.number}} {{infl.form.tense}} {{infl.form.voice}}
														span.form(ng-switch-default) 
															span(ng-hide="!infl.ending.length") .{{infl.ending}}: 
															| {{infl.pos}} {{infl.form.form}}
											span.no-results(ng-show="!line.definitions.length") No definitions available.

									div.meta-section.commentary.meta-selected
										h3.meta-section-title Commentary 
										div.meta-item.comment(ng-repeat="comment in line.commentary")
											div.show-more-toggle(ng-click="show_more($event)")
												span.fa.fa-plus
												span.fa.fa-minus
											span.comment-source {{comment.source}}
											span.comment-ref {{comment.ref}}:&nbsp;&nbsp;
											span.comment-text(ng-bind-html="comment.comment | unsafe")
										span.no-results(ng-show="!line.commentary.length") No commentary available.

									div.meta-section.articles
										h3.meta-section-title Criticism 
										div.meta-item.article(ng-repeat="article in line.articles")
											a(href="http://www.jstor.org/action/doBasicSearch?Query={{article.title}}&acc=off&wc=on&fc=off&group=none" target="_blank")
												span.author {{article.author}}.
												span.citation-title '{{article.title}}.'
												span.citation {{article.citation}}
										span.no-results(ng-show="!line.articles.length") No citations available.

									div.meta-section.related-passages
										h3.meta-section-title Related Passages 
										div.meta-item.passage(ng-repeat="passage in line.related_passages")

											div.passage-title.meta-item-title
												h4.author {{passage.author | capitalize}}

											div.passage-ref
												span.work {{passage.work | capitalize}}&nbsp;
												span.book {{passage.book}} 
												span.lines {{passage.lines}}

											div.passage-lemma
												span.passage-lemma-line(ng-repeat="lemma_line in passage.lemma") <span class="similarity-index">{{passage.alpha}}𝜏</span> - {{lemma_line}} 
										span.no-results(ng-show="!line.related_passages.length") No related passages.

									div.meta-section.entities
										h3.meta-section-title Entities 
										div.meta-item.entity.tease-item(ng-repeat="entity in line.entities")
											a(href="/entities/{{ entity.en_name }}").item-link
												div.item-image-wrap
													img(ng-src="{{ (entity.thumbnail | thumb_small) || '/img/default_user-large.jpg'}}")
												h2.item-title {{ entity.en_name | capitalize }}
										span.no-results(ng-show="!line.entities.length") No entities associated.

									div.meta-section.media
										h3.meta-section-title Media 
										div.meta-item.media(ng-repeat="media in line.media")
										span.no-results(ng-show="!line.media.length") No media available.
										div.meta-item.upload(ng-click="upload_modal_toggle( $event )")
											span.fa.fa-plus-circle
											span Upload media 


				div#get-started.block.get-started-block
					div.grid.inner
						h2.block-title Get Started 
						div.little-line
						p.desc.demo-desc This site uses Segetes to render the works of <a href="/author/vergil">Vergil</a> as networked texts.  Start exploring them below.

				div#texts.block.texts-block
					div.author(ng-repeat="author in authors")
						//a(href="{{author.guid}}"): h2.title.author-title {{author.display_name}}

						div.author-texts
							div.author-text(ng-repeat="text in author.texts" ng-class-odd="'odd'" ng-class-even="'even'")

								div(class="subworks {{text.title}}")
									div.subwork-image-screen
									a.text-title-link(href="{{text.guid}}"): h3.title.text-title {{text.title}}
									div.subwork(ng-repeat="subwork in text.subworks")
										a(href="{{subwork.guid}}") {{subwork.title}}

								div.meta-elements
									div.meta-element.lines-meta-count
										span.num {{text.meta_elements.lines}} 
										span.meta-label Lines 

									div.meta-element
										a(href="/entities#{{text.title | lowercase}}")
											span.num {{text.meta_elements.entities}} 
											span.meta-label Entities

									div.meta-element
										a(href="/media#{{text.title | lowercase}}")
											span.num {{text.meta_elements.media}}
											span.meta-label Media 

									div.meta-element
										span.num {{text.meta_elements.related_passages}}
										span.meta-label Related Passages

									div.meta-element
										span.num {{text.meta_elements.articles}}
										span.meta-label Criticism 

									div.meta-element
										span.num {{text.meta_elements.commentary}} 
										span.meta-label Commentary

				div#build.block.build-block
					div.grid.inner
						h2.block-title Start Building 
						div.little-line

						a(href="https://github.com/segetes" target="_blank").start-building-item
							span.fa.fa-github
							span.item-text Download our framework from Github.  Fork and extend it with your own contributions! 

						a(href="mailto:contact@segetes.io" target="_blank").start-building-item
							span.fa.fa-envelope
							span.item-text If you'd like more comprehensive support, get in touch with us at contact@segetes.io and tell us what you're thinking! 
