extends base

block page_content

	div.ng-page(data-ng-controller="SearchController as search")
		article.archive.search

			div.grid.inner

				div.content-wrap

					div.article-content.lemma-font
						input.query-box(type="text" ng-model="query" placeholder="Type search here . . ." ng-model-options="{ debounce: 700 }" ng-change="update( $event )")

						div#result_lines.search-lines
							h2.subtitle Lines
							div.list-line.result-line(ng-repeat="line in lines")
								a(href="/{{line.work}}/{{line.subwork.n}}/{{line.line.n}}")
									span.line-item.line-work {{line.work | capitalize}}
									span.line-item.line-subwork {{line.subwork.n | roman_numeral}}
									span.line-item.line-number {{line.line.n}}
									span.line-item.line-text {{line.line.text}}

							div.no-results(ng-show="!lines.length"): span No Results.

							div.get-more(ng-click="more( 'lines', $event )" ng-hide="no_more_items || !lines.length")
								span.more More
								div.loading.hidden
									span.fa.fa-circle-o-notch.fa-fw.fa-spin

						//div.search-items
						//	h2.subtitle Entities and Media
						//	include partials/tease_item

						//	div.no-results(ng-show="!entities.length"): span No Results.

						//	div.get-more(ng-click="more( 'items', $event )" ng-hide="no_more_items || !items.length")
						//		span.more More
						//		div.loading.hidden
						//			span.fa.fa-circle-o-notch.fa-fw.fa-spin
