extends base

block page_content

	div.ng-page(data-ng-controller="ProfileController as profile")
		article.page

			div.grid.inner

				div.content-wrap

					if user
						h1.title #{user.name}  
						span.desc Your profile is your private record of your notes.
						
						div.article-content.lemma-font
							h2.subtitle Notes 
							div.notes
								div.list-line(ng-repeat="note in my_notes" data-id="{{note._id}}")
									a(href="/{{note.ref.work}}/{{note.ref.subwork.n}}/{{note.ref.line.n}}")
										span.line-item.line-work {{note.ref.work | capitalize}}
										span.line-item.line-subwork {{note.ref.subwork.n | roman_numeral}}
										span.line-item.line-number {{note.ref.line.n}}
										span.line-item.line-text {{note.text}}
								div.no-results(ng-show="!my_notes.length"): span No Notes.

							//h2.subtitle Uploads 
							//div.my-uploads
							//	div.no-results(ng-show="!my_uploads.length"): span No Uploads.
