extends base

block page_content

	div.ng-page(data-ng-controller="PageController as page")
		article.page

			div.grid.inner

				div.content-wrap

					h1.title Create an Account 
					
					div.article-content.lemma-font
						div.signup.login-alternative
						form.local(action="/auth/local/signup" method="post" name="local-login")
							div.account-field
								input(name="name" type="text" placeholder="Name" ng-model="user.name" required)
							div.account-field
								input(name="email" type="email" placeholder="Email" ng-model="user.email" required)
							div.account-field
								input(name="password" type="password" placeholder="Password"  ng-model="user.password" required)
							input(type="submit" value="CREATE ACCOUNT")
