extends ../base

block page_content

	div.ng-page(data-ng-controller="PageController as page")
		article.page.about-page
			div.headline-image
			div.grid.inner

				div.content-wrap

					h1.title About 
					h2.subtitle Our Mission 
					
					div.article-content.lemma-font 
						p Reading on a screen should be as simple and beautiful experience as reading on a page, and interacting with data and metadata relating to a text should be as intuitive as interacting with the text itself, whether in a book, through a web browser, or via an API.  Segetes seeks clarity in complexity and emphasizes usability for a wide range of user experiences. 

						p Segetes's goal is to provide both the means for aggregating relevant data and architecture for creating scalable, enduring web applications that publish that data to the international community of learners.  It provides simple, elegant solutions for curating and interacting with the source texts, removing barriers between user and data.
						br

						h2#faq.subtitle FAQ 

						p: strong What is Segetes?
						p Segetes is a <em>framework</em> for building web applications that render networked texts and extract/discover/aggregate metadata from those texts. This site serves as an example with the work of <a href="/author/vergil">Vergil</a>.

						p The Segetes framework offers the means of providing collaborative, publicly-available metadata for any text.  The website you're currently viewing serves as an example, focusing specifically on the work of Vergil.

						br

						p: strong What if I find an error on this site?  
						p Please let us know!  Create an issue <a href="https://github.com/segetes/segetes_data/issues/new" target="_blank">here</a>, and we'll address it as soon as we're able.  
						br

						h2#cite.subtitle How to Cite Segetes/Vergil 
						p We support a permanent CTS URN resolver for citing this web application and others built with the Segetes framework.  You can query this service in the follow method:

						p: span segetes.io/urn/urn:cts:[document_body]:[author_urn].[work_urn](:[subwork_number](.[line_number_from](-[line_number_to])

						p So, for example, a permanent citation which references Segetes/Vergil's Eclogues 2.10, the URN request would look like this:

						p: span segetes.io/urn/urn:cts:latinLit:phi0690.phi001:2.10

						p The author URNs we support are the following:
						p: span Publius Vergilius Maro: phi0690

						p The work URNs we support are the following:
						p: span Eclogues: phi001
						p: span Georgics: phi002
						p: span Aeneid: phi003

						p If there's any other questions for more specific citations or materials, please address them to <a href="mailto:contact@segetes.io">contact@segetes.io</a>. 
						br

						h2#uploads.subtitle Uploading Media 
						p If you upload media to include with a passage of Vergil, please ensure that the the media is licensed with the ability to be reproduced, such as with a Creative Commons license for the applicable media.  Moderators will review all uploaded content before including it with the source passage to ensure the content is able to be hosted on Segetes.
						p Please ensure to include attribution details where appropriate for the source of the media.
						br


						h2#people.subtitle Who We Are 
						p Currently, there is a community of researchers editing data for the Segetes Vergil site, and primary development is undertaken by programmer and poet/translator, <a href="http://lukehollis.org" target="_blank">Luke Hollis</a>. 

						p Otherwise, Segetes has an open source codebase on <a href="https://github.com/segetes" target="_blank">Github</a>.  Learn more about the project, current issues, and how to contribute there. 
						br




						br
						br




	
