extends ../base

block page_content

	style.
		header, footer{display:none;} 
	div.fixed.presentation-contact
		//a(href="http://segetes.io" target="_blank").logo segetes
		a.blue(href="http://segetes.io" target="_blank") segetes.io
		a.border-left(href="mailto:luke@segetes.io" target="_blank") Luke Hollis - @lukehollis
		a.border-left(href="http://sites.tufts.edu/perseusupdates/2015/01/20/digital-classicist-new-england-spring-2015-2/" target="_blank") DCNE2015

	div#impress.lemma-font

		div#start.step.slide(data-x="0" data-y="0")
			h1.logo segetes

		div#links.step.slide(data-x="-1100" data-y="300")
			p
				a(href="http://segetes.io" target="_blank") segetes.io
				a(href="http://segetes.io/dcne2015" target="_blank") segetes.io/dcne2015
				a(href="http://www.digitalclassicist.org/wip/" target="_blank") Digital Classicist Seminars
				a(href="http://sites.tufts.edu/perseusupdates/events/dcne/" target="_blank") Digital Classicist New England

		div#believe.step.slide(data-x="0" data-y="650")
			p Reading on a screen should be as simple and beatuiful of experience as reading on a page

		div#believe2.step.slide(data-x="0" data-y="1300")
			p Interacting with metadata should be as intuitive as interacting with the text itself, no matter what device you use 

		div#believe3.step.slide(data-x="0" data-y="1950")
			p Sharing data with others with similar goals should be seamless and easy

		div#specifics.step.slide(data-x="0" data-y="2600")
			h2 Specifically,
		div#specifics1.step(data-x="40" data-y="2600")
			p.smaller Remove obstacles to users, swap instantly between simple text and related data and metadata. Remove codification where possible.*  

		div#specifics2.step(data-x="40" data-y="2800")
			p.smaller Must work across all devices and provide architecture for navigating related data on smaller screens  

		div#specifics3.step(data-x="40" data-y="3000")
			p.smaller Use emerging technologies to build applications with much less code, development time, and maintenance 

		div#specifics4.step(data-x="40" data-y="3150")
			p.smaller Streamline development to make it easy and <strong>fun</strong>:

		div#specifics5.step(data-x="100" data-y="3300")
			p.smaller.subset A developer with basic programming knowledge should be able to understand the application architecture within a few minutes 

		div#specifics6.step(data-x="100" data-y="3500")
			p.smaller.subset A solution that <strong>everyone</strong> can use, given they have basic programming experience 

		div#what_it_is.step(data-x="18" data-y="3800")
			h2 What it is:

		div#what_it_is2.step(data-x="18" data-y="4150")
			p Segetes is a framework for creating and curating <a href="/">networked texts</a>, and the modules used for <strong>importing</strong> data, <strong>identifying/aggregating</strong> related data and metadata, and <strong>exporting</strong> that data to commonly-used models and formats

		div#what_it_is3.step(data-x="18" data-y="4600")
			p  The first example of a site built with the Segetes (the original inspiration for the project) are the works of <strong>Vergil</strong>, rendered as a networked text, at <a href="http://segetes.io" target="_blank">segetes.io</a>

		div#what_it_is4.step.slide(data-x="0" data-y="5100")
			h2 The Name
			p <strong>segetes</strong>: <em class="morph">noun; feminine; nominative, vocative, or accusative plural</em>. grain field, crop.

		div#what_it_is5.step.slide(data-x="1000" data-y="5080")
			img(src="/img/media/rv_folio11recto-large-uncropped.jpg")
			img.cornfield(src="/img/cornfield.jpg")
			span.caption Photo via <a href="https://www.flickr.com/photos/katieharbath/4809776181/in/photolist-8k2mTx-fkCR41-6Sd91H-6ShdbL-6ShckG-6Sd6Ra-qqE4xr-qGUPB8-pL5qVu-qEMHE9-qqvjQ9-qqDXE4-qGUHnV-qH5hWe-qqvdSN-ae7Qvi-qEMz9G-dqfxDN-5hMP1-ppb8zH-nJkSmZ-dkt65k-77T4tH-itpuv8-bmmGSF-75G2o-56K3Dj-fkoFFR-fMz3LK-8Egh9j-8EKKeV-3XaVwJ-3XaViy-8xx7Va-6H5CuT-itoqPn-FSq43-FSu1c-4Zm9U1-75WSLD-8HLUat-5roYPp-4Fhmz-gXqRMy-rjw98-747QsJ-pwY8bJ-fa9S2g-sEyw4-74mSZG" target="_blank">Katie Harbath</a>, Flickr.

		div#what_it_is6.step.slide(data-x="0" data-y="5700")
			br
			br
			h2 Networked Text? 

		div#what_it_is7.step.slide(data-x="0" data-y="6400")
			p <strong>Networked Text</strong>:
		div#what_it_is8.step.slide(data-x="100" data-y="6500")
			p Text 
		div#what_it_is9.step.slide(data-x="100" data-y="6600")
			p Intersection of resources (digital)
		div#what_it_is10.step.slide(data-x="100" data-y="6700")
			p Sharable 
		div#what_it_is11.step.slide(data-x="100" data-y="6800")
			p Creation is collaborative, distributed
		div#what_it_is12.step.slide(data-x="100" data-y="6900")
			p Aggregating materials 

		div#what_it_is13.step.slide(data-x="1500" data-y="6700" data-scale="2")
			img(src="/img/lod-cloud.svg" width="1000").lod-cloud

		div#what_it_is14.step.slide(data-x="0" data-y="7100")
			p Why not <strong>digital edition</strong>?
		div#what_it_is15.step.slide(data-x="100" data-y="7200")
			p More conventional editing process
		div#what_it_is16.step.slide(data-x="100" data-y="7300")
			p Digital edition is something more specific

		div#what_it_is17.step.slide(data-x="100" data-y="7900")
			p Networked texts hope to <strong>replace nothing</strong>, but <strong>enhance everything</strong>. 


		div#bigpicture.step.slide.branches-head(data-x="3000" data-y="200")
			h1.logo segetes
			span.two-branches Framework <br>(web application)
			span.two-branches Modules <br>(managing data) 

		div#framework.step.slide(data-x="2200" data-y="800")
			h2 Framework
			br
			br
			p All Javascript

		div#framework1.step.slide(data-x="2200" data-y="1100")
			img.framework-logo(src="http://archimedesdigital.io/img/node_logo.svg")
			img.framework-logo(src="http://archimedesdigital.io/img/mongo_logo.png")
			img.framework-logo(src="http://archimedesdigital.io/img/express_logo.png")
			img.framework-logo(src="http://archimedesdigital.io/img/angular_logo.svg")
		div#framework2.step.slide(data-x="2200" data-y="1350")
			p Node.js: Javascript platform and runtime environment
		div#framework3.step.slide(data-x="2200" data-y="1500")
			p MongoDB: Non-relational, flexible schema database (document pool) 
		div#framework4.step.slide(data-x="2200" data-y="1650")
			p Express: Javascript framework for HTTP (and other things)
		div#framework5.step.slide(data-x="2200" data-y="1800")
			p Angular: MVW framework for building client side applications

		div#framework6.step.slide(data-x="2200" data-y="2000")
			p "The web was originally designed to work in the same way that mainframes worked in the 70s. ... But the best teams, with the biggest budgets and the longest schedules, now build applications in JavaScript that run on the client."
			span.quote-caption - Meteor documentation 

		div#go_back_up.step.slide(data-x="3000" data-y="200")

		div#modules.step.slide(data-x="3800" data-y="800")
			h2 Modules
			br
			br
			p Python
			p Designed to help import, manage, and export your data


		div#design.step.slide(data-x="3000" data-y="3000")
			h2 Design 
		div#design1.step.slide(data-x="3000" data-y="3200")
			p What do we want our reading experience on a screen to be like?  
		div#design2.step.slide(data-x="3000" data-y="3400")
			p Reforms in digital journalism and editorial design in the last 18-24 months 
		div#design3.step.slide(data-x="3000" data-y="3650")
			p How do we construct narratives in a digital fashion? 
		div#design4.step.slide(data-x="3000" data-y="3850")
			p How do we improve the readability of the texts that we publish? 
		div#design4b.step.slide(data-x="3000" data-y="4050")
			p Grid-based design: Timothy Samara, Khoi Vinh 
		div#design5.step.slide(data-x="3000" data-y="4250")
			p "Characters and line length," Material Design, Android


		div#design6.step.slide(data-x="4000" data-y="3000" )
			img(src="/img/body_text_width.jpg")
			span.caption From Google's "Principles of Material Design" (2014) 
		div#design7.step.slide(data-x="4000" data-y="3700")
			a(href="http://www.nytimes.com/projects/2012/snow-fall/" target="_blank"): img.screenshot(src="/img/nytsf_head.jpg")
			span.caption New York Times Snowfall (2012) 
		div#design8.step.slide(data-x="4000" data-y="4300")
			img.screenshot(src="/img/nyt_article.jpg")
			span.caption Article page, New York Times Redesign (2014)
		div#design9.step.slide(data-x="4000" data-y="4900")
			img.screenshot(src="/img/wapo_article.jpg")
			span.caption Article page, Washington Post Redesign (2014) 

		div#design10.step.slide(data-x="3000" data-y="4500")
			p Flashy? Trendy?
		div#design11.step.slide(data-x="3000" data-y="5200")
			p Newest iteration of a union of form and content based on centuries of print making and millenia of scrolling media? 

		div#design12.step.slide(data-x="3000" data-y="5900")
			p Segetes wants a simple, distraction-free environment that displays all the complexities of related data in an instant 
		div#design13.step.slide(data-x="3000" data-y="6300")
			a(href="/aeneid" target="_blank"): img.screenshot(src="/img/segetes_screenshot.jpg")

		div#how_to_modules.step(data-x="5100" data-y="200")
			p How can we ingest data?
			p How can we aggregate / extract / identify related data and metadata?
			p How do we render it in a browser? 

		div#how_to_modules1.step(data-x="5100" data-y="500")
			h2 Modules 
		div#how_to_modules1.step(data-x="5100" data-y="700")
			p Ingest
		div#how_to_modules2.step(data-x="5100" data-y="900")
			p Commentary 
		div#how_to_modules3.step(data-x="5100" data-y="1100")
			p Definitions 
		div#how_to_modules4.step(data-x="5100" data-y="1300")
			p Entities 
		div#how_to_modules5.step(data-x="5100" data-y="1500")
			p Scansion 

		div#how_to_modules6.step(data-x="5100" data-y="1700")
			p Text Reuse
		div#how_to_modules6a.step(data-x="6200" data-y="200")
			img.screenshot(src="/img/prob_distribution.png")
			span.graph-caption Distribution
		div#how_to_modules6b.step(data-x="6200" data-y="1000")
			img.screenshot(src="/img/compare_authors.png")
			span.graph-caption Total - All works 
		div#how_to_modules6c.step(data-x="6200" data-y="1700")
			img.screenshot(src="/img/compare_authors_aeneid.png")
			span.graph-caption Total - Aeneid 
		div#how_to_modules6d.step(data-x="6200" data-y="2400")
			img.screenshot(src="/img/compare_authors_georgics.png")
			span.graph-caption Total - Georgics 
		div#how_to_modules6e.step(data-x="6200" data-y="3100")
			img.screenshot(src="/img/compare_authors_eclogues.png")
			span.graph-caption Total - Eclogues 
		div#how_to_modules6f.step(data-x="6200" data-y="3800")
			img.screenshot(src="/img/compare_authors_normalized.png")
			span.graph-caption Normalized - All works 
		div#how_to_modules6g.step(data-x="6200" data-y="4500")
			img.screenshot(src="/img/compare_authors_normalized_aeneid.png")
			span.graph-caption Normalized - Aeneid 
		div#how_to_modules6h.step(data-x="6200" data-y="5200")
			img.screenshot(src="/img/compare_authors_normalized_georgics.png")
			span.graph-caption Normalized - Georgics 
		div#how_to_modules6i.step(data-x="6200" data-y="5900")
			img.screenshot(src="/img/compare_authors_normalized_eclogues.png")
			span.graph-caption Normalized - Eclogues 

		div#how_to_modules7.step(data-x="5100" data-y="1900")
			p Classical Languages ToolKit (CLTK)
		div#how_to_modules8.step(data-x="5100" data-y="2100")
			p Flexible Schema Structure 
		div#how_to_modules9.step(data-x="5100" data-y="2300")
			p Utility Functions

		div#how_to_framework.step(data-x="5100" data-y="2500")
			h2 Framework
		div#how_to_framework1.step(data-x="5100" data-y="2700")
			p API 
		div#how_to_framework2.step(data-x="5100" data-y="2900")
			p Templates
		div#how_to_framework3.step(data-x="5100" data-y="3100")
			p Search 
		div#how_to_framework4.step(data-x="5100" data-y="3300")
			p Entities 
		div#how_to_framework5.step(data-x="5100" data-y="3500")
			p Media 
		div#how_to_framework6.step(data-x="5100" data-y="3700")
			p Related Passages 
		div#how_to_framework7.step(data-x="5100" data-y="3900")
			p Commentary 
		div#how_to_framework8.step(data-x="5100" data-y="4100")
			p CITE Architecture URN resolver 
		div#how_to_framework9.step(data-x="5100" data-y="4300")
			p Translations 
		div#how_to_framework10.step(data-x="5100" data-y="4500")
			p User Accounts 
		div#how_to_framework11.step(data-x="5100" data-y="4700")
			p Sharing 

		div#build.step(data-x="7300" data-y="200")
			h2 How to build your own networked texts using the Segetes framework 

		div#build1.step(data-x="7300" data-y="500")
			p Install node, mongo, git, and python
		div#build2.step(data-x="7300" data-y="700")
			p Clone the segetes_app and segetes_modules repo on GitHub
		div#build3.step(data-x="7300" data-y="900")
			p Download demo data on Vergil
		div#build4.step(data-x="7300" data-y="1100")
			p Mongorestore demo data directory 
		div#build5.step(data-x="7300" data-y="1300")
			p cd segetes_app && npm install
		div#build6.step(data-x="7300" data-y="1500")
			p gulp 
		div#build7.step(data-x="7300" data-y="1700")
			p To get your own content, write scripts (some examples) 
		div#build8.step(data-x="7300" data-y="1900")
			p Documentation on ReadTheDocs 

		div#conclusion.step(data-x="7300" data-y="2100")
			p Summer 2015 



		div#overview.step(data-x="4000" data-y="4000" data-scale="11")

	script(src='/js/impress.js')
	script impress().init();
