extends ../base

block page_content

	div.ng-page(data-ng-controller="PageController as page")
		article.page

			div.grid.inner

				div.content-wrap

					h1.title Sources 
					
					div.article-content.lemma-font

						section#texts.content-section
							h2.subtitle Source Text Editions
							p Segetes Vergil supports handling multiple editions of Vergil's Eclogues, Georgics, and Aeneid.  The default edition is currently the Project Gutenberg edition, which was checked for essential accuracy against the 1969 Oxford Classical Texts edition of Vergil's works, edited by R. A. B. Mynors.  Segetes will implement new features in the near future for browsing the Creative-Commons licensed Perseus data as well.  

							p The Project Gutenberg texts for Vergil: <a href="http://www.gutenberg.org/ebooks/229" target="_blank">Eclogues</a>, <a href="http://www.gutenberg.org/ebooks/231" target="_blank">Georgics</a>, and <a href="https://www.gutenberg.org/ebooks/227" target="_blank">Aeneid</a>.  
							P The Perseus Project texts for Vergil: <a href="http://data.perseus.org/texts/urn:cts:latinLit:phi0690.phi001" target="_blank">Eclogues</a>, <a href="http://data.perseus.org/texts/urn:cts:latinLit:phi0690.phi002" target="_blank">Georgics</a>, and <a href="http://data.perseus.org/texts/urn:cts:latinLit:phi0690.phi003" target="_blank">Aeneid</a>.
							p <strong>Gutenberg</strong>: Maro, Publius Vergilius. <em>The Eclogues, The Georgics, and The Aeneid</em>. Project Gutenberg. April 3, 2008. <a href="https://www.gutenberg.org/ebooks/author/129" target="_blank">Disambiguation</a>. 
							p <strong>Perseus</strong>: Maro, Publius Vergilius. Ed. James Bradstreet Greenough. <em>The, Bucolics, Æneid, and Georgics of Virgil</em>. Ginn, Boston. 1900. <a href="http://data.perseus.org/catalog/urn:cts:latinLit:phi0690.phi003.perseus-lat1" target="_blank">Record Canonical URI</a>.

						section#commentary.content-section
							h2.subtitle Commentary 
							p Commentaries for Segetes Vergil are digitized by Google Books and in the public domain or by The Perseus Project and are licensed under a Creative-Commons ShareAlike 3.0 United States License. 
							p <strong>Greenough and Kittredge</strong>: Ed. James Bradstreet Greenough and George Lyman Kittredge. <em>Greater Poems of Virgil</em>. Vol I. Ginn & Company. Boston, US and London. 1898. <a href="https://books.google.com/books?id=_YpfAAAAMAAJ" target="_blank">Accessed via Google Books.</a> Digitized at the Univeristy of Michigan, 2008.

							p <strong>Conington</strong>: Ed John Conington. <em>P. Vergili Maronis Opera: The works of Virgil, with a Commentary by John Conington, M.A. Late Corpus Professor of Latin in the University of Oxford</em>. London. Whittaker and Co., Ave Maria Lane. 1876. <a href="http://www.perseus.tufts.edu/hopper/text?doc=Perseus%3Atext%3A1999.02.0050%3Abook%3D1%3Acard%3D1" target="_blank">Accessed via the Perseus Project.</a>

							p <strong>Kennedy</strong>: Ed Benjamin Hall Kennedy. <em>The Works of Vergil with a Commentary and Appendices</em>, Second Edition. London. Longmans, Green, and Co. 1879. <a href="https://books.google.com/books?id=YlwCAAAAQAAJ" target="_blank">Accessed via Google Books.</a> Digitized at Harvard Univeristy, 2006.


						section#media.content-section
							h2.subtitle Media
							p All images on the site representing entities or integrated into the design have been retrieved from Wikimedia Commons and are in the public domain or under a Creative-Commons License that allows their usage.
							p Media uploads are reviewed by site moderators for licensing and copyright violations before being included in the site.  If you feel that something has been posted in error or if you own rights to media that you find has been posted here without your consent, please let us know immediately at <a href="mailto:contact@segetes.io" target="_blank">contact@segetes.io</a>.

						section#text_reuse.content-section
							h2.subtitle Text Reuse 
							p The text reuse module is native to Segetes and generates its own comparisons between texts.  The algorithm generates a text similarity index (&tau;), which implements a Levenshtein distance computation to discern sequence relationships.  All texts other than Vergil were accessed via the <a href="https://github.com/kylepjohnson/cltk/" target="_blank">Classical Language ToolKit</a> (CLTK) corpus manager and include the Perseus Project Creative-Commons Licensed texts as well as the Latin Library texts. 

						section#scansion.content-section
							h2.subtitle Scansion 
							p Scansion also was recognized by a native Latin syllabifier and alogrithm to calculate metrical feet.  Editors are checking scansion manually to verify or amend scansion for each line. More information on its implementation is available on the module's <a href="https://github.com/segetes/segetes_modules" target="_blank">Github repository</a>. 
							
						section#criticism.content-section
							h2.subtitle Criticism 
							p The bibliographic citations aggregated for each line were retrieved from JSTOR's API, <a href="http://about.jstor.org/service/data-for-research" target="_blank">Data for Research</a> (DFR).  Segetes contains a module for searching DFR citations and ingesting stable URIs to JSTOR's resources.  

						section#definitions.content-section
							h2.subtitle Definitions 
							p The Latin dictionary for Segetes is a work in progress called <a href="https://github.com/segetes/open_words" target="_blank">Open Words</a>, based on the original work of William Whitaker in Ada, titled <a href="http://archives.nd.edu/words.html" target="_blank">Whitaker's Words</a>, archived at the University of Notre Dame.  The original version of Whitaker's Words is <a href="https://github.com/dsanson/Words" target="_blank">hosted on Github</a> by <a href="https://github.com/dsanson" target="_blank">David Sanson</a>.

						section#editing.content-section
							h2.subtitle Editing 
							p A small team of volunteer editors help curate the content on Segetes and fix errors when they are identified.  More info on the heroes that keep us going soon!

						section#editing.content-section
							h2.subtitle Development 
							p All the Segetes code, in the framework and data curation modules, is released under the MIT license. If you change or build on anything, please fork one of our repos and send us a pull request!  

