extends ../base

block page_content

	div.ng-page(data-ng-controller="PageController as page")
		article.page
			div.grid.inner

				div.content-wrap

					h1.title Terms and Privacy Policy 
					h2.subtitle And all that stuff... 
					
					div.article-content.lemma-font
						p Unless otherwise specified, all data provided by the Segetes web application is licensed under the <a href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank">Creative Commons Attribution-ShareAlike 4.0 International License</a>.  More specific information about texts and other sources is available on our <a href="/sources">sources page</a>.

						br
						h3 Other Information
						p Web Site Terms and Conditions of Use

						p 1. Terms

						p By accessing this web site, you are agreeing to be bound by these web site Terms and Conditions of Use, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this web site are protected by applicable copyright and trade mark law.

						p 2. Use License

						p Permission is granted to temporarily download one copy of the materials (information or software) on Segetes's web site for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not:
						p modify or copy the materials;
						p use the materials for any commercial purpose, or for any public display (commercial or non-commercial);
						p attempt to decompile or reverse engineer any software contained on Segetes's web site;
						p remove any copyright or other proprietary notations from the materials; or
						p transfer the materials to another person or "mirror" the materials on any other server.
						p This license shall automatically terminate if you violate any of these restrictions and may be terminated by Segetes at any time. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your possession whether in electronic or printed format.
						p 3. Disclaimer

						p The materials on Segetes's web site are provided "as is". Segetes makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights. Further, Segetes does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its Internet web site or otherwise relating to such materials or on any sites linked to this site.
						p 4. Limitations

						p In no event shall Segetes or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption,) arising out of the use or inability to use the materials on Segetes's Internet site, even if Segetes or a Segetes authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.

						p 5. Revisions and Errata

						p The materials appearing on Segetes's web site could include technical, typographical, or photographic errors. Segetes does not warrant that any of the materials on its web site are accurate, complete, or current. Segetes may make changes to the materials contained on its web site at any time without notice. Segetes does not, however, make any commitment to update the materials.

						p 6. Links

						p Segetes has not reviewed all of the sites linked to its Internet web site and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by Segetes of the site. Use of any such linked web site is at the user's own risk.

						p 7. Site Terms of Use Modifications

						p Segetes may revise these terms of use for its web site at any time without notice. By using this web site you are agreeing to be bound by the then current version of these Terms and Conditions of Use.

						p 8. Governing Law

						p Any claim relating to Segetes's web site shall be governed by the laws of the State of Massachusetts without regard to its conflict of law provisions.

						br
						h3 General Terms and Conditions applicable to Use of a Web Site.

						br
						h3 Privacy Policy

						p Your privacy is very important to us. Accordingly, we have developed this Policy in order for you to understand how we collect, use, communicate and disclose and make use of personal information. The following outlines our privacy policy.

						p Before or at the time of collecting personal information, we will identify the purposes for which information is being collected.
						p We will collect and use of personal information solely with the objective of fulfilling those purposes specified by us and for other compatible purposes, unless we obtain the consent of the individual concerned or as required by law.
						p We will only retain personal information as long as necessary for the fulfillment of those purposes.
						p We will collect personal information by lawful and fair means and, where appropriate, with the knowledge or consent of the individual concerned.
						p Personal data should be relevant to the purposes for which it is to be used, and, to the extent necessary for those purposes, should be accurate, complete, and up-to-date.
						p We will protect personal information by reasonable security safeguards against loss or theft, as well as unauthorized access, disclosure, copying, use or modification.
						p We will make readily available to customers information about our policies and practices relating to the management of personal information.
						p We are committed to conducting our business in accordance with these principles in order to ensure that the confidentiality of personal information is protected and maintained.

						p Thanks, Ben! (@BenNadel, <a href="http://bennadel.com" target="_blank">BenNadel.com</a>)


