extends base

block page_content

	div.content.primary.text-index(data-ng-controller="TextIndexController as index")
		div.headline-image
		div.grid.inner
			div.content-wrap

				div.authors
					div.author(ng-repeat="author in authors")
						a(href="{{author.guid}}"): h2.title.author-title {{author.display_name}}

						div.author-texts
							div.author-text(ng-repeat="text in author.texts" ng-class-odd="'odd'" ng-class-even="'even'")

								div(class="subworks {{text.title}}")
									div.subwork-image-screen
									a.text-title-link(href="{{text.guid}}"): h3.title.text-title {{text.title}}
									div.subwork(ng-repeat="subwork in text.subworks")
										a(href="{{subwork.guid}}") {{subwork.title}}

								div.meta-elements
									div.meta-element.lines-meta-count
										span.num {{text.meta_elements.lines}} 
										span.meta-label Lines 

									div.meta-element
										a(href="/entities#{{text.title | lowercase}}")
											span.num {{text.meta_elements.entities}} 
											span.meta-label Entities

									div.meta-element
										a(href="/media#{{text.title | lowercase}}")
											span.num {{text.meta_elements.media}}
											span.meta-label Media 

									div.meta-element
										a(href="/")
											span.num {{text.meta_elements.related_passages}}
											span.meta-label Related Passages

									div.meta-element
										a(href="/")
											span.num {{text.meta_elements.articles}}
											span.meta-label Criticism 

									div.meta-element
										a(href="/")
											span.num {{text.meta_elements.commentary}}
											span.meta-label Commentary