extends base

block page_content

	div.content.primary.text-index(data-ng-controller="TextIndexController as index")
		div.headline-image
		div.content-wrap

			div.authors
				div.author(ng-repeat="author in authors")
					a(href="{{author.guid}}"): h2.title.author-title {{author.display_name}}

					div.author-texts
						div.author-text(ng-repeat="text in author.texts" ng-class-odd="'odd'" ng-class-even="'even'")
							include partials/text_tease.jade


				div.linked-texts(ng-hide="!linked_apps.length")
					h2.title.linked-texts-title  Linked Texts
						div.linked-app(ng-repeat="app in linked_apps")

							a(href="{{app.url}}"): h4.subtitle.app-title {{app.title}}

							div.author(ng-repeat="author in app.authors")
								a(href="{{app.url}}/author/{{author.author}}"): h2.title.author-title {{author.author | capitalize}}

								div.author-texts
									div.author-text(ng-repeat="text in author.works" ng-class-odd="'odd'" ng-class-even="'even'")
										include partials/text_linked_tease.jade


										
