extends ../base

block page_content

	div.content.primary.text(data-ng-controller="TextController as text")
		div.grid.inner
			div.content-wrap

				div.title-wrap(ng-show="lines[0].line.n === 1")
					h1.work_title.title {{work_title}} 
					h2.subwork_title.subtitle {{subwork_title}}
				
				div#lines.lines 
					div(ng-show="!lines.length") 
						span.no-lines: em No lines were found for your query.


					div.line(ng-repeat="line in lines" data-n="{{line.line.n}}" ng-class=" line.speaker.length ? 'has-speaker' : '' ")
						div.pre-line(ng-show="line.speaker.length")
							h3.speaker {{line.speaker}} 

						div.lemma
							div.line-number
								span(ng-show="line.line.n % 5 === 0") {{line.line.n}}
							p.text-content(ng-bind-html="line.line.html | unsafe")
							div.meta-tabs
								if user
									span.meta-tab.not-bookmarked(data-type="notes" ng-click="add_note($event)"): span.fa.fa-bookmark 
								else
									span.login.meta-tab.not-bookmarked: span.fa.fa-bookmark 
								span.meta-tab(data-type="scansion" ng-click="toggle_scansion($event)") Scansion
								span.meta-tab(data-type="definitions" ng-click="toggle_meta_section($event)" ng-hide="!line.definitions.length") Definitions
								span.meta-tab.selected(data-type="commentary" ng-click="toggle_meta_section($event)" ) Commentary
								span.meta-tab(data-type="articles" ng-click="toggle_meta_section($event)" ng-hide="!line.articles.length") Criticism 
								span.meta-tab(data-type="related-passages" ng-click="toggle_meta_section($event)" ng-hide="!line.related_passages.length") Related Passages
								span.meta-tab(data-type="entities" ng-click="toggle_meta_section($event)" ng-hide="!line.entities.length") Entities
								span.meta-tab(data-type="media" ng-click="toggle_meta_section($event)" ) Media 
								span.meta-tab.selected(data-type="my_notes" ng-click="toggle_meta_section($event)" ng-hide="!line.my_notes.length") My Notes 
							div.meta-toggle(ng-click="toggle_meta($event)" )
								span.fa.fa-plus-circle

						div.meta
							div.meta-section.definitions
								h3.meta-section-title Definitions
								div.meta-item.definition(ng-repeat="word in line.definitions")
									div.show-more-toggle(ng-click="show_more($event)")
										span.fa.fa-plus
										span.fa.fa-minus

									div.definition-title.meta-item-title
										h4.word {{word.word}}
										a.to-perseus(href="http://www.perseus.tufts.edu/hopper/morph?l={{word.word}}&la=la" target="_blank") Perseus

									div.meaning(ng-repeat="def in word.defs")
										span.root {{def.orth.join(", ")}}
										span.def {{def.senses.join(", ")}}
										div.forms(ng-repeat="infl in def.infls")
											div.form(ng-switch="infl.pos")
												span.form(ng-switch-when="noun")
													span(ng-hide="!infl.ending.length") -{{infl.ending}}: 
													| {{infl.pos}} {{infl.form.declension}} {{infl.form.gender}} {{infl.form.number}}
												span.form(ng-switch-when="pronoun") 
													span(ng-hide="!infl.ending.length") -{{infl.ending}}: 
													| {{infl.pos}} {{infl.form.declension}} {{infl.form.gender}} {{infl.form.number}}
												span.form(ng-switch-when="adjective") 
													span(ng-hide="!infl.ending.length") -{{infl.ending}}: 
													| {{infl.pos}} {{infl.form.declension}} {{infl.form.gender}} {{infl.form.number}}
												span.form(ng-switch-when="verb") 
													span(ng-hide="!infl.ending.length") -{{infl.ending}}: 
													| {{infl.pos}} {{infl.form.person}} {{infl.form.number}} {{infl.form.tense}} {{infl.form.voice}} {{infl.form.mood}}
												span.form(ng-switch-when="participle") 
													span(ng-hide="!infl.ending.length") -{{infl.ending}}: 
													| {{infl.pos}} {{infl.form.declension}} {{infl.form.gender}} {{infl.form.number}} {{infl.form.tense}} {{infl.form.voice}}
												span.form(ng-switch-default) 
													span(ng-hide="!infl.ending.length") .{{infl.ending}}: 
													| {{infl.pos}} {{infl.form.form}}
									span.no-results(ng-show="!line.definitions.length") No definitions available.

							div.meta-section.commentary.meta-selected
								h3.meta-section-title Commentary 
								div.meta-item.comment(ng-repeat="comment in line.commentary")
									div.show-more-toggle(ng-click="show_more($event)")
										span.fa.fa-plus
										span.fa.fa-minus
									a(href="/sources#commentary"): span.comment-source {{comment.source}}
									span.comment-ref {{comment.ref}}:&nbsp;&nbsp;
									span.comment-text(ng-bind-html="comment.comment | unsafe")
								span.no-results(ng-show="!line.commentary.length") No commentary available.

							div.meta-section.articles
								h3.meta-section-title Criticism 
								div.meta-item.article(ng-repeat="article in line.articles")
									a(href="http://www.jstor.org/action/doBasicSearch?Query={{article.title}}&acc=off&wc=on&fc=off&group=none" target="_blank")
										span.author {{article.author}}.
										span.citation-title '{{article.title}}.'
										span.citation {{article.citation}}
								span.no-results(ng-show="!line.articles.length") No citations available.

							div.meta-section.related-passages
								h3.meta-section-title Related Passages 
								div.meta-item.passage(ng-repeat="passage in line.related_passages")

									div.passage-title.meta-item-title
										h4.author {{passage.author | capitalize}}

									div.passage-ref(ng-switch="passage.author")
										a(href="/{{passage.work}}/{{passage.book | from_roman_numeral}}/{{passage.lines}}" ng-switch-when="vergil")
											span.work {{passage.work | capitalize}}&nbsp;
											span.book {{passage.book}} 
											span.lines {{passage.lines}}
										div(ng-switch-default)
											span.work {{passage.work | capitalize}}&nbsp;
											span.book {{passage.book}} 
											span.lines {{passage.lines}}

									div.passage-lemma
										span.passage-lemma-line(ng-repeat="lemma_line in passage.lemma") <span class="similarity-index">{{passage.alpha}}&tau;</span> - {{lemma_line}} 

								span.no-results(ng-show="!line.related_passages.length") No related passages.

							div.meta-section.entities
								h3.meta-section-title Entities 
								div.meta-item.entity.tease-item(ng-repeat="entity in line.entities")
									a(href="/entities/{{ entity.en_name }}").item-link
										div.item-image-wrap
											img(ng-src="{{ (entity.thumbnail | thumb_small) || '/img/default_user-large.jpg'}}")
										h2.item-title {{ entity.en_name | capitalize }}
								span.no-results(ng-show="!line.entities.length") No entities associated.

							div.meta-section.media
								h3.meta-section-title Media 
								div.meta-item.media.tease-item(ng-repeat="media in line.media")
									a(href="/media/{{ media.slug }}").item-link
										div.item-image-wrap
											img(ng-src="{{ (media.thumbnail | thumb_small) || '/img/default_user-large.jpg'}}")
										h2.item-title {{ media.title }}
								span.no-results(ng-show="!line.media.length") No media available.
								if user
									div.meta-item.upload(ng-click="upload_modal_toggle( $event )")
										span.fa.fa-plus-circle
										span Upload media 
								else
									div.login.meta-item.upload
										span.fa.fa-plus-circle
										span Login to Upload Media 

							div.meta-section.my_notes.meta-selected(ng-hide="!line.my_notes.length")
								h3.meta-section-title My Notes 
								div.meta-item.comment.note(ng-repeat="note in line.my_notes")
									span.remove-note(ng-click="remove_note($event)"): span.fa.fa-times
									div.show-more-toggle(ng-click="show_more($event)")
										span.fa.fa-plus
										span.fa.fa-minus
									span.comment-text(ng-click="get_update_note($event)") {{note.text}}
									span.comment-text(ng-click="get_update_note($event)" ng-show="!note.text.length") (Your bookmark) 
								span.no-results(ng-show="!line.my_notes.length") No notes yet.


				include ../partials/pagination 

		include ../partials/translation_panel
		include ../partials/browse_tool
		include ../partials/upload_modal
		include ../partials/success_modal
		include ../partials/save_note_modal
		include ../partials/update_note_modal
