div.text-browser-tool.tool-wrap
	//div.author-browser
	div.work-browser.tool-browser
		span.selected-item(ng-click="toggle_browse_panel($event)"): em {{selected_work.title}} 
		div.work-panel.tool-panel.hidden
			span.work-option(ng-repeat="work in works" data-slug="{{work.slug}}" ng-click="browse($event)") {{work.title}}
			i.close-modal.fa.fa-times(ng-click="toggle_browse_panel($event)")

	div.subwork-browser.tool-browser
		span.selected-item(ng-click="toggle_browse_panel($event)") {{selected_subwork.title}} 
		div.subwork-panel.tool-panel.hidden
			span.subwork-option(ng-repeat="subwork in selected_work.subworks" data-n="{{subwork.n}}" ng-click="browse($event)") {{subwork.title}} 
			i.close-modal.fa.fa-times(ng-click="toggle_browse_panel($event)")

	div.line-browser.tool-browser
		input#line_browse_tool(value=1 type="text" ng-model="line_from" ng-model-options="{ debounce: 500 }" ng-change="browse( $event )")

	div.translation-tool.tool-browser(ng-click="toggle_translation()" ng-hide="!available_editions.length")
		span Translations

