div#filler_modal.hidden
	div.filler-modal-inner.modal-inner

		h1.title segetes is in beta
		br
		br
		p We're still adding and editing some data but are completing testing now.  Let us know what you think!
		br
		a.close-link(href="#") Get Started
		div.social
			a(href="https://github.com/segetes" target="_blank")
				span.fa.fa-github
			a(href="https://twitter.com/segetesvergil" target="_blank")
				span.fa.fa-twitter



