footer
	div.footer-text

		div.footer-title-wrap
			a(href="/"): h3.site-title segetes 

		//div.footer-text-column-1
		//	nav.footer
		//		ul.nav-links
		//			li
		//				a(href="/texts") Texts 
		//			li
		//				a(href="/entities") Entities 
		//			li
		//				a(href="/media") Media 
		//			li
		//				a(href="/updates") Updates 
		//			li
		//				a(href="/about") About 

		div.footer-text-column-1
			nav.footer
				p Error on this page?  Help us out by 
					a(href="https://github.com/segetes/segetes_data/issues/new" target="_blank") reporting it!


		div.footer-text-column-2
			div.social-wrap
				a(href="https://github.com/segetes" target="_blank"): span.fa.fa-github
				a(href="https://twitter.com/segetesvergil" target="_blank"): span.fa.fa-twitter
				a(href="mailto:contact@segetes.io"): span.contact-option-icon.fa.fa-envelope
				//a(href="skype:segetes?call" target="_blank"): span.fa.fa-skype


		span.copyright
			| Copyright Segetes, 2015.
			| See our 
			a(href="/terms") terms
				|  and privacy policy.

