header(headroom)

	div.side-menu
		div.clearfix.side-menu-head
			span.fa.fa-bars
			span.site-title segetes 


	div.social-wrap
		if !user
			a.login(href="/#/login"): span Login 
		else
			a(href="/profile"): span.fa.fa-bookmark 
		a(href="/search"): span.fa.fa-search
		a(href="https://github.com/segetes" target="_blank"): span.fa.fa-github
		a(href="https://twitter.com/segetesvergil" target="_blank"): span.fa.fa-twitter

div.side-menu-panel

	if user
		div.user-profile.user-profile-tease
			a(href="/profile")
				//div.user-image-wrap
				//	img(src="/img/default_user.jpg")
				h3 #{user.name}  


	ul.nav-links
		li.search
			a(href="/search") 
				span.fa.fa-search 
				| Search
		li
			a(href="/") Home 
		//li
		//	a(href="/texts") Texts 
			//ul
			//	li
			//		a(href="/eclogues") Eclogues 
			//	li
			//		a(href="/georgics") Georgics 
			//	li
			//		a(href="/aeneid") Aeneid 
		li
			a(href="/entities") Entities 
		li
			a(href="/media") Media 
		li
			a(href="http://docs.segetes.io" target="_blank") Docs 
		li
			a(href="http://segetes.github.io" target="_blank") Updates 
		li
			a(href="/sources") Sources 
		li
			a(href="/about") About 

		if user
			li
				a(href="/logout") Logout
