div.modal-login
	div.exit
		span.fa.fa-times
	div.modal-inner
		h4.modal-title Login
		//span.modal-subtitle with Google, Facebook, or Twitter

		div.login-options 
			a.login-option.google(href="/auth/google")
				span.fa.fa-google
				span.login-option-text Login with Google
			a.login-option.facebook(href="/auth/facebook")
				span.fa.fa-facebook
				span.login-option-text Login with Facebook 
			a.login-option.twitter(href="/auth/twitter")
				span.fa.fa-twitter
				span.login-option-text Login with Twitter 
		div.login-alternative
			span.login-alternative-title OR 
			form.local(action="/auth/local" method="post" name="local-login")
				div.account-field
					input(name="email" type="text" placeholder="Email" ng-model="user_login.email" required)
				div.account-field
					input(name="password" type="password" placeholder="Password" ng-model="user_login.pass" required)
				input(type="submit" value="LOG IN")
			p.create-account Don't have an account? <a href="/signup">Sign up</a>.

