div.pagination
	div.seq-page.prev-page(ng-hide="pag.prev.from >= pag.prev.to")
		a(href="{{pag.prev.link}}")
			//span.fa.fa-chevron-left
			| {{pag.prev.from}}-{{pag.prev.to}}

	div.seq-page.next-page(ng-hide="pag.next.to <= pag.next.from")
		a(href="{{pag.next.link}}")
			| {{pag.next.from}}-{{pag.next.to}} 
			//span.fa.fa-chevron-right

