div#save_note_modal.text-modal.hidden
	span.modal-close.fa.fa-times-circle(ng-click="modal_hide( $event )")
	div.upload-modal-inner

		h3.modal-title Add Note 
		//span.modal-subtitle with Google, Facebook, or Twitter
		form#save_note(ng-submit="save_note( $event )")
			span.instructions Enter your notes for the select passage.  If you don't add text, it will simply bookmark the passage.  This feature is still experimental.  
			textarea.media-description( type="text" ng-model="note.text" )

			input.submit( type="submit" )