div#success_modal.text-modal.hidden
	span.modal-close.fa.fa-times-circle(ng-click="success_modal_toggle()")
	div.upload-modal-inner

		h3.modal-title Thanks! 

		p We'll update the line after our moderators take a look at your upload. 
