article.tease-item(ng-repeat="item in items" data-id="{{item._id}}")
	a(href="/{{model}}/{{item.slug}}").item-link
		div.item-image-wrap
			img(ng-src="{{(item.thumbnail | thumb_small)|| '/img/default_user-large.jpg'}}")
		h2.item-title {{item.title || item.en_name | capitalize }}