div#translation_panel

	div.close-translation(ng-click="close_translation()")
		span.fa.fa-times


	div.translation-panel-inner 

		div.translation-options
			div.option.selected-translation(ng-repeat="edition in available_editions" ng-click="set_selected_translation($event)" data-edition="{{edition.slug}}") 
				span {{edition.slug | capitalize}}

		div.translation-body

			div.translation-wrap.translation-one
				p(ng-repeat="translation in translations") {{translation.line.text}}
