div#update_note_modal.text-modal.hidden
	span.modal-close.fa.fa-times-circle(ng-click="modal_hide( $event )")
	div.upload-modal-inner

		h3.modal-title Update or Remove Note 

		form#update_note(ng-submit="update_note( $event )")

			span.instructions Enter your notes for the select passage.  Not required. 
			textarea.media-description( type="text" ng-model="note.text" )

			input.submit( type="submit" value="Update Note")