div#upload_modal.text-modal.hidden
	span.modal-close.fa.fa-times-circle(ng-click="upload_modal_toggle( $event )")
	div.upload-modal-inner

		h3.modal-title Upload 
		//span.modal-subtitle with Google, Facebook, or Twitter
		form#upload(ng-submit="upload_media( $event )")
			span.instructions.upload-instructions Upload media relevant to this passage.  All uploads will be reviewed by a site moderator and then added to the text. Check out our <a href="/about#uploads">guidelines</a> for ensuring content is able to be hosted.  

			label.subheading Upload Link
			span.help-text Upload a link of the media item you want to upload. (If it's not online, try uploading it to Google Drive and getting a shareable link.) 
			input.upload-link( type="text" ng-model="upload.link" placeholder="http://example.com" required)

			label.subheading Media Type
			span.help-text Select the type of media that you want to upload.
			input.media-type( id="type_image" type="radio" ng-model="upload.type" value="image" ) 
			label.media-type-label( for="type_image" ) Image
			input.media-type( id="type_audio" type="radio" ng-model="upload.type" value="audio" ) 
			label.media-type-label( for="type_audio" ) Audio
			input.media-type( id="type_video" type="radio" ng-model="upload.type" value="video" )
			label.media-type-label( for="type_video" ) Video
			input.media-type( id="type_viz" type="radio" ng-model="upload.type" value="visualization" )
			label.media-type-label( for="type_viz" ) Data Visualization


			label.subheading Description
			span.help-text Enter a short description of the media that you want to upload. Include attribution details for the source of the media here as well.
			textarea.media-description( type="text" ng-model="upload.desc" required)


			input.submit( type="submit" )