.archive-content {
	text-align:left;
	width:90%;
	margin:50px auto;
	h1 {
		color:$dark;
	}

}
.subnav {
	margin-top:10px;
	.subnav-link {
		cursor:pointer;
		display:inline-block;
		padding:10px 20px;
		font-size:20px;
		background:$dark-2;
		color:$light-2;
		margin:5px 15px;
		&:hover {
			background:$dark;
		}	
		&.selected {
			background:$blue-dark-2;
		}
	}
}
.archive .content-wrap .subnav a {
	border-bottom:none;
	box-shadow:none; 
}
.get-more {
	cursor:pointer;
	display:block;
	background:$dark-2;
	color:$light-2;
	width:200px;
	text-align:center;
	margin:20px auto;
	&:hover {
		background:$blue-dark-2;
	}	
	span.more {
		display:inline-block;
		padding:20px 30px;
		font-size:24px;
	}
	.loading {
		font-size:30px;
		padding:15px 30px;
	}

}
.tease-item {
	display:inline-block;
	width:29.33%;
	height:252px;
	margin:20px 2%;
	border:1px solid $light-1;
	overflow:hidden;
	position:relative;
	@include box-shadow( 0 0 5px $light-1);		
	@include transition(all, 300ms, ease-out, 0);


	&:hover {
		@include box-shadow( 0 0 10px $primary);		
		.item-image-wrap {
			opacity:1.0;
		}
	}

	.item-image-wrap {
		width:100%;
		height:250px;
		overflow:hidden;
		position:absolute;
		top:0;
		left:0;
		opacity:0.7;
		@include transition(opacity, 200ms);
		img {
			width:100%;
			position:absolute;
			top:0;
			left:0;
		}

	}
	.item-title {
		background:rgba(255,255,255,0.9);
		position:absolute;
		bottom:0;
		left:0;
		width:100%;
		padding:15px;
		color:$dark-2;
	}
}

.archive .no-results, .single .no-results, .profile .no-results {
	text-align:center;
	margin: 100px auto;
	border-top:none;
	display:block;

	span {
		font-style:italic;
		font-size:22px;
		color:$primary;

	}
}