/*
 * Custom global styles
 */

html, body, input, p, span, label {
	@include font-body; 
}

h1, h2, h3, h4, h5, h6 {
	font-weight:300;
	@include font-title; 
}

a {
	color:$dark;
	text-decoration: none;
	&:hover {
		color:$dark;
		text-decoration: none;
	}
}

li {
	list-style:none;
}

.one-third {
	width:33%;
}

.two-thirds {
	width:66%;
}

.one-half {
	width:50%;
}

.full-width {
	width:100%;
}
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

// Set text highlighting to accent colors
::selection {
  background: $light-1;
}
::-moz-selection {
  background: $light-1; 
}

/*
 * Global structure styles
 */
.grid {
	width:100%;
	clear:both;
	margin:0 auto;
}
.grid.inner {
	max-width:1200px;
}
.fixed {
	position:fixed;
}
.social-wrap {
	padding:5px;
	span {
		padding:10px;
	}
}
.content.primary {
	min-height:600px;
	text-align:center;
	margin:100px auto;
	position:relative;
}

/*
 * Styles for navigation and header
 */
// general navigation rules (when not fixed)
header {
	width:100%;
	position:fixed;
	z-index:1000;
	top:0;
	color:$dark-2;
	background:$trans-light-9;
	-webkit-transform: translateZ(0);
	border-bottom:1px solid $light-2;
	.grid.inner {
		position:relative;
	}

	a {
		color:$dark-2;
		text-decoration: none;
		&:hover {
			color:$dark-2;
		}
	}
	a:visited {
		text-decoration: none;
		color:$dark-2;
	}

	// the hamburger more button
	.side-menu {
		cursor:pointer;
		.side-menu-head{
			float:left;
			display:block;
			color:$dark-2; 
			padding:7px 38px 5px 20px;
			&:hover {
				.fa{
					background:$dark-1;
					color:$light;
				}
			}
			.fa.fa-bars {
				display:inline-block;	
				padding:10px;
				margin:5px;
				font-size:22px;
			}	
			span.site-title {
				display:inline-block;
				margin-top:1px;
				@include font-accent(30px);
			}
		}


	}

	.social-wrap {
		float:right;
		margin-right:20px;
		padding:0;
		a {
			display:inline-block;
			vertical-align: middle;
			color:$dark-2; 
			text-transform:uppercase;
		}
		a.login, a.translation-link {
			span {
				font-size:14px;
				font-weight:bold;
				padding:22px;
				text-decoration: none;
			}
		}
		span {
			padding:20px;
			display:block;
			&:hover{
				background:$light-2;
			}
		}
		span.fa {
			font-size:22px;
			padding-top:22px;
			&:hover {
				color:$blue-bright;
			}
		}
	}

}

.side-menu-panel {
	position:fixed;
	margin:0;
	padding:0;
	padding-top:80px;
	left:-200px;
	top:0px;
	background:#333;
	color:$light; 
	height:100%;
	display:block;
	z-index:99;
	width:200px;
	font-size:18px;
	@include transition(left, 100ms, ease-out, 0);
	-webkit-transform: translateZ(0);
	ul {
		padding:0;
	}
	li {
		display:block;
	}
	a {
		display:block;
		padding:10px 5px 10px 30px;
		width:100%;
		color:$light; 

		&:hover {
			text-decoration: none;
			background:#444;
		}
	}
	ul ul a {
		padding:7px 5px 7px 50px;
		font-size:16px;
	}
	.fa {
		margin:0 10px 0 0;
	}
}
.side-menu-panel.shown {
	left:0;
}
.headroom {
    transition: transform 00ms linear;
}
.headroom--pinned {
    transition: transform 200ms linear;
    transform: translateY(0%) translateZ(0);
}
.headroom--unpinned {
    transform: translateY(-100%) translateZ(0);
}
.header-hidden.headroom--pinned {
	position:absolute;
	top:0;
	transition: transform 200ms linear;
	transform: translateY(00%) translateZ(0);
}
.header-hidden.headroom--unpinned {
	position:absolute;
	top:0;
	transform: translateY(00%) translateZ(0);
}

/*
 * Footer 
 */
footer {
	//min-height:450px;
	clear:both;
	background-color:rgba(30,30,30,1);
	color:$light;
	padding:10px 0;
	text-align:center;
	width:100%;
	position:relative;


	a {
		color:$light;
		&:hover{
			color:$light;
		}
	}


	.footer-text {
		margin:10px auto;
		display:inline-block;

		.site-title {
			@include font-accent(40px);
			margin:20px 0 0px 0px;
			padding:0;
		}

		.footer-text-column-1, .footer-text-column-2 {
			margin-top:20px;
		}

		.footer-text-column-1 {
			p {
				color:$primary;
			}
			a {
				color:$light;
				&:hover {
				}
			}
			nav.footer {
				ul {
					padding:0;
					margin:0 0 0 0;
					li {
						display:inline-block;
						a {
							display:block;
							margin:5px;
							padding:20px;
							font-size:22px;
							&:hover {
								color:$light-1;
							}
						}
					}
				}
			}
		}
		.footer-text-column-2 {
			.social-wrap {
				margin:10px 0;
				padding:0;
				span {
					color:$primary;
					font-size:24px;
					padding:10px;
					&:hover {
						color:$blue-bright;
					}
				}
			}
		}
		.copyright {
			clear:both;
			display:block;
			color:$primary;
			font-size:14px;
			margin-bottom:10px;
			a {
				color:$light;
				&:hover {
					text-decoration:none;
				}

			}
		}
	}
}

/*
 * Styles for Dropdowns
 */ 

.dropdown {
	position:relative;

	.dropdown-head {
		cursor:pointer;
		label, .dropdown-arrow {
			cursor:pointer;
		}
	}

	.dropdown-panel {
		display:none;
		position:absolute;
		top:0;
		left:0;
	}
	.dropdown-panel.lowered {
		display:block !important;
	}
}
::-webkit-input-placeholder {
   color: $dark-1;
}
:-moz-placeholder { 
   color: $dark-1;
}
::-moz-placeholder {
   color: $dark-1;
}
:-ms-input-placeholder {  
   color: $dark-1;
}


// Modal styles
.modal-login {
	position:fixed;
	top:-1100px;
	left:0;
	width:100%;
	height:1100px;	
	overflow:hidden;
	z-index:1040;
	background:rgba(255,255,255,0.85);
	@include transition(top, 300ms, ease-out, 0);
	-webkit-transform: translateZ(0);
	.exit {
		position:absolute;
		top:20px;
		right:20px;
		cursor:pointer;
		span.fa {
			font-size:30px;
			color:$dark-1;
		}
	}
	&.modal-lowered {
		top:0;
	}
}
.modal-inner {
	width:50%;
	min-width:30px;
	margin:60px auto 0;
	text-align: center;
	.modal-title {
		font-size:28px;
		margin:25px auto;

	}
	.modal-subtitle {
		font-size:22px;
	}
}
.login-options {
	margin:20px auto;
	.login-option {
		background:$opaque-dark-2;
		margin:20px auto;
		padding:15px 20px;
		display:block;
		width:60%;
		text-align:center;
		cursor:pointer;
		&:hover {
			background:$blue-bright;
		}
		span.fa {
			display:inline-block;
			font-size:30px;
			color:$light;
			vertical-align:middle; 
			
			float:left;
		}
		.login-option-text {
			font-size:18px;
			display:inline-block;
			color:$light;
			vertical-align:middle; 
		}
	}
}
.login-alternative {
	padding:5px;
	display:block;
	.login-alternative-title {
		font-size:18px;
		margin:10px;
		display:block;
	}
	input {

		width:60%;
	}
	input[type=text], input[type=password], input[type=email]{
		padding:8px;
		font-size:18px;
		margin:5px 0;
		border:3px solid $opaque-dark-2;
		&:focus {
			border:3px solid $blue-bright;
			outline:none;
		}
	}
	input[type=submit] {
		background:$opaque-dark-2;
		border:none;
		outline:none;
		padding:10px;
		color:$light;
		margin:10px;
		&:hover {
			background: $blue-bright;
		}
	}
}
#loading_modal {
	position:fixed;
	top:0px;
	left:0;
	width:100%;
	height:100%;
	z-index:10000;
	background:rgba(250,250,250,1);
	.loading-modal-inner {
		display:block;
		width:50%;
		min-width:100px;
		margin:0 auto;
		text-align:center;
		padding-top:150px;
		img {
			margin:0 auto;
		}
		span {
			display:inline-block;
			font-size:64px;
		}
	}
}
.create-account {
	a {
		border-bottom: 1px solid $blue-highlight;
		box-shadow: inset 0 -4px 0 $blue-highlight;
	}
}
// Headline image rules (and variations!!!)
.headline-image {
	margin-top:-100px;
	width:100%;
	height:500px;
	max-width:1400px;
	overflow:hidden;
	background:url("/img/vat_verg_f18_cropped.jpg");
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:cover;
	background-position:center center;
	img {
		width:100%;
	}
}
.text-index .headline-image {
	height:00px;
	background:url("/img/vv_text_1400w.jpg");	
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:cover;
	background-position:center center;
}
.header-block .headline-image {
	height:550px;
	background:url("/img/eclogues_headline.jpg");	
	background-attachment:fixed;
	background-size:cover;
	background-position:center center;
	background-repeat:no-repeat;
}
#filler_modal {
	position:fixed;
	top:0px;
	left:0;
	width:100%;
	height:100%;
	background:rgba(250,250,250,0.9);
	-webkit-transform: translateZ(0);
	z-index:99999;

	.modal-inner {
		display:block;
		width:60%;
		margin:0 auto;
		text-align:center;
		padding-top:100px;
		h1 {
			margin:0 auto;
		}
		p {
			font-size:24px;
			width:90%;
			margin:10px auto;
			a {
				text-decoration:none;
				border-bottom: 1px solid #82C0BA;
				box-shadow: inset 0 -4px 0 #82C0BA;
				&:hover {
					text-decoration:none;
					border-bottom: none; 
					box-shadow:none;
				}
			}

		}
		p.smaller {
			font-size:20px;
			line-height:33px;
			margin:30px auto;
			width:60%;
		}
		img {
			margin:0 auto;
		}
		span {
			display:inline-block;
			font-size:64px;
		}
		.social {
			margin:40px 0;
			display:block;
			a {
				display:inline-block;
				padding:20px;
				margin:10px 20px;
				color:$dark-2;
				&:hover {
					color:$blue;
				}
				&:visited {
					color:$dark-2;
				}
			}
		}
		.close-link {
			cursor:pointer;
			background:$blue;
			color:$light;
			font-size:18px;
			text-transform:uppercase;
			font-weight:700;
			padding:10px 15px;
		}
	}
}
