/*********************************
* Namespace #impress styles
*
**********************************/
#impress{

.fallback-message {
    line-height: 1.3;

    width: 90%;
    padding: 10px 10px 0;
    margin: 20px auto;
}

.fallback-message p {
    margin-bottom: 10px;
}

.impress-supported .fallback-message {
    display: none;
}

/*
    presentation steps.

*/

.step {
    position: relative;
    width: 1000px;
    padding: 40px;
    margin: 20px auto;

    p {
        @include font-lemma(40px);
        margin:0px auto;
        padding:10px 20px 60px;
        line-height:65px;
        width:90%;
        &.smaller {
            font-size:32px;
            line-height:55px;
            &.subset {
                font-size:28px;
                line-height:50px;
            }
        }
        a {
            border-bottom: 1px solid $blue-highlight;
            box-shadow: inset 0 -4px 0 $blue-highlight;
            &:focus {
                text-decoration:none;
            }
        }
    }

    &.active {
        h2, p, a {
            color:#000;
        }
        img {
            opacity:1;
        }
    }

    &.past {
        h2, p, a, .morph {
            color:$dark-2;
        }
        img {
            opacity:.9;
        }
    }
    &.future {
        h2, p, a, .morph {
            color:$light-1;
        }
        img {
            opacity:.05;
        }
    }
    .caption {
        @include font-body(18px);
        color:$dark-1;
        display:block;
        text-align:center;
        position:absolute;
        margin:0 auto;
        bottom:-10px;
        right:50px;

    }
    .quote-caption {
        font-size:30px;
        margin-left:100px;
    }
    .graph-caption {
        font-size:30px;
        position:absolute;
        top:100px;
        z-index:100000;
        left:-150px;
        width:150px;
    }
}
p, h2 {
    @include transition(all, 200ms, ease-out, 0);
}
.morph {
    color:$dark-1;
}

.impress-enabled .step {
    margin: 0;
    opacity: 0.3;

    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}

.impress-enabled .step.active { opacity: 1 }

.slide {
    position:relative;
    display: block;

    width: 1000px;
    height: 600px;
    padding: 40px 60px;

}
#overview, #go_back_up { display: none }



/* Our styles
 */
h1.logo {
    @include font-title(100px);
    text-align:center;
    margin-top:120px;
}

h2 {
    @include font-lemma(60px);
}
.cornfield {
    position:absolute;
    top:100px;
    left:350px;
    width:600px;
    box-shadow: 1px 1px 10px $dark-1;
}
.lod-cloud {
    position:absolute;
    top:-10px;
}
.branches-head {
    text-align:center;
}
.two-branches {
    display:inline-block;
    font-size:30px;
    margin:100px 40px 0;
    width:350px;
    text-align:center;
    vertical-align: top;
}
.framework-logo {
    width:200px;
    padding:20px;
    background:$dark-2; 
    margin:10px;
}
.screenshot {
    width:1000px;
    border:1px solid $primary;
}
#links {
    a {
        display:inline-block;
        margin-right:100px;
        margin-bottom:20px;
        &:focus {
            text-decoration:none;
        }
    }
}


}
.blue {
    color:$blue-bright !important;
}
.presentation-contact {
    top:0px;
    padding:10px;
    right:0px;
    background:rgba(255,255,255,.7);
    z-index:999999;
    a {
        display:inline-block;
        padding:5px 10px;
        @include font-body(14px);
        color:$dark-2;

        &.logo {
            @include font-title(16px);
        }
        &:focus {
            text-decoration:none;
        }

    }
    .border-left {
        border-left:1px solid $primary;
    }
}