.block {
	margin:0px auto;
	padding:60px 0;
	p.desc {
		@include font-lemma;
		font-size:22px;
		line-height:37px;
		width:60%;
		margin:0px auto;
		padding:20px 0;
		a {
			text-decoration:none;
			border-bottom: 1px solid $blue-highlight;
			box-shadow: inset 0 -4px 0 $blue-highlight;
			&:hover {
				border-bottom:none; 
				box-shadow:none;
			}
		}
	}
}
h2.block-title {
	font-size:42px;
	margin:30px auto;
}
.little-line {
	display:block;
	clear:both;
	width:100px;
	height:2px;
	background:$dark-1;
	margin:20px auto;
}

.index header.headroom--top {
	background:transparent;
	border-bottom:none;
	a {
		color:$light;
		span:hover {

			background:none;
		}
	}
	span.fa {
		color:$light;
	}
	span.site-title {
		display:none;
	}
}

.header-block {
	position:relative;
	padding:0;
	.headline-image-screen {
		background:rgba(0,0,0,0.7);
		width:100%;
		height:100%;
		position:absolute;
		@include background-image(linear-gradient(175deg, rgba( 18,107, 97, 0.7), rgba( 18,107, 97, 0.8) ));
	}
	h1.primary-title {
		position:relative;
		top:180px;
		color:$light;
		display:inline-block;
		font-size:60px;
		margin:10px auto;
	}
	h5.secondary-text {
		position:relative;
		top:180px;
		margin:10px auto 40px;
		@include font-body(24px);
		color:#eee;
		width:60%;
		line-height:35px;
		a {
			padding:0;
			color:$light;
			border-bottom: 1px solid $light;
			text-decoration: none;
			&:hover{
				border-bottom: 1px solid $blue-bright;
				text-decoration: none;
			}
		}
	}
	a.header-link {
		position:relative;
		top:180px;
		display:inline-block;
		padding:15px 25px;
		font-size:14px;
		text-transform:uppercase;
		font-weight:700;
		margin:25px 15px;

		&.learn-more {
			border:1px solid $light;
			color:$light;
			background:transparent;
			&:hover {
				color:$dark-1;
				background:$light;
			}
		}
		&.read-vergil{
			border:1px solid $blue;
			color:$light;
			background:$blue;
			&:hover {
				border:1px solid #444;
				color:$light;
				background:#444;
			}
		}

	}
	
}

.beliefs-block {

	.image-wrap {
		width:70%;
		margin:0 auto;
		img {
			width:100%;
		}
	}
	.cross-device-images {
		margin:30px auto;
		width:80%;
		position:relative;
		height:700px * 0.6;

		.image-wrap {
			position:absolute;
			overflow:hidden;
			border:1px solid black;
			bottom:0;
		}

		.laptop {
			left:0px;
			width:1300px * 0.6;
			height:700px * 0.6;
		}
		.tablet {
			bottom:5px;
			left:55%;
			width:500px * 0.6;
			height:600px * 0.6;
		}
		.phone {
			bottom:10px;
			left:78%;
			width:320px * 0.6;
			height:500px * 0.6;
		}

	}
}

.about-block {
	background:#f1f1f1;
	p.desc {
		color:#222;
	}
}

.features-block {
	width:100%;
	padding:0;
	.feature {
		text-align:left;
		width:33.333%;
		height:240px;
		display:inline-block;
		vertical-align: top;
		color:$light;
		position:relative;
		//#257E75
		//@include background-image(linear-gradient(160deg, rgba(115,115,115,1), rgba(100,100,100,1) ));
		//background:$blue-bright;
		background:url("/img/entity_achilles-small.jpg");
		background-position:center center;
		background-repeat:no-repeat;
		background-size:100% auto;
		@include transition(background-size, 100ms, ease-out, 0);

		&:hover {
			background-size:105% auto !important;

			div.feature-image-screen {
				opacity:.95;

			}
		}

		div.feature-image-screen {
			position:absolute;
			width:100%;
			height:100%;

			@include background-image(linear-gradient(160deg, $blue-bright, #329C91 ));
			opacity:.95;
			@include background-image(linear-gradient(160deg, $blue, $blue-dark-2 ));
			@include transition(opacity, 100ms, ease-out, 0);
		}

		span, h3 {
			position:relative;
			cursor:default;
		}

		.feature-inner {
			position:relative;
			padding:30px 45px;
		}

		.feature-line {
			position:relative;
			display:block;
			clear:both;
			width:150px;
			height:1px;
			background:$light;
			margin:14px 0;

		}

		&.f2 {
			background:url("/img/entity_cato-small.jpg");
			background-position:center center;
			background-repeat:no-repeat;
			background-size:100% auto;
		}
		&.f3 {
			background:url("/img/entity_aeneas-small.jpg");
			background-position:center center;
			background-repeat:no-repeat;
			background-size:100% auto;
		}
		&.f4 {
			background:url("/img/entity_elysium-small.jpg");
			background-position:center center;
			background-repeat:no-repeat;
			background-size:100% auto;
		}
		&.f5 {
			background:url("/img/entity_eryx-small.jpg");
			background-position:center center;
			background-repeat:no-repeat;
			background-size:100% auto;
		}
		&.f6 {
			background:url("/img/entity_geryon-small.jpg");
			background-position:center center;
			background-repeat:no-repeat;
			background-size:100% auto;
		}
		&.f7 {
			background:url("/img/entity_iris-small.jpg");
			background-position:center center;
			background-repeat:no-repeat;
			background-size:100% auto;
		}
		&.f8 {
			background:url("/img/entity_mezentius-small.jpg");
			background-position:center center;
			background-repeat:no-repeat;
			background-size:100% auto;
		}
		&.f9 {
			background:url("/img/entity_romulus-small.jpg");
			background-position:center center;
			background-repeat:no-repeat;
			background-size:100% auto;
		}

	}
}

.demo-block {
	padding-bottom:0;
	background:#fff;
	.demo-lines {
		background:$light;
		margin-bottom:0;
		> .line {
			padding:120px 40px;
			border-right:5px solid $dark-1;
			border-left:5px solid $dark-1;
			border-top:5px solid $dark-1;
			&.extended .meta-toggle span.fa {
				position:relative;
				top:120px;
				right:40px;
			}
		}
	}

}

.get-started-block {
	border-top:2px solid $dark-2;
	background:#f1f1f1;
}

.texts-block {
	padding:0 ;
	// _list.scss
	background:#f1f1f1;
	.author-text {
		margin-bottom:0px;
		border-bottom:1px solid $blue;
		max-width:1400px;
	}
}

.start-building-block {

}
.start-building-item {
	width:33%;
	margin:10px 3%;
	padding:10px;
	display:inline-block;
	vertical-align: top;
	color:$dark;
	text-decoration:none;
	span {
		display:block;
		padding:10px;
	}
	span.fa {
		font-size:80px;
	}

	&:hover {
		span.fa {
			color:$blue;
		}
	}

	&:visited, &:focus {
		color:$dark;
		text-decoration:none;
	}

}