.authors {
	text-align:center;
	margin-bottom:100px;
}
.author {
	display:block;
	text-align:center;
	a {
		display:inline-block;
		color:$dark;
		padding:5px;
		&:hover {
			color:$dark;
		}
	}
	h2.author-title {
		font-size:38px;
		margin:20px auto 40px;
		cursor:pointer;
		text-align:center;
	}
}
.author-text {
	display:inline-block;
	width:100%;
	height:310px;
	margin-bottom:50px;
	max-width:1100px;


	text-align:left;

	&:last-child {
		//border-bottom:1px solid $blue-dark-1;
	}

	&:hover {
		//background:rgba(240,240,240,1);
	}

	a {
		color:$dark-2;
		&:hover {
			color:$dark-2;
		}
	}

	.text-title-link {
		display:block;
	}

	h3.text-title {
		font-size:32px;
		cursor:pointer;
		margin:10px 0;
		color:$light;

	}
	&.even {
		.subworks, .meta-elements {
		//	float:right;
		}
	}
}
.subworks {
	display:inline-block;
	width:60%;
	height:100%;
	vertical-align:top;
	padding:30px 50px ;
	position:relative;
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;

	.subwork-image-screen {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;

		//@include background-image(linear-gradient(160deg, $dark-1, $dark-2 ));
		@include background-image(linear-gradient(175deg, rgba( 18,107, 97, 0.95), rgba( 18,107, 97, 0.97) ));
		//opacity:1;
		//background:rgba(188, 213, 211, 0.73);
		//@include background-image(linear-gradient(180deg, rgba(255,255,255,0.5), rgba( 255,255,255,0.75) ));
	}

	a, h3 {
		position:relative;
	}
	.subwork {
		position:relative;
		display:inline-block;

		a {
			display:block;
			padding:15px 20px;
			font-size:20px;
			background:$light;
			color:$dark-2;
			margin:10px;
			text-decoration: none;
			@include font-lemma(18px);
			&:hover {
				background:$light-1;
			}
		}
	}

	&.Aeneid {
		background-image:url("/img/vat_verg_f18_cropped.jpg");
	}
	&.Georgics {
		background-image:url("/img/georgics_shepherds_2_cropped.jpg");
	}
	&.Eclogues {
		background-image:url("/img/eclogues_shepherds_cropped.jpg");
	}

}
.meta-elements {
	display:inline-block;
	width:40%;
	height:100%;
	padding:30px 20px;
	vertical-align:top;
	background:#002D28;
	text-align:center;

	.meta-element {
		display:inline-block;
		width:33%;
		padding:30px 0px 0px;
		color:$light;
		text-align:center;
		span {
			font-size:18px;
		}
		.lines-meta-count {
			cursor:default;	
		}
		a {
			color:$light;
			width:100%;
			height:100%;
			display:block;
			&:hover {
				color:$primary;
				span {
					color:$primary;
				}
			}
		}
		span.num {
			@include font-lemma(26px);
			display:block;
			color:$light;
		}
		span.meta-label {
			color:$light-1;
			font-size:12px;
			font-weight:700;
			text-transform: uppercase;
			display:block;
		}
	}
}
.list-line {
	text-align:left;
	width:80%;
	background:#fefefe;
	padding:0 20px;
	border-top:1px solid $light-2;
	display:inline-block;

	&:last-child {
		border-bottom:1px solid $light-2;
	}
	&:hover {
		background:$light-2;
		a {
			color:$dark-2;
		}
		span.line-text {
			color:$blue-bright;
		}
	}

	a {
		display:block;
		color:$dark-1;
		font-size:20px;
		border-bottom:none;
		box-shadow:none; 
	}
	span.line-item {
		display:inline-block;
		font-size:18px;
		padding:30px 15px;
		vertical-align: top;
	}
	span.line-work {
		width:18%;
	}
	span.line-subwork {
		width:7.5%;
	}
	span.line-number {
		width:7.5%;
	}
	span.line-text {
		width:65%;
	}
}

// Text Index specific styles
.text-index.content.primary {
	margin:0;
	padding-top:150px;

	.authors {
		padding:40px 0 0;
	}
	.author-title {
		padding:20px 0;
	}
	.linked-texts {
		margin-top:50px;
		.author-title {
			font-size:30px;
		}
	}
	.subtitle.app-title {
		padding-top:50px;
		cursor:pointer;
		color:$dark-2;
		font-size:36px;

	}

}
