.page, .article, .blog, .archive {
	.content-wrap {
		width:100%;
		text-align:center;
		min-height:700px;
		margin:70px 0 200px;
		overflow-x:hidden;
		.subtitle {
			margin-bottom:20px;
			color:$dark-2;
		}
		p {
			width:64%;
			margin:10px auto;
			text-align:left;
			line-height:35px;
			font-size:20px;
		}
		a {
			text-decoration:none;
			border-bottom: 1px solid $blue-highlight;
			box-shadow: inset 0 -4px 0 $blue-highlight;
			&:hover {
				text-decoration:none;
				border-bottom: none; 
				box-shadow:none;
			}
		}
	}
	.lemma-font p {
		@include font-lemma;
		font-size:20px;
		margin:25px auto;

	}
}
section.content-section{
	margin:40px auto 80px;
	display:block;
}
.single-geo {
	width:60%;
	margin:40px auto;
	display:block;
	h2 {
		font-size:32px;
		margin:10px auto 30px;
	}
	#map {
		width:100%;
		height:300px;
		margin:0 auto;
	}
}

.about-page {
	.content-wrap {
		margin-top:40px;
	}
	h1.title {
		margin:20px 0;

	}
}
.fourohfour-centered {
	text-align:center;
}
.search .no-results, .profile .no-results {
	margin:10px auto 50px;

}
.search-lines, .search-items {
	margin:20px auto 50px;
	min-height:200px;
}
.search input.query-box {
	padding:20px;
	margin:20px auto;
	border:none;
	@include font-lemma;
	border-bottom:1px solid $dark-1;
	font-size:32px;
	width:70%;
	&:focus {
		outline:none;
	}
}
.search .get-more {
	margin-bottom:100px;
}

/*
 * User profile styles
 */
.profile span.desc {
	width:90%;
	margin:10px auto 40px;
	color:$dark-1;
	display:block;
}