.pagination {
	clear:both;
	width:50%;
	margin:0 auto;
	a {
		background:$dark-1;
		text-decoration: none;
		&:hover {
			background:$dark-2;
		}
	}
	.seq-page {
		display:inline-block;
		vertical-align: top;
		a {
			//border-top:1px solid $light-1;
			@include font-lemma;
			color:$light;
			display:block;
			//margin:10px 50px;
			vertical-align: top;
			font-size:20px;
			text-transform: uppercase;
			padding:30px;
		}
		span.fa {
			font-size:12px;
			padding:8px 15px;
			vertical-align: top;
		}
	}
	.prev-page {
		float:left;
		a {
			text-align:right;
		}
	}
	.next-page {
		float:right;
		a {
			text-align:left;
		}
	}
}