.archive, .article, .blog, .page {

	.single-image-wrap {
		max-height:500px;
		overflow:hidden;
		position:relative;
		max-width:1000px;
		width:60%;
		margin:40px auto;
		
		&.media-image-wrap {
			max-height:none;
		}

		a.image-source {
			position:absolute;
			bottom:10px;
			right:10px;
			background:rgba(255,255,255,0.5);
			padding:5px;
			border-bottom:none;
			box-shadow:none; 
			color:$dark-1;
			text-transform:uppercase;
			font-weight:bold;
			font-size:14px;
			&:hover {
				background:rgba(255,255,255,0.7);
			}
		}
		img {
			width:100%;
		}
	}
	.lemma-font p.citation {

		@include font-body;
		font-size:18px;
		color:$dark-1;

		a {
			color:$dark-1;

		}
	}
	.lemma-font .list-line {
		a {
			border-bottom:none;
			box-shadow:none; 

		}
	}
	.single-wrap a.back-to-entities {
			border-bottom:none;
			box-shadow:none; 
			display:none;

	}

}
.single-wrap {
	padding-bottom:30px;
	h1 {
		padding:40px 0 20px;
	}

	.subtitle {
		text-transform:uppercase;
		color:$primary;
		font-size:26px;
	}

}
.single-lines {
	padding:20px 0;
	h2 {
		padding:20px 0 30px;
		font-size:32px;
	}
}
.single .no-results {
	margin: 20px auto;
}
