.text {
	color:$dark-2;
}
.title {
	@include font-title(42px);
	margin:25px auto;
	display:inline-block;
	width:100%;
	cursor:default;
}
.subtitle {
	@include font-title(32px);
	margin:10px auto 0;
	display:inline-block;
	width:100%;
	cursor:default;
	color:$dark-1;
}
.lines {
	margin:50px 0;
}
.line {
	width:66%;
	display:inline-block;
	text-align:left;
	@include transition(width, 300ms, ease-out, 0);

	.line-number {
		cursor:default;
		display:inline-block;
		text-align:left;
		vertical-align: top;
		width:45px;
		overflow:hidden;
	}

	.lemma {

		&:hover {
			.meta-toggle .fa {
				display:block;
			}
		}

		p.text-content, p.text-content span {
			cursor:default;
			display:inline-block;
			vertical-align: top;
			@include font-lemma(22px);
			@include transition(color, 200ms, linear, 0ms);
		}
		.syllable-long {
			position:relative;
			&:before { 
				opacity:0;
				position:absolute;
				left:50%;
				margin-left:-5px;
				top:-5px;
				content:"\00af"; 
				@include transition(opacity, 200ms, linear, 0ms);
			}
		}
		.syllable-short {
			position:relative;
			&:before { 
				opacity:0;
				position:absolute;
				left:50%;
				margin-left:-5px;
				top:-10px;
				content:"\02C7"; 
				@include transition(opacity, 200ms, linear, 0ms);
			}
		}

		&.lemma-fixed {
			position:fixed;
			top:0;
			left:0;
			width:100%;
			padding:15px 3% 5px; 
			background:rgba(255,255,255,0.95);
			z-index:99;

			.meta-toggle {
				right:15px;
				top:15px;
			}
		}

	}
	.meta-tabs {
		width:0;
		height:0;
		opacity:0;
		overflow:hidden;
		display:inline-block;
		vertical-align: top;
		@include transition(all, 100ms, ease-out, 300ms);
		.meta-tab {
			display:inline-block;
			vertical-align: top;
			padding:5px 6px;
			cursor:pointer;		
			margin:0 1px;
			font-size:15px;

			&.selected {
				background:$dark-2;
				color:$light;
			}

			span.fa-bookmark {
				font-size:17px;
				padding:4px 5px 0px 0px;
			}
		}
	}
	.meta-toggle {
		display:inline-block;
		vertical-align:top;
		margin-left:20px;
		@include transition(width, 300ms, ease-out, 00ms);
		span.fa {
			display:none;
			font-size:22px;
			color:rgba(0,0,0,0.3);
			cursor:pointer;
			padding:3px 5px;
			@include transition(transform, 300ms, ease-out, 300ms);
			&:hover {
				color:rgba(0,0,0,0.5);
			}
		}
	}
}
.line.extended {
	width:100%;
	position:relative;
}
.line.with-meta {
	.lemma {
		border-bottom:1px solid rgba(235,235,235,0.9);
		p {
			color:rgba(0,0,0,1);
		}
	}
	.meta-tabs {
		width:auto;
		height:auto;
		float:right;
		margin-right:35px;
		opacity:1;
	}
	.meta-toggle {
		position:absolute;
		right:0;
		top:3px;
		span.fa {
			display:block;
			@include transform(rotate(45deg));
			color:rgba(0,0,0,0.7);
		}
	}
	.meta {
		height:auto;
		padding-bottom:50px;
		opacity:1;
	}
	.line-number span.ng-hide {
		display:block !important;
	}
}
.line.show-scansion {
	p.text-content {
		color:$primary;
	}
	.syllable-long {
		color:$dark-2;
		&:before { 
			opacity:1;

		}
	}
	.syllable-short {
		color:$primary;
		position:relative;
		&:before { 
			opacity:1;
		}
	}
}
.meta {
	text-align:center;
	height:0;
	overflow:hidden;
	opacity:0;
	@include transition(opacity, 100ms, ease-out, 300ms);
}
.meta-section {
	text-align:left;
	height:0;
	opacity:0;
	overflow:hidden;
	@include transition(opacity, 300ms, ease-out, 0ms);
	.meta-section-title {
		margin:33px 0 7px 0.33%;
	}
	.meta-item {
		display:inline-block;
		vertical-align: top;

		width:29%;
		max-height:200px;
		overflow:hidden;
		min-width:200px;

		position:relative;

		margin:20px 2% 20px 2%;
		padding:10px 2px 15px;

		border-top:1px solid rgba(235,235,235,0.9);

		@include box-shadow(inset 0px 0px 50px #fff);

		&.view-more {
			max-height:none;
			.show-more-toggle{
				.fa.fa-minus {
					display:block;
				}
				.fa.fa-plus {
					display:none;
				}
			}
		}

	}
	&.meta-selected {
		height:auto;
		opacity:1;
	}
}
.definitions {
	.meta-item {
		padding-bottom:30px;
	}
	h4.word{
		font-size:20px;
		display:inline-block;
	}
	a.to-perseus {
		text-decoration: underline;
		display:inline-block;
		padding:2px 15px;
		font-size:12px;
		&:hover {
			text-decoration: none;
		}
	}
	.root {
		font-size:17px;
		font-weight:bold;

	}
	.def {
		display:block;
		width:100%;
		font-size:16px;
		margin:6px 0 6px 0px;
	}
	.form {
		display:block;
		width:100%;
		font-size:14px;
		margin:4px 0 4px 10px;
	}
}
.commentary {
	.meta-item {
		padding-bottom:30px;
		padding-right:20px;
		padding-left:10px;
	}
	.comment-ref, .comment-source {
		font-weight:bold;
	}
	.comment-text {
		font-size:16px;
		padding:0 0px;
		line-height:26px;
	}
	.comment-source {
		font-size:14px;
		margin:5px 0;
		display:block;
	}
	.quote {
		display:block;
		padding:10px;
	}
	.in-comment-line {
		display:block;
		padding:2px 0;
		line-height:24px;
	}
}
.articles {
	.article {
		a {
			display:block;
			text-decoration: none !important;
			text-align:left;
			&:hover {
				span{
					color:rgba(0,0,0,1);
				}
				.citation-title {
				}
			}
			&:visited {
				color:#666;
				span {
				}
			}

		}
		span {
			font-size:16px;
			display:block;
		}
		.author {
			font-weight:bold;
			text-align:left;
		}
	}
}
.related-passages {
	cursor:default;
	.author {
		display:inline-block;
		margin-right:10px;
		font-size:20px;
	}
	.work {
		display:inline-block;
		font-size:20px;
	}
	.passage-ref a {

		border-bottom: 1px solid $blue-highlight;
		box-shadow: inset 0 -4px 0 $blue-highlight;
		&:hover {
			border-bottom:none;
			box-shadow:none;
		}
	}
	.passage-ref span {
		font-size:20px;
	}
	.passage-lemma {
		margin:5px 0;
		span {
			font-size:18px;
		}
	}
	.similarity-index {
		font-weight:bold;
	}
}
.meta-section.media {
	margin-top:0;
}

.show-more-toggle {
	position:absolute;
	bottom:0;
	right:0px;
	width:100%;
	height:40px;
	@include background-image(linear-gradient(rgba(255,255,255,0), #fff));

	.fa.fa-plus {
		display:block;
	}
	.fa.fa-minus {
		display:none;
	}

	span {
		position:absolute;
		bottom:0px;
		right:50px;
		padding:7px 10px;
		font-size:12px;
		color:$light;
		background:$dark-1;
		cursor:pointer;
		&:hover {
			background:$dark-2;
		}
	}
}	

.text-browser-tool {
	position:fixed;
	z-index:99;
	bottom:20px;
	right:50px;
	border:1px solid $light-1;
	//border-bottom:2px solid $dark-1;
	background:rgba(255,255,255,1);
	@include box-shadow( 0 1px 3px rgba(0,0,0,.2) );
	span, input {
		@include font-lemma;
	}

	.tool-browser {
		display:inline-block;
		cursor:pointer;
		position:relative;

		.selected-item {
			display:block;
			font-size:22px;
			padding:10px 16px;
			&:hover {
				background:rgba(245,245,245,1);
			}
		}
	}
	.work-browser {
		border-right:1px solid #f0f0f0;
		width:140px;
		.selected-item {
			padding-right:20px;
		}

	}
	.subwork-browser {
		width:80px;
		border-right:1px solid #f0f0f0;
	}
	.line-browser {
		border-right:1px solid #f0f0f0;
		input {
			width:80px;
			padding:5px 5px 5px 10px;
			border:none;
			outline:none;
			font-size:27px;

			&:focus {
				outline:none;
			}
		}
	}
	.translation-tool {
		background:$dark-1;
		margin:0;
		padding:16px 15px;
		vertical-align: top;
		&:hover {
			background:$dark-1;
		}
		&.translation-active {
			background:$dark-2;
		}
		span {
			display:block;
			@include font-body(14px);
			text-transform:uppercase;
			font-weight:800;
			color:#fff;
		}
	}
}
.tool-panel {
	overflow:hidden;
	height:auto;
	position:absolute;
	bottom:52px;
	border-top:1px solid #f0f0f0;
	border-left:1px solid #f0f0f0;
	border-right:1px solid #f0f0f0;
	width:100%;
	z-index:100;
	.work-option, .subwork-option {
		cursor:pointer;
		display:block;
		background:#fff;
		text-align:left;
		border-top:1px solid #f0f0f0;
		&:hover {
			background:$blue-bright;
			color:$light;
		}
	}	
	.work-option {
		padding:15px 25px 15px 20px;
		font-size:18px;
	}
	.subwork-option {
		padding:10px 17px 10px 12px;
		font-size:14px;
	}
	i.close-modal {
		display:none;
		top:20px;
		right:20px;
		font-size:30px;
		cursor:pointer;
		color:$dark-1;
		&:hover {
			color:$dark-2;
		}
	}
}
.no-results {
	display:inline-block;
	vertical-align: top;

	width:29%;
	max-height:310px;
	overflow:hidden;

	position:relative;

	margin:20px 2% 20px 2%;
	padding:10px 2px 15px;

	border-top:1px solid rgba(235,235,235,0.9);
}
.no-lines {
	display:block;
	width:100%;
	text-align:center;
	em {
		@include font-lemma;
		color:$dark-1;
		margin:50px 0;
		display:inline-block;
	}
}
.pre-line {
	cursor:default;
	span, h3 {
		cursor:default;
	}
}
.meta-item.upload {
	display:block;
	border-top:none;
	cursor:pointer;
	&:hover {
		span {
			color:$dark-2;
		}
	}

	h4, span {
		display:inline-block;
		font-size:18px;
		vertical-align:top;
		color:$dark-1;
	}
	span.fa {
		padding:0px 10px 10px;
		font-size:18px;
	}
}
.text-modal {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	overflow-x:hidden;
	z-index:10001;
	background:rgba(255,255,255,0.95);

	.upload-modal-inner {
		padding:40px 0 0px;
		width:80%;
		margin:0 auto;
		text-align:center;
	}

	h3.modal-title {
		font-size:28px;
		margin:0 auto;
		text-align:center;
	}
	
	label.subheading {
		display:block;
		@include font-title;
		font-size:18px;
		color:$dark-2;
		margin:10px 0 10px;
	}

	.help-text {
		font-size:14px;
		color:$dark-2;
		display:block;
		margin:0 auto;
		vertical-align:top;
		width:40%;
		padding:2px 20px 2px 5px;
	}

	span.instructions {
		text-align:center;
		font-size:16px;
		width:60%;
		margin:30px auto;
		display:block;
		color:$dark-1;
	}

	input.upload-link, textarea {
		display:inline-block;
		vertical-align:top;
		padding:10px;
		margin:20px 0;
		width:60%;
		text-align:left;
		font-size:16px;
	}
	textarea {
		height:200px;
	}

	label.media-type-label {
		font-size:16px;
		cursor:pointer;
		padding:5px;
		margin-right:15px;
	}

	input.media-type {
		padding:5px;
	}

	input.submit {
		color:$light;
		background:$dark-2;
		outline:none;
		border:none;
		padding:10px 13%;
		margin:30px auto;
		clear:both;
		display:block;
		&:hover {
			background:$dark;
		}

	}
	span.modal-close {
		position:absolute;
		cursor:pointer;
		top:20px;
		right:40px;
		color:$dark-1;
		font-size:26px;
	}
}
#success_modal {
	text-align:center;
	h3.modal-title {
		font-size:28px;
		margin:50px auto;
		text-align:center;
	}
	p {
		text-align:center;
	}
}
.remove-note {
	position:absolute;
	top:10px;
	right:10px;
	font-size:20px;
	cursor:pointer;
	color:$dark-1;
	&:hover {
		color:$dark-2;
	}
}
.not-bookmarked {
	span {
		color:$primary;
	}
}
.bookmarked {
	span {
		color:$blue-bright;
	}
}
.my_notes .note {
	min-height:100px;
}
.my_notes .comment-text {
	cursor:pointer;
	&:hover {
		color:#000;
	}
}

#translation_panel {
	position:fixed;
	background:rgba(245,245,245,0.96);
	bottom:0;
	left:0;
	padding:10px;
	width:100%;
	height:240px;
	text-align:left;
	border-top:1px solid $light-1;
	z-index:999;
	display:none;

	.translation-panel-inner {
		position:relative;
		width:90%;
		margin:0 auto;
		padding:0;
	}
	p {
		display:block;
		@include font-lemma(18px);
		font-weight:100;
		line-height:30px;
		margin:0px auto 2px;
	}
	.translation-body {
		padding:0px 100px 0px 20px;
		display:inline-block;
		width:79.7%;
		float:right;
		margin:15px 4% 15px auto;
		vertical-align: top;
		overflow-y:scroll;
		overflow-x:hidden;
		height:190px;
		// Style the derpy default scrollbar
		&::-webkit-scrollbar {
		    width: 8px;
		} 
		/* Track */
		&::-webkit-scrollbar-track {
		    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
		    //-webkit-border-radius: 2px;
		    //border-radius: 2px;
		}
		 
		/* Handle */
		&::-webkit-scrollbar-thumb {
		    //-webkit-border-radius: 2px;
		    //border-radius: 2px;
		    background: $primary;
		    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
		}
		&::-webkit-scrollbar-thumb:window-inactive {
			background: rgba(255,0,0,0.4); 
		}
	}
	.translation-options {
		position:absolute;
		left:0;
		top:20px;

		.option {
			padding:7px 12px;
			margin:5px;
			cursor:pointer;
			display:inline-block;
			clear:both;
			float:left;
			background:$light-2;
			border:1px solid $light-1;

			span {
				font-size:16px;
				display:block;
			}

			&:hover {
				background:#444;
				border:1px solid #444;
				color:$light;
			}
			&.selected-translation {
				background:$dark-2;
				border:1px solid #444;

				color:$light;
			}
		}
	}
	.close-translation {
		position:absolute;
		right:30px;
		top:20px;
		color:$primary;
		cursor:pointer;
		&:hover {
			color:$dark-1;
		}
		span {
			font-size:30px;

		}
	}

}