.user-profile-tease {
	a {
		width:100%;
		padding:20px;
	}
	.user-image-wrap {
		@include border-radius(100px);
		overflow:hidden;
		vertical-align: top;
		width:40px;
		height:40px;
		display:inline-block;
		img {
			width:40px;
		}
	}	
	h3 {
		vertical-align: top;
		display:inline-block;
		font-size:20px;
		padding:10px 0 10px 10px;
		margin:0;
	}
}
