/*
 *
 *
 * Base theme SCSS for Compass, containing pertinent
 * site variables for the segetes application 
 *
 */



// Import Libraries  
@import "compass";
@import "compass/css3/border-radius";
@import "compass/css3/filter";
@import "compass/css3/transform";



/*
 * Portfolio Color palette 
 *
 */

// threshold
$light: #fff;
$dark: #222;

// colors
$primary: #aaa; 
$light-2: #f0f0f0; 
$light-1: #ddd; 
$dark-1: rgba(0,0,0,.6); 
$dark-2: rgba(0,0,0,.8); 
$blue:rgba(15, 63, 87, 1);
$blue-bright:#3c948b;
$blue-highlight:#82C0BA;
$blue-dark:rgba(4,34,49,1);
$blue-dark-trans-50:rgba(4,34,49,0.5);
$blue: rgba( 60,148,139,1);
$blue-light-2: rgba(152,212,206,1);
$blue-light-1: rgba( 97,177,168,1);
$blue-dark-1: rgba( 37,130,120,1);
$blue-dark-2: rgba( 18,107, 97,1);

// General help colors
$trans-light-9: rgba(255,255,255,.9);
$trans-light-8: rgba(255,255,255,.8);
$opaque-dark-1: rgba(100,100,100,1);
$opaque-dark-2: rgba(50,50,50,1);

/*
 * Fonts  
 *
 */

@mixin font-body( $size : 17px ) {
	font-family: 'Open Sans', sans-serif;
	font-size: $size;
	font-weight:300;
}
@mixin font-title( $size : 24px ) {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: $size;
	font-weight:bold;
}
@mixin font-accent( $size : 24px ) {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: $size;
	font-weight:bold;
}
@mixin font-lemma( $size: 24px ) {
	font-family: 'Merriweather', serif;
	font-size: $size;
}

	 
// Load Glyphicons fonts
@font-face {
  font-family: 'Glyphicons';
  src: url('/bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.eot');
  src: url('/bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.woff') format('woff'), url('/bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('/bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}




/*
 * Util Mixins 
 *
 */

// Easy cross browser transition 
@mixin transition( $property: all, $duration: 1s, $effect: linear, $delay: 0 ) {
	-webkit-transition: $property $duration $effect $delay;
	-moz-transition: $property $duration $effect $delay;
	-o-transition: $property $duration $effect $delay;
	transition: $property $duration $effect $delay;
}

// Easy cross browser opacity
@mixin opacity( $value: 0.5 ) {
 	  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=($value * 100));
 	  filter: alpha(opacity=($value * 100));
 	  -moz-opacity: $value;
 	  -khtml-opacity: $value;
 	  opacity: $value;
}


// libraries
@import "/bower_components/bootstrap/dist/css/bootstrap.css";

// app styles
@import "_global.scss";
@import "_archive.scss";
@import "_list.scss";
@import "_single.scss";
@import "_text.scss";
@import "_page.scss";
@import "_pagination.scss";
@import "_user.scss";
@import "_index.scss";
@import "_admin.scss";
@import "_responsive.scss";
@import "_impress.scss";
