extends ../base

block page_content

	div.ng-page(data-ng-controller="SingleController as single" data-ng-init="init()")
		article.single.page.entity-page

			div.grid.inner

				div.content-wrap
					div.single-wrap.media-wrap(ng-repeat="item in media")
						//a.back-to-entities(href="/entities") Entities

						h1.title {{ item.title }} 
						
						div.article-content.lemma-font

							div.single-image-wrap.media-image-wrap 
								a.image-source(href="{{item.link}}" target="_blank") Image via Wikimedia.org
								img(ng-hide="!item.thumbnail.length" ng-src="{{item.thumbnail | thumb_large_uncropped}}")
							p(ng-hide="!item.desc.length") {{ item.desc }}
							div.single-geo.geo(ng-show="item.geo")
								h2 Location 
								div.map-wrap
									div#map

							div.single-lines.media-lines
								h2 Lines
								div.list-line(ng-repeat="line in item.lines" data-id="{{line._id}}")
									a(href="/{{line.work}}/{{line.subwork.n}}/{{line.line.n}}")
										span.line-item.line-work {{line.work | capitalize}}
										span.line-item.line-subwork {{line.subwork.n | roman_numeral}}
										span.line-item.line-number {{line.line.n}}
										span.line-item.line-text {{line.line.text}}
								div.no-results(ng-show="!item.lines.length"): span No lines.


	script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBSmL2OeiMDtZZQuWsVg0zkabObu0WpNHg")
