extends base

block page_content

	div.ng-page(data-ng-controller="PageController as page")
		article.page

			div.grid.inner

				div.content-wrap

					h1.title Visualizations 
					
					div.article-content.lemma-font
						div#container1.container

						
